.bs-example.box:after {
    content: 'Vagrant Box';
}
.bs-example.symfony:after {
    content: 'Symfony';
}
.bs-example.php:after {
    content: 'PHP';
}
.bs-example.webserver:after {
    content: 'Webserver';
}
.bs-example.database:after {
    content: 'Database';
}
.bs-example.project:after {
    content: 'Your Project';
}
