.text-large {
    font-size: 2em;
}

#logo {
    width: 100%;
    max-width: 140px;
}

button.addParentContainer {
    margin-bottom: 20px;
}

button.tall {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*
 * Top nav bar
 */
div.navbar {
    color: #fff;
    background-color: #4c9bd8;
    border-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.dropdown-menu > li > a {
    color: #4c9bd8;
}

.nav > li > ul.nav > li > a {
    padding: 5px 15px;
}

.nav .nav > li > ul {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: 90%;
}

/*
 * Group Tabs
  */
.group-tabs {
    border-bottom: none;
}

.group-nav {
    margin-bottom: 10px;
}

.group-tabs > li > a {
    color: #000;
    background-color: #eee;
}

.group-tabs > li.active > a,
.group-tabs > li.active > a:hover,
.group-tabs > li.active > a:focus {
    color: #fff;
    background-color: #f0ad4e;
}

.panel-body .tab-content code {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

/*
 * Footer
 */
footer .img-thumbnail img {
    width: 50px;
    height: 50px;
}

/*
 * Selectize
 */
.selectize-control.multi .selectize-input > div,
.selectize-input .item {
    color: #fff;
    background: #428bca;
    border: #a7d7c6;
}

.selectize-control.multi .selectize-input > div.active,
.selectize-input .item {
    background: #428bca;
}

.selectize-input .item  {
    padding: 1px 3px;
    margin: 0 3px 3px 0;
    cursor: pointer;
    border: 0 solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectize-dropdown .optgroup:before {
    background-color: #000;
}

.selectize-dropdown .optgroup-header {
    margin: 10px 0;
    color: #000;
    font-weight: bold;
}

.selectize-dropdown .optgroup .option {
    margin-left: 10px;
}

/*
 * Extension CSS
 * @todo: Move this into each extensions' public folder
 */
.php-version-5-5 {
  background-color: #5cb85c;
}

.php-version-5-4 {
  background-color: #5bc0de;
}

.php-version-5-3 {
  background-color: #f0ad4e;
}
