.left-indent .select2-container-multi .select2-choices {
    margin-left: -20px;
    margin-bottom: 10px;
}

.controls.input-prepend {
    margin-left: 20px;
}

.input-append .active, .input-prepend .active {
    background-color: #2fa4e7;
    border-color: #034482;
    color: #fff;
}

.multiselect-container.dropdown-menu .active label {
    color: #fff;
}

.tabbable {
    margin-bottom: 10px;
}

h2.page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #e5e5e5;
}
