.full-width {
    width: 100%;
}

.bs-header {
    background: #fff;
}

.bs-footer {
    background: #fff;
}

.col-lg-9 {
    background: #fff;
}

.bs-header h1 {
    color: #317eac;
}

#logo {
    width: 150px;
    height: 161px;
    margin: 10px 10px 0 0;
    float: left;
}

code {
    white-space: normal;
}

/* Top nav and header
-------------------------------------------------- */
.bs-docs-nav {
    background-color: #45aeea;
}

.bs-docs-container {
    position: relative;
}

.bs-footer {
    position: relative;
}

.bs-docs-nav .navbar-toggle {
    border-color: #428bca;
}

.bs-docs-nav .navbar-toggle:hover {
    background-color: #428bca;
    border-color: #428bca;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.bs-docs-nav .navbar-brand {
    font-size: 135%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.bs-sidenav {
    background-color: #fafafa;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: 500;
    color: #2fa4e7;
    background-color: transparent;
    border-right: 1px solid #2fa4e7;
}

.bs-docs-nav .navbar-nav > li > a {
    font-size: 135%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.bs-docs-nav .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #1684c2;
}

.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #1684c2;
}

.bs-example {
    margin-bottom: 15px;
}

#vagrant .bs-example.os:after {
    content: 'Operating System';
}

#vagrant .bs-example.sharedFolders:after {
    content: 'Sharing Your Folders';
}

#server .bs-example.packages:after {
    content: 'Choose Your Packages';
}

#server .bs-example.dot_files:after {
    content: '~/.dot_files';
}

#apache .bs-example.modules:after {
    content: 'Enabled Apache Modules';
}

#apache .bs-example.vhost:after {
    content: 'Add Apache Virtual Host';
}

#nginx .bs-example.vhost:after {
    content: 'Add Nginx Virtual Host';
}

#php .bs-example.quickSettings:after {
    content: 'Quick Settings';
}

#php .bs-example.pear:after {
    content: 'PEAR & PECL Extensions'
}

#php .bs-example.xdebug:after {
    content: 'Setup XDebug'
}

#php .bs-example.xhprof:after {
    content: 'Setup XHProf'
}

#php .bs-example.installedPackages:after {
    content: 'Installed Packages';
}

#php .bs-example.timezone:after {
    content: 'Select timezone';
}

#php .bs-example.iniSettings:after {
    content: '.ini Settings';
}

#mysql .bs-example.rootPassword:after,
#postgresql .bs-example.rootPassword:after {
    content: 'Root User Password';
}

#mysql .bs-example.quickSettings:after {
    content: 'Quick Settings';
}

#mysql .bs-example.createUserDb:after,
#postgresql .bs-example.createUserDb:after {
    content: 'Create User & Database';
}

#vagrant .bs-example.localProvider:after {
    content: 'Set Up VM Locally';
}

#vagrant .bs-example.digitalOceanProvider:after {
    content: 'Digital Ocean';
}

#vagrant .bs-example.rackspaceProvider:after {
    content: 'Rackspace';
}

.tab-content {
    padding-top: 15px;
}

.svgIcon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    float: left;
}

.bs-top {
    z-index: 999 !important;
}

.tags,
.selectTags {
    width: 100% !important;
}

#contributors .img-thumbnail {
    margin: 5px;
}

.bs-header .carbon-container {
    margin-top: 10px;
}

/* Phones */
@media screen and (max-width: 767px) {
    .sidebar-container,
    .bs-header .text-slogan {
        display: none;
    }

    .bs-header .logo-container,
    .bs-header .carbon-container {
        width: 50%;
    }
}

/* Tablets and up */
@media screen and (min-width: 768px) {
    body.index {
        background: #fff url('../img/bg.png') no-repeat;
        background-size: 50% 100%;
    }

    .container {
        max-width: 100%;
    }

    .min-span-1 {
        min-width: 70px;
    }

    .min-span-2 {
        min-width: 140px;
    }

    .min-span-3 {
        min-width: 210px;
    }

    .min-span-4 {
        min-width: 280px;
    }

    .min-span-5 {
        min-width: 350px;
    }

    .min-span-6 {
        min-width: 420px;
    }

    .min-span-7 {
        min-width: 490px;
    }

    .min-span-8 {
        min-width: 560px;
    }

    .min-span-9 {
        min-width: 630px;
    }

    .min-span-10 {
        min-width: 700px;
    }

    .min-span-11 {
        min-width: 770px;
    }

    .min-span-12 {
        min-width: 840px;
    }

    .max-span-1 {
        max-width: 70px;
    }

    .max-span-2 {
        max-width: 140px;
    }

    .max-span-3 {
        max-width: 210px;
    }

    .max-span-4 {
        max-width: 280px;
    }

    .max-span-5 {
        max-width: 350px;
    }

    .max-span-6 {
        max-width: 420px;
    }

    .max-span-7 {
        max-width: 490px;
    }

    .max-span-8 {
        max-width: 560px;
    }

    .max-span-9 {
        max-width: 630px;
    }

    .max-span-10 {
        max-width: 700px;
    }

    .max-span-11 {
        max-width: 770px;
    }

    .max-span-12 {
        max-width: 840px;
    }

    .sidebar-container {
        padding-right: 0;
    }

    .bs-sidebar.affix {
        position: fixed;
        top: 50px;
        bottom: 0;
    }

    .bs-sidenav {
        height: 100%;
    }

    .bs-docs-container .col-lg-3 {
        max-width: 190px;
    }

    .bs-sidebar,
    .bs-sidebar.affix{
        width: 175px;
    }

    .bs-footer {
        margin-top: 0;
    }

    .bs-sidebar .nav > li > a {
        font-size: 1.5em;
    }

    .bs-docs-section {
        padding-top: 40px;
    }

    .bs-sidenav li {
        margin-bottom: 15px;
    }

    .sidebar-container .svgIcon {
        width: 20px;
        height: 20px;
    }
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
    .bs-docs-container .col-lg-3 {
        max-width: 245px;
    }

    .bs-sidebar,
    .bs-sidebar.affix{
        width: 230px;
    }

    .bs-sidebar .nav > li > a {
        font-size: 2em;
    }

    .bs-sidenav li {
        margin-bottom: 15px;
    }

    .bs-sidebar .nav > .active > ul {
        margin-left: 40px;
    }

    .sidebar-container .svgIcon {
        width: 40px;
        height: 40px;
    }

    .content-container .svgIcon {
        width: 92px;
        height: 92px;
    }

    .content-container .page-header h1 {
        font-size: 56px;
        line-height: 1.4em;
    }
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {
    .bs-docs-container .col-lg-3 {
        max-width: 295px;
    }

    .bs-sidebar,
    .bs-sidebar.affix {
        width: 280px;
    }

    .bs-sidebar .nav > li > a {
        font-size: 2.5em;
    }

    .bs-sidenav li {
        margin-bottom: 15px;
    }

    .bs-sidebar .nav > .active > ul {
        margin-left: 60px;
    }

    .sidebar-container .svgIcon {
        width: 48px;
        height: 48px;
    }

    .content-container .svgIcon {
        width: 100px;
        height: 100px;
    }

    .content-container .page-header h1 {
        font-size: 64px;
        line-height: 1.5em;
    }
}


@media screen and (min-width: 1480px) {
    .col-lg-9 {
        width: 80%;
    }
}
