body {
    padding-top: 75px;
    padding-bottom: 215px;
}

@media screen and (min-width: 558px) {
    body {
        padding-bottom: 160px;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 991px) {
    body {
        padding-bottom: 185px;
    }
}

#logo {
    width: 100%;
    max-width: 200px;
}

button.addParentContainer {
    margin-bottom: 20px;
}

button.tall {
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron {
    padding: 25px 30px 5px;
    margin-bottom: 5px;
    background-color: rgba(249, 249, 249, .3);
    color: #fff;
}

.navbar-fixed-bottom.well {
    margin-bottom: 0;
    padding: 10px;
}

.navbar-fixed-bottom .pagination.hidden-md {
    margin: 5px 0;
}

.navbar-fixed-bottom .pagination.hidden-md a {
    font-size: 2em;
}

.navbar-fixed-bottom .btn-group {
    margin-bottom: 5px;
}

.navbar-fixed-bottom .breadcrumb {
    margin-bottom: 0;
    border-width: 0;
}

.navbar-fixed-bottom .breadcrumb > li+li:before {
    content: "/";
}

.nav-tabs > li > a {
    background-color: #e7e7e7;
}

/*
 * Selectize
 */
.selectize-control.multi .selectize-input > div,
.selectize-input .item {
    color: #fff;
    background: #428bca;
    border: #a7d7c6;
}

.selectize-control.multi .selectize-input > div.active,
.selectize-input .item {
    background: #428bca;
}

.selectize-input .item  {
    padding: 1px 3px;
    margin: 0 3px 3px 0;
    cursor: pointer;
    border: 0 solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectize-dropdown .optgroup:before {
    background-color: #000;
}

.selectize-dropdown .optgroup-header {
    margin: 10px 0;
    color: #000;
    font-weight: bold;
}

.selectize-dropdown .optgroup .option {
    margin-left: 10px;
}

/*
 * Little badges of PHP versions
 */
.php-version-5-5 {
  background-color: #5cb85c;
}

.php-version-5-4 {
  background-color: #5bc0de;
}

.php-version-5-3 {
  background-color: #f0ad4e;
}

.php-version-HHVM {
  background-color: #45679e;
}

/*
 * Drag and drop overlay
 */
#drag-drop {
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    opacity: 0.9;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#drag-drop p {
    width: 100%;
    text-align: center;
    color: #4c9bd8;
    position: absolute;
    top: 40%;

    font-size: 6em;
    font-weight: 700;
    line-height: 1em;
    display: block;
    text-shadow: 3px 3px 4px #000;
    z-index: -1;
}
