body {
    background: url('/assets/img/tweed.png');
}

.text-large {
    font-size: 2em;
}

#logo {
    width: 100%;
    max-width: 200px;
}

button.addParentContainer {
    margin-bottom: 20px;
}

button.tall {
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron {
    padding: 25px 30px 5px;
    margin-bottom: 5px;
    background-color: rgba(249, 249, 249, .3);
    color: #fff;
}

#main {
    padding-top: 30px;
    padding-bottom: 30px;
}

#main > .container {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f9f9f9;
    border: 1px solid transparent;
    border-radius: 4px;
}

.padded-fieldset fieldset {
    margin-bottom: 15px;
}

.alert-info {
    background-color: #E5E9EB;
}

code {
    background-color: #eed9cd;
}

.btn-success {
    background-color: #3F9E3F;
}

/*
 * Top nav bar
 */
div.navbar {
    color: #fff;
    background-color: #4c9bd8;
    border-color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4187bb;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #4c9bd8;
    background-color: #fff;
}

.dropdown-menu > li > a {
    color: #4c9bd8;
}

.nav > li > ul.nav > li > a {
    padding: 5px 15px;
}

.nav .nav > li > ul {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: 90%;
}

/*
 * Group Tabs
 */
.group-tabs {
    border-bottom: none;
}

.group-nav {
    margin-bottom: 10px;
    padding: 0 15px;
}

.group-tabs > li > a,
.group-tabs > li > a:hover,
.group-tabs > li > a:focus {
    background-color: #ddd;
}

.group-tabs > li.active > a:hover,
.group-tabs > li.active > a:focus {
}

.group-tabs > li.active > a,
.group-tabs > li.active > a:hover,
.group-tabs > li.active > a:focus {
}

.panel-body .tab-content code {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

/*
 * Nav Pills
 */

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: #e8e8e8;
}

/*
 * Side Menu
 */

.affix-bottom {
    position: absolute;
}

#nav-sidebar.affix {
    top: 50px;
}

#nav-sidebar .nav > li > a {
    padding: 5px 10px;
}

#nav-sidebar .nav > li > a:hover,
#nav-sidebar .nav > li > a:focus {
    margin-left: -3px;
    border-left: 3px solid #f0ad4e;
    background-color: #e8e8e8;
}

#nav-sidebar .nav > li.active {
    border-right: 3px solid #f0ad4e;
    border-left: 3px solid #f0ad4e;
    margin-left: -3px;
    background: #4C9BD8;
}

#nav-sidebar .nav > li.active > a:hover {
    background: #4C9BD8;
}

#nav-sidebar .nav > li.active > a {
    color: #fff;
}

#nav-sidebar .nav > li p {
    margin: 0 0 0 35px;
}

#nav-sidebar .nav > li p a {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    display: block;
    color: #4C9BD8;
}

#nav-sidebar .nav > li p a {
    padding: 2px 0;
}

#nav-sidebar .nav > li.active p a {
    color: #fff;
}

#nav-sidebar .nav > li.active p a .glyphicon {
    color: #fff !important;
}

#nav-sidebar .nav > li p a .glyphicon {
    visibility: hidden;
}

#nav-sidebar .nav > li p a .glyphicon.active {
    visibility: visible;
}

/*
 * Panels
 */

.panel-default > .panel-heading {
    background-color: #e8e8e8;
}

.panel-body {
    background: #f1f1f1;
}

/*
 * Footer
 */

footer {
    margin: 0;
    padding: 2em 0;
    background: #f9f9f9;
}

footer .img-thumbnail img {
    width: 50px;
    height: 50px;
}

/*
 * Selectize
 */
.selectize-control.multi .selectize-input > div,
.selectize-input .item {
    color: #fff;
    background: #428bca;
    border: #a7d7c6;
}

.selectize-control.multi .selectize-input > div.active,
.selectize-input .item {
    background: #428bca;
}

.selectize-input .item  {
    padding: 1px 3px;
    margin: 0 3px 3px 0;
    cursor: pointer;
    border: 0 solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectize-dropdown .optgroup:before {
    background-color: #000;
}

.selectize-dropdown .optgroup-header {
    margin: 10px 0;
    color: #000;
    font-weight: bold;
}

.selectize-dropdown .optgroup .option {
    margin-left: 10px;
}

/*
 * Extension CSS
 * @todo: Move this into each extensions' public folder
 */
.php-version-5-5 {
  background-color: #5cb85c;
}

.php-version-5-4 {
  background-color: #5bc0de;
}

.php-version-5-3 {
  background-color: #f0ad4e;
}

.php-version-HHVM {
  background-color: #45679e;
}

/*
 * Drag and drop overlay
 */
#drag-drop {
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    opacity: 0.9;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#drag-drop p {
    width: 100%;
    text-align: center;
    color: #4c9bd8;
    position: absolute;
    top: 40%;

    font-size: 6em;
    font-weight: 700;
    line-height: 1em;
    display: block;
    text-shadow: 3px 3px 4px #000;
    z-index: -1;
}

/* ===============================================
   Responsive
================================================== */
@media screen and (min-width: 768px) {
    .nav.affix, .nav.affix-bottom {
        width: 158px;
    }
}

@media screen and (min-width: 992px) {
    .nav.affix, .nav.affix-bottom {
        width: 213px;
    }
}

@media screen and (min-width: 1200px) {
    .nav.affix, .nav.affix-bottom {
        width: 263px;
    }
}
