{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<section id="nodejs">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">NodeJS Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="install-checkbox"
                                   name="nodejs[install]"
                                   data-hide-on-uncheck="#nodejs-config-container"
                                   {% if nodejs.install %}checked{% endif %} value="1" />
                            Install NodeJS
                            {{ popover.small("Node.js is a platform built on Chrome's JavaScript runtime for
                                                easily building fast, scalable network applications.") }}
                        </label>
                    </div>
                </div>

                <div class="{% if not nodejs.install %}hidden{% endif %}" id="nodejs-config-container">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label for="nodejs-npm_packages">Npm Packages</label>
                                <select id="nodejs-npm_packages" name="nodejs[npm_packages][]"
                                        multiple class="form-control select-tags-editable">
                                    {% for package in nodejs.npm_packages %}
                                        <option selected value="{{ package }}">{{ package }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
