target: ~

vm:
    provider:
        gce:
            project_id: ~
            client_email: ~
            key_location: ~
            image: ~
            machines: []
    provision:
        puppet:
            manifests_path: "puphpet/puppet/manifests"
            module_path:
                - "puphpet/puppet/modules"
                - "puphpet/puppet/manifests"
            options:
                - "--verbose"
                - "--hiera_config /vagrant/puphpet/puppet/hiera.yaml"
    synced_folder: []
ssh:
    username: ~
    private_key_path: ~
    public_key_path: ~
