<div class="collapse-container" id="vagrantfile-linode-instructions-container">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#vagrantfile-linode-instructions-container"
               href="#vagrantfile-linode-instructions-content">
                <i class="glyphicon glyphicon-plus"></i>
                Linode Instructions
            </a>
        </h3>
    </div>

    <div id="vagrantfile-linode-instructions-content" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <h3>Linode</h3>

                <p>
                    Don't have a Linode account?
                    <a href="https://www.linode.com/" target="_blank">Click here to create one</a>
                </p>

                <p>
                    Login to Linode and
                    <a href="https://manager.linode.com/profile/api" target="_blank">go to the API page</a>.
                    You will need an API Key.
                </p>
            </div>

            <div>
                <h3>Installation Requirements</h3>

                <p>Run the following commands from your host's terminal (not within the VM):</p>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#linode-instructions-mac" data-toggle="pill">Mac</a></li>
                    <li><a href="#linode-instructions-windows" data-toggle="pill">Windows</a></li>
                    <li><a href="#linode-instructions-linux" data-toggle="pill">Linux</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="linode-instructions-mac">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-linode<br />
                            $ vagrant box add dummy https://github.com/displague/vagrant-linode/raw/master/box/linode.box
                        </code>
                    </div>
                    <div class="tab-pane" id="linode-instructions-windows">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-linode<br />
                            $ vagrant box add dummy https://github.com/displague/vagrant-linode/raw/master/box/linode.box
                        </code>

                        <div class="clearfix"></div>

                        <p>
                            You need rsync installed. Easiest way is to use Cygwin and install it through there.
                            Alternatively, you can
                            <a href="https://www.itefix.no/i2/content/cwrsync-free-edition" target="_blank">install rsync separately</a>
                            and add it to your PATH.
                        </p>
                    </div>
                    <div class="tab-pane" id="linode-instructions-linux">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-linode<br />
                            $ vagrant box add dummy https://github.com/displague/vagrant-linode/raw/master/box/linode.box
                        </code>
                    </div>
                </div>
            </div>

            <div>
                <h3>Accessing Your VM</h3>

                <p>
                    To access your VM after running <code>$ vagrant up</code>, type
                    <code>$ vagrant ssh-config</code> to get the IP address assigned to the server you created,
                    and add the IP address to your computer's hosts file. Type <code>$ vagrant ssh</code> to
                    be immediately connected via SSH to your new server!
                </p>
            </div>

            <div>
                <h3 class="text-warning">If you choose CentOS</h3>

                <p>
                    The CentOS distributions do not ship with <code>rsync</code> installed! The first time you run
                    <code>$ vagrant up</code> IT WILL ERROR, but this is OK! Simply <code>$ vagrant ssh</code>
                    and type <code>$ sudo yum install rsync</code>. Once it finished installing, run
                    <code>$ vagrant provision</code>.
                </p>
            </div>
        </div>
    </div>
</div>
