<div class="section-header hidden">
    <h1>Redis</h1>
    <p class="lead">Install Redis.</p>
</div>

<div class="form-group">
    <div class="clearfix"><label>Install</label></div>

    <label class="col-xs-12 radio-tile">
        <input type="checkbox" name="redis[install]" value="1"
               class="invisible toggle-on-select"
               {% if redis.install %}checked{% endif %}
               data-vis-toggle-target="#redis-container" />
        <span class="content">
            <span class="header large">
                <i class="icon"></i>
                <span class="title">Install Redis</span>
            </span>
            <span class="footer">
                An open source, advanced key-value store.
            </span>
        </span>
    </label>

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="redis-container" class="{% if not redis.install %}hidden{% endif %}">
    <div class="form-group col-xs-6">
        <label for="redis-settings-conf_port">Listen Port</label>
        <input type="text" id="redis-settings-conf_port"
               name="redis[settings][conf_port]"
               placeholder="5673" class="form-control"
               value="{{ redis.settings.conf_port }}" />
    </div>

    <div class="clearfix"></div>
</div>
