{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="apache">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                {% for vhost in apache.vhosts %}
                    {% include 'PuphpetExtensionApacheBundle:sections:vhost.html.twig' with {'vhost': vhost, 'available_engines': apache.available_engines} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.apache.vhost') }}">Add another Apache vhost</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
