<div class="tab-pane fade in" id="create">
    <div class="page-header compact">
        <h1><i class="fa fa-magic"></i> Create Your Manifest!</h1>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block tall text-large">
                Go ahead then, make it!
            </button>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#search-server">â† Search Servers</a></li>
    </ul>
</div>
