<div class="tab-pane fade in" id="create">
    <div class="page-header compact">
        <h1><i class="fa fa-magic"></i> Create Your Manifest!</h1>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block tall text-large">
        Go ahead then, make it!
    </button>
</div>
