<div class="tab-pane active" id="vagrantfile-local">
    {% include 'PuphpetMainBundle:vagrantfile-local:form.html.twig' with {'data': extensions.vagrantfile_local.data} %}
</div>
<div class="tab-pane" id="vagrantfile-rackspace">
    {% include 'PuphpetMainBundle:vagrantfile-rackspace:form.html.twig' with {'data': extensions.vagrantfile_rackspace.data} %}
</div>
<div class="tab-pane" id="vagrantfile-linode">
    {% include 'PuphpetMainBundle:vagrantfile-linode:form.html.twig' with {'data': extensions.vagrantfile_linode.data} %}
</div>
<div class="tab-pane" id="vagrantfile-softlayer">
    {% include 'PuphpetMainBundle:vagrantfile-softlayer:form.html.twig' with {'data': extensions.vagrantfile_softlayer.data} %}
</div>
<div class="tab-pane" id="vagrantfile-aws">
    {% include 'PuphpetMainBundle:vagrantfile-aws:form.html.twig' with {'data': extensions.vagrantfile_aws.data} %}
</div>
<div class="tab-pane" id="vagrantfile-gce">
    {% include 'PuphpetMainBundle:vagrantfile-gce:form.html.twig' with {'data': extensions.vagrantfile_gce.data} %}
</div>
<div class="tab-pane" id="vagrantfile-digitalocean">
    {% include 'PuphpetMainBundle:vagrantfile-digitalocean:form.html.twig' with {'data': extensions.vagrantfile_digitalocean.data} %}
</div>
<div class="tab-pane" id="vagrantfile-ikoulacloud">
    {% include 'PuphpetMainBundle:vagrantfile-ikoulacloud:form.html.twig' with {'data': extensions.vagrantfile_ikoulacloud.data} %}
</div>
