<div class="tab-pane fade in active" id="deploy-target">
    <div class="page-header compact">
        <h1><i class="fa fa-cloud"></i> Where do you want your virtual machine?</h1>
    </div>
    <ul class="nav nav-tabs icon-bar single-select">
        <li class="col-xs-2 active">
            <a href="#vagrantfile-local-tab" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/local-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/local-inactive.png') }}" class="tab-icon-inactive" />
                    Locally
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="vagrantfile-local-tab">
            {% set extension = extensionManager.getExtensionBySlug('vagrantfile-local') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="next"><a href="#firewall">Firewall Rules →</a></li>
    </ul>
</div>
