<div class="tab-pane fade in" id="firewall">
    <div class="page-header compact">
        <h1><i class="fa fa-exclamation-triangle"></i> Firewall Rules</h1>
    </div>

    {% set extension = extensionManager.getExtensionBySlug('firewall') %}
    {{ extension.renderFront(extension.data)|raw }}

    <ul class="pager">
        <li class="previous"><a href="#server">← Server Packages</a></li>
        <li class="next"><a href="#webserver">Web Servers →</a></li>
    </ul>
</div>
