<div class="tab-pane" id="php">
    {% include 'PuphpetMainBundle:php:form.html.twig' with {
        'php': extensions.php.data,
        'xdebug': extensions.xdebug.data,
        'xhprof': extensions.xhprof.data,
        'wpcli': extensions.wpcli.data,
        'drush': extensions.drush.data
    } %}
</div>
<div class="tab-pane" id="ruby">
    {% include 'PuphpetMainBundle:ruby:form.html.twig' with { 'ruby': extensions.ruby.data } %}
</div>
