<div class="tab-pane" id="mailcatcher">
    {% include 'PuphpetMainBundle:mailcatcher:form.html.twig' with {'mailcatcher': add_available(extensions.mailcatcher.merged, extensions.mailcatcher.available)} %}
</div>
