<div class="tab-pane fade in" id="search-server">
    <div class="page-header compact">
        <h1><i class="fa fa-search"></i> Search Servers</h1>
    </div>

    <ul class="nav nav-tabs icon-bar">
        <li class="col-xs-2 active">
            <a href="#elastic_search" data-toggle="tab">
                <div class="tab-icon">
                    <img src="{{ asset('assets/v4/img/vendors/elasticsearch-active.png') }}" class="tab-icon-active" />
                    <img src="{{ asset('assets/v4/img/vendors/elasticsearch-inactive.png') }}" class="tab-icon-inactive" />
                    Elastic Search
                </div>
            </a>
        </li>
        <li class="col-xs-2">
            <a href="#solr" data-toggle="tab">
                <div class="tab-icon">
                    <img src="/assets/v4/img/vendors/solr-active.png" class="tab-icon-active" />
                    <img src="/assets/v4/img/vendors/solr-inactive.png" class="tab-icon-inactive" />
                    Apache Solr
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="elastic_search">
            {% set extension = extensionManager.getExtensionBySlug('elastic_search') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
        <div class="tab-pane" id="solr">
            {% set extension = extensionManager.getExtensionBySlug('solr') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#database">← Databases</a></li>
        <li class="next"><a href="#create">Create →</a></li>
    </ul>
</div>
