<div class="tab-pane fade in" id="search-server">
    <div class="page-header compact">
        <h1><i class="fa fa-search"></i> Search Servers</h1>
    </div>
    <ul class="nav nav-tabs icon-bar">
        <li class="col-xs-3 active">
            <a href="#elastic_search" data-toggle="tab">
                <div class="tab-icon">
                    <img src="/assets/v4/img/vendors/elasticsearch-active.png" class="tab-icon-active" />
                    <img src="/assets/v4/img/vendors/elasticsearch-inactive.png" class="tab-icon-inactive" />
                    Elastic Search
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="elastic_search">
            {% set extension = extensionManager.getExtensionBySlug('elastic_search') %}
            {{ extension.renderFront(extension.data)|raw }}
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#work-queue">← Work Queues</a></li>
        <li class="next"><a href="#create">Create →</a></li>
    </ul>
</div>
