<div class="tab-pane fade in" id="server">
    <div class="page-header compact">
        <h1><i class="fa fa-cogs"></i> Server Basics</h1>
    </div>

    {% set extension = extensionManager.getExtensionBySlug('server') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
