<div class="tab-pane" id="system-packages">
    {% include 'PuphpetMainBundle:server:form.html.twig' with {'server': add_available(extensions.server.merged, extensions.server.available)} %}
</div>
<div class="tab-pane" id="users-groups">
    {% include 'PuphpetMainBundle:users-groups:form.html.twig' with {'ug': add_available(extensions.users_groups.merged, extensions.users_groups.available)} %}
</div>
<div class="tab-pane" id="locale">
    {% include 'PuphpetMainBundle:locale:form.html.twig' with {'locale': add_available(extensions.locale.merged, extensions.locale.available)} %}
</div>
<div class="tab-pane" id="firewall">
    {% include 'PuphpetMainBundle:firewall:form.html.twig' with {'firewall': add_available(extensions.firewall.merged, extensions.firewall.available)} %}
</div>
<div class="tab-pane" id="cron">
    {% include 'PuphpetMainBundle:cron:form.html.twig' with {'cron': add_available(extensions.cron.merged, extensions.cron.available)} %}
</div>
<div class="tab-pane" id="custom-files">
    <div class="section-header">
        <h1>Custom Files</h1>
        <p class="lead">Information on dotfiles and custom executable bash files.</p>
    </div>

    <div class="field-container">
        <fieldset>
            <legend>dotfiles</legend>

            <div class="help-block">
                <p>You can add all your dot files (
                    <code>.bash_aliases</code>, <code>.vimrc</code>,
                    <code>.gitconfig</code>, etc),
                    to the <code>puphpet/files/dot/</code> folder that will appear after
                    you extract your generated zip file.</p>

                <p>During initial startup, they will automatically be copied into the VM.
                    There is a sample <code>.bash_aliases</code> file there for you to
                    start with - overwrite at will!</p>
            </div>
        </fieldset>

        <fieldset>
            <legend>Custom Bash Files</legend>

            <div class="help-block">
                <p>You can run your own custom code after the VM finishes provisioning by adding files to the
                    <code>puphpet/files/exec-always</code>, <code>puphpet/files/exec-always-unprivileged</code>,
                    <code>puphpet/files/exec-once</code>, <code>puphpet/files/exec-once-unprivileged</code>,
                    <code>puphpet/files/startup-always</code>,
                    <code>puphpet/files/startup-always-unprivileged</code>,
                    <code>puphpet/files/startup-once</code> and <code>puphpet/files/startup-once-unprivileged</code>
                    folders.</p>

                <p><strong>Files are executed in alphabetical order</strong>, and filenames must end in <code>.sh</code>. 
                    Files within <code>exec-once-*</code> are run before files within <code>exec-always-*</code>,
                    and files within <code>startup-once-*</code> are run before files within <code>startup-always-*</code>.
                    Files in <code>exec-once-*</code> and <code>exec-always-*</code> are run before files in
                    <code>startup-once-*</code> and <code>startup-always-*</code>.</p>

                <p>Files within <code>*-unprivileged</code> are run as the default user while the other ones area run
                    using sudo. Files within <code>*-unprivileged</code> are run after all other files on the same
                    running order as "privileged" files.</p>

                <p>Files within <code>exec-always-*</code> will run on initial <code>$ vagrant up</code> and all
                    <code>$ vagrant provision</code>, while files within <code>exec-once-*</code> will
                    run only the first time you run Vagrant, unless you SSH into the VM and remove the
                    <code>/.puphpet-stuff/exec-once-ran</code> and/or
                    <code>/.puphpet-stuff/exec-once-unprivileged-ran</code>
                    files and re-run Vagrant.</p>

                <p>Files within <code>startup-always-*</code> will run on each <code>$ vagrant up</code>,
                    while files within <code>startup-once-*</code> will only run on the next time you run Vagrant,
                    unless you SSH into the VM and remove the <code>/.puphpet-stuff/startup-once-ran</code>
                    and/or <code>/.puphpet-stuff/startup-once-unprivileged-ran</code> files and re-run Vagrant.</p>
            </div>
        </fieldset>

        <div class="clearfix"></div>

        <div class="col-xs-6">
            <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#cron">
                <i class="fa fa-hand-o-left"></i> Cron Jobs
            </a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#nginx">
                Nginx <i class="fa fa-hand-o-right"></i>
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
