<div class="tab-pane" id="system-packages">
    {% set extension = extensionManager.getExtensionBySlug('server') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="users-groups">
    {% set extension = extensionManager.getExtensionBySlug('users_groups') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="firewall">
    {% set extension = extensionManager.getExtensionBySlug('firewall') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="cron-jobs">
    {% set extension = extensionManager.getExtensionBySlug('cron') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="custom-files">
</div>
