<div class="tab-pane" id="nginx">
    {% set extension = extensionManager.getExtensionBySlug('nginx') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
<div class="tab-pane" id="apache">
    {% set extension = extensionManager.getExtensionBySlug('apache') %}
    {{ extension.renderFront(extension.data)|raw }}
</div>
