<div class="tab-pane" id="beanstalkd">
    {% include 'PuphpetMainBundle:beanstalkd:form.html.twig' with { 'beanstalkd': extensions.beanstalkd.data } %}
</div>
<div class="tab-pane" id="rabbitmq">
    {% include 'PuphpetMainBundle:rabbitmq:form.html.twig' with { 'rabbitmq': extensions.rabbitmq.data } %}
</div>
