body {
    color: #353b44;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

html,
body,
#container {
    min-width: 1024px;
}

.container {
    min-width: 640px;
}

#container {
    width: 100%;
    height: 100%;
}

.section-header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

a, a:focus {
    color: #2c9ab7;
    text-decoration: none;
}

a:hover {
    color: #1071C0;
    text-decoration: underline;
}

input:focus, textarea:focus {
    outline: none;
}

*:focus {
    outline: none;
}

::selection {
    background: #2c9ab7;
    color: #fff;
}

::-moz-selection {
    background: #2c9ab7;
    color: #fff;
}

input::-moz-placeholder {
  color: #ccc !important;
  opacity: 1 !important;
}
input:-ms-input-placeholder {
  color: #ccc !important;
}
input::-webkit-input-placeholder {
  color: #ccc !important;
}

pre code {
    font-size: 18px !important;
    font-family: 'Courier New', monospace;
}

code.inline-instructions {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

label {
    padding-left: 5px;
    font-weight: bold;
}

label.radio {
    margin-top: 0;
    font-weight: normal;
}

label.radio input[type="radio"] {
    position: relative;
    margin-left: 0;
}

legend {
    padding: 0 10px;
}

.hidden {
  display: none;
}

.invisible {
    position: absolute !important;
    overflow: hidden !important;
    display: block !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
}

.margin-top {
    margin-top: 10px;
}

#main-content {
    background: url('../img/congruent_pentagon.png');
    margin-left: 205px;
    line-height: 1.8;
    font-size: 15px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 0 15px 0 15px;
    width: 100%;
}

#main-form {
    min-height: 800px;
}

/*
    navbar
*/
    .navbar {
        z-index: 9999;
    }

    .navbar-default .navbar-brand {
        margin-left: -15px;
        padding-left: 50px;
        background: url('../img/logo-menu.png') no-repeat 0 5px;
        color: #276176;
    }

    .navbar-default .navbar-brand .colored {
        color: #2c9ab7;
    }

    .navbar-default .navbar-header,
    .navbar-default .navbar-nav,
    .navbar-default .navbar-nav > li {
        float: left !important;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #2c9ab7;
    }

    .navbar-default .navbar-header,
    .navbar-default .navbar-nav {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .navbar-default .navbar-right {
        float: right !important;
    }

    .navbar-default .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        background-color: #fff;
    }

/*
    sidebar
*/
    #sidebar {
        width: 205px;
        height: 100%;
        position: fixed;
        background: #fff;
        border-right: 1px solid #D7D7D7;
        overflow-y: auto;
    }

    .sidebar-menu .fa {
        width: 30px;
        text-align: center;
    }

    ul.sidebar-menu,
    ul.sidebar-menu li ul.sub {
        margin: -2px 0 0;
        padding: 0;
    }

    ul.sidebar-menu {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #sidebar > ul > li > ul.sub {
        display: none;
    }

    #sidebar > ul > li.active > ul.sub,
    #sidebar > ul > li > ul.sub > li > a {
        display: block;
    }

    ul.sidebar-menu li ul.sub li {
        background: #eee;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    ul.sidebar-menu li ul.sub li:last-child {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
    }

    ul.sidebar-menu li ul.sub li a {
        font-size: 14px;
        color: #737B83;
        padding: 0 0 0 32px;
        line-height: 35px;
        height: 35px;
        transition: all 0.3s ease;
    }

    ul.sidebar-menu li ul.sub li a:hover,
    ul.sidebar-menu li ul.sub li.active a {
        color: #2c9ab7;
        transition: all 0.3s ease;
        display: block;
    }

    ul.sidebar-menu li {
        line-height: 20px !important;
        text-transform: capitalize;
    }

    ul.sidebar-menu li.sub-menu {
        line-height: 15px;
        font-size: 16px;
    }

    ul.sidebar-menu li a span {
        display: inline-block;
    }

    ul.sidebar-menu li a {
        color: #8b9199;
        text-decoration: none;
        display: block;
        padding: 10px 0 10px 10px;
        font-size: 16px;
        font-weight: 300;
        outline: none;
        transition: all 0.3s ease;
        border-bottom: 1px solid #D7D7D7;
        overflow:hidden;
    }

    ul.sidebar-menu li.active a,
    ul.sidebar-menu li a:hover,
    ul.sidebar-menu li a:focus {
        background: #eee;
        color: #2c9ab7;
        display: block;
        transition: all 0.3s ease;
    }

    ul.sidebar-menu li a:hover,
    ul.sidebar-menu li a:focus {
        border-bottom: 1px solid #2c9ab7;
    }

    ul.sidebar-menu .sub-menu li.active a {
        border-bottom: 1px solid #2c9ab7;
    }

    ul.sidebar-menu li a i {
        font-size: 18px;
        padding-right: 6px;
    }

    ul.sidebar-menu li a:hover i,
    ul.sidebar-menu li a:focus i {
        color: #2c9ab7;
    }

    ul.sidebar-menu li.active a i {
        color: #2c9ab7;
    }

    #sidebar ul > li > a .menu-arrow {
        float: right;
        margin-right: 8px;
        margin-top: 6px;
    }

/*
    frontpage
*/
    #frontpage .intro-text-container {
        width: 100%;
        height: 653px;
        background: url('../img/logo-sign.png') center no-repeat;
        display: table;
    }

    #frontpage .intro-text {
        display: table-cell;
        vertical-align: bottom;
    }

    #frontpage .intro-text p {
        color: #000;
        font-family: 'Anton', sans-serif;
        font-size: 3em;
        text-align: center;
        text-shadow: #fff 0 0 10px;
        line-height: 1.3em;
        padding-bottom: 28px;
        padding-right: 13px;
        letter-spacing: .1em;
    }

    #frontpage .intro-text img {
        display: block;
        margin: 0 auto;
        padding-left: 285px;
        height: 100px;
    }

    #frontpage .intro-description {
        font-size: 1.5em;
        text-align: center;
        line-height: 1em;
    }

/*
    forms
*/
    .form-control {
        color: #000;
        border: 1px solid #000;
    }

    input.form-control {
        margin-left: 5px;
    }

    .field-container {
        margin-bottom: 21px;
        padding: 15px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .field-container a {
        line-height: 1.1;
    }

    .field-container .form-group {
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-left: 0;
        border-left: 2px solid transparent;
    }

    .field-container .form-group:hover,
    .field-container .form-group:focus {
        border-left: 2px solid #2c9ab7;
    }

    .field-container .help-block {
        color: #000;
    }

/*
    nested blocks
*/
    .nested-block {
        padding: 10px 30px 20px 20px;
        margin: 5px 0 10px 20px;
        border: 1px solid #eee;
        border-left: 5px solid #d4d5d9;
        background-color: #f7f7f8;
        position: relative;
    }

    .nested-block .nested-block,
    .nested-block .nested-block .nested-block .nested-block {
        border-left: 5px solid #9fa0a4;
        background-color: #fff;
    }

    .nested-block .nested-block .nested-block {
        border-left: 5px solid #808185;
        background-color: #f7f7f8;
    }

    .nested-block > .remove {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 5px;
        border: 1px solid #e53c37;
        border-radius: 0 0 0 2px;
        font-size: 10px;
        font-weight: 700;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        background-color: #eb6864;
    }

    .nested-block > .remove:hover {
        height: 100%;
        width: 100%;
        background-color: rgba(235, 104, 100, 0.05);
        text-align: right;
        z-index: 9998;
    }

    .nested-block > .remove:hover i {
        color: #fff;
        padding: 5px 5px 8px;
        background-color: #eb6864;
        margin: -5px -5px 0 0;
    }

    .nested-block > .remove:hover i:after {
        content: " Remove this block";
        font-weight: bold;
        padding-top: 50px;
    }

    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
        line-height: 25px;
    }

    .selectize-control a.remove {
        border: 1px solid #e53c37 !important;
        font-size: 14px !important;
        color: #fff !important;
        background: #eb6864 !important;
    }

    .selectize-control a.remove:hover {
        background: #e74b47 !important;
    }

    .selectize-input {
        border-color: #000;
    }

    .selectize-input > div.active {
        background: #2c9ab7 !important;
    }

    .selectize-control.plugin-remove_button .item .remove {
        padding-top: 3px;
    }

    .form-control.selectize-control {
        padding-left: 0;
        margin-left: 5px;
    }

    .add-block {
        font-size: 2em;
        margin: 0 0 20px 23px;
        display: block;
    }

    .form-group + .add-block {
        margin-top: 15px;
    }

    .add-block + .nested-block {
        margin-bottom: 15px;
    }

/*
    radio tile
*/
    .radio-tile {
        margin-bottom: 10px;
        display: block;
        position: relative;
    }

    .radio-tile .content:hover {
        color: #999;
        border-color: #2c9ab7;
        box-shadow: 0 0 0 1px #2c9ab7;
    }

    .radio-tile input + .content {
        color: #ccc;
        border-color: #000;
    }

    .radio-tile input:checked + .content {
        color: #000;
        border-color: #f47421;
        box-shadow: 0 0 0 1px #f47421;
    }

    .radio-tile .content {
        padding: 10px;
        border: 1px solid #c2cfd6;
        border-radius: 4px;
        font-weight: 700;
        line-height: 1.3;
        color: #444;
        cursor: pointer;
        display: block;
        position: relative;
    }

    .radio-tile .header {
        width: 100%;
        display: table;
        position: relative;
    }

    .radio-tile .icon {
        width: 22px;
        height: 22px;
        margin: -1px 0;
        background-color: transparent;
        font: normal normal 400 1.5em/1.2em FontAwesome;
        color: #ccc;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .radio-tile input:checked + .content .icon {
        color: #f47421;
    }

    .radio-tile .icon:before {
        content: "\f096";
    }

    .radio-tile input:checked + .content .icon:before {
        margin-left: 2px;
        content: "\f046";
    }

    .radio-tile input:checked + .content .header.large .icon:before {
        margin-left: 0;
    }

    .radio-tile .title {
        width: 100%;
        padding-left: 5px;
        font-size: 1.3em;
        display: table-cell;
        vertical-align: middle;
    }

    .radio-tile .header.large {
        font-size: 2em;
    }

    .radio-tile .header.large .title {
        padding-left: 25px;
    }

    .radio-tile .header.large .icon {
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    .radio-tile .footer {
        margin: 8px 0 0;
        padding: 12px 0 4px;
        display: block;
        border-top: 1px solid #d9d9d9;
        font-size: 1em;
        line-height: 1.2em;
        color: #888;
    }

    .radio-tile.mini {
        margin: 0 10px 10px 0;
        display: inline-table;
    }

    .radio-tile.mini .content {
        padding: 10px;
    }

    .radio-tile.set-width .content {
        min-width: 100px;
    }

/*
    help text block
*/
    .form-group .help-text {
        display: none;
    }

    .webui-popover {
        min-width: 350px;
    }

    .webui-popover.top,
    .webui-popover.top-left,
    .webui-popover.top-right,
    .webui-popover.right,
    .webui-popover.right-top,
    .webui-popover.right-bottom,
    .webui-popover.bottom,
    .webui-popover.bottom-left,
    .webui-popover.bottom-right,
    .webui-popover.left,
    .webui-popover.left-top,
    .webui-popover.left-bottom {
        margin-left: 0;
    }

/*
 * Drag and drop overlay
**/
    #drag-drop {
        width: 100%;
        height: 100%;
        display: none;
        background: #fff;
        opacity: 0.9;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    #drag-drop p {
        width: 100%;
        text-align: center;
        color: #4c9bd8;
        position: absolute;
        top: 40%;

        font-size: 6em;
        font-weight: 700;
        line-height: 1em;
        display: block;
        text-shadow: 3px 3px 4px #000;
        z-index: -1;
    }

/*
 * Footer
**/
    footer {
        padding: 15px 20px;
        background: #fff;
    }

/*
 * Ascii cast
**/
    .asciicast-container {
        width: 95%;
        margin: 0 auto;
    }

    #asciicast-container-19251 {
        height: 470px;
    }

    #asciicast-iframe-19251 {
        height: 100%;
    }

    .asciicast-description {
        width: 760px;
        margin: -40px auto 40px;
    }

.page-header {
    padding-bottom: 0;
    margin: 10px 0;
}

#create-button {
    font-size: 2em;
    padding: 10px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 75px auto;
    }
}
