/web/bundles/
/web/css
/web/js
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.tmp
/archive/puphpet/puppet/.librarian
/archive/puphpet/puppet/.tmp
/archive/puphpet/puppet/modules
!/archive/puphpet/puppet/modules/blank
