/web/bundles
/app/bootstrap.php.cache
/app/cache
/app/config/parameters.yml
/app/logs
/build
/vendor
/bin/*
!/bin/librarian
/composer.phar
/.tmp
/archive/puphpet/puppet/Puppetfile.lock
/archive/puphpet/puppet/.librarian
/archive/puphpet/puppet/.tmp
/archive/puphpet/puppet/modules
