{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<section id="redis">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Redis Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input class="install-checkbox" type="checkbox" name="redis[install]"
                                   data-hide-on-uncheck="#redis-config-container"
                                   {% if redis.install %}checked{% endif %} value="1" />
                            Install Redis
                            {{ popover.small('Redis is an open source, BSD licensed, advanced key-value store. It
                                is often referred to as a data structure server since keys can contain strings,
                                hashes, lists, sets and sorted sets.
                                <a href="http://try.redis.io/" target="_blank">Try Redis</a>.') }}
                        </label>
                    </div>
                </div>

                <div class="{% if not redis.install %}hidden{% endif %}" id="redis-config-container">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="redis-settings-conf_port">Listen Port</label>
                                <input type="number" id="redis-settings-conf_port"
                                       name="redis[settings][conf_port]"
                                       required placeholder="5673" pattern="^[1-9][0-9]*$" min="5000" max="20000"
                                       value="{{ redis.settings.conf_port }}" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
