<section id="xhprof">
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline">
                    <input type="checkbox" name="xhprof[install]" class="update-other-input multiselect-grouped-tab"
                           data-tab-target="xhprof-pill" data-update-php[composer]
                           {% if xhprof.install %}checked{% endif %} value="1" /> Install Xhprof
                </label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <p class="help-block">
                    Logs will be available from <code>http://&lt;ip_address&gt;/xhprof/xhprof_html</code>.<br />
                    The IP address is the <a href="#deploy-target">one you chose here</a>.<br />
                    <a href="#" data-toggle="modal" data-target="#xhprof-instructions">Click here for instructions</a>
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="xhprof-instructions" tabindex="-1" role="dialog"
         aria-labelledby="xhprof-instructions-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="xhprof-instructions-label">XHprof instructions</h4>
                </div>
                <div class="modal-body">
                    <p>Add to top of your file:</p>

                    <p><code>xhprof_enable(XHPROF_FLAGS_CPU + XHPROF_FLAGS_MEMORY);</code></p>

                    <p>Add to the bottom of your file:</p>

                    <p><code>
                        $xhprof_data = xhprof_disable();<br />
                        $appNamespace = 'some_namespace_here';<br />
                        include_once '/var/www/xhprof/xhprof_lib/utils/xhprof_lib.php';<br />
                        include_once '/var/www/xhprof/xhprof_lib/utils/xhprof_runs.php';<br />

                        $xhprof_runs = new XHProfRuns_Default();<br />
                        $xhprof_runs->save_run($xhprof_data, $appNamespace);<br />
                    </code></p>

                    <p>
                        Depending on if you chose Apache or Nginx and if you're on Debian/Ubuntu/CentOS, the
                        <code>/var/www/</code> part in the lines above may be different. Simple SSH into your VM
                        and double check to make sure!
                    </p>

                    <p>
                        These instructions grabbed from
                        <a href="http://www.geekyboy.com/archives/718#xhprof-usage" target="_blank">geekyboy.com</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
