<div class="section-header hidden">
    <h1>Cron Jobs</h1>
    <p class="lead">Add cron jobs.</p>
</div>

<div class="form-group">
    <div class="help-block">
        <p>The user must exist. <code>root</code> is a valid option.
            If you're deploying locally, <code>vagrant</code> is also valid, if deploying
            remotely then enter the ssh username you chose in the Deploy Target area.
            If you'd like a different user
            <a href="#users-groups">make sure to add them here.</a></p>

        <p>If you don't define a user, the user that runs Puppet will be used by default.
            This user has root access, and most likely <em>is</em> root.</p>

        <p>Minute, hour, day and month values can all be left blank, as long as
            one of them is not blank. e.g. hour, day and month can be blank if
            minute has a value.</p>
    </div>
</div>

<div class="clearfix"></div>

{% for job in cron.jobs %}
    {% include 'PuphpetMainBundle:extensions/cron/sections:job.html.twig' with {'job': job} %}
{% endfor %}

<a href="#" data-source-url="{{ path('puphpet.extension.cron.job') }}"
   class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another cron job</a>

<input type="hidden" name="cron[install]" value="1" />
