<section id="elastic_search">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Elastic Search Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input class="install-checkbox" type="checkbox" name="elastic_search[install]"
                                   data-hide-on-uncheck="#elastic_search-config-container"
                                   {% if elastic_search.install %}checked{% endif %} value="1" /> Install Elastic Search
                        </label>
                    </div>
                </div>

                <div class="{% if not elastic_search.install %}hidden{% endif %}" id="elastic_search-config-container">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <p class="help-block">
                                    Elastic Search is a powerful open source search and analytics engine that makes data
                                    easy to explore.
                                    <a href="http://www.elasticsearch.org/" target="_blank">Learn about Elastic Search</a>.
                                    <br /><br />
                                    <a href="https://github.com/elasticsearch/elasticsearch-php" target="_blank">The
                                        official Elastic Search PHP library</a>
                                    <br /> <br />
                                    Elastic Search will be installed and the service will start automatically. Java will
                                    also be installed if not already present on the vagrant box. The default port is 9200.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

    
