install: 1

settings:
    default_vhost: 1
    proxy_buffers: 4 256k
    proxy_buffer_size: 128k
    proxy_connect_timeout: 600s
    proxy_send_timeout: 600s
    proxy_read_timeout: 600s
    names_hash_bucket_size: 128

upstreams: []

proxies: []

vhosts:
    -
        server_name: awesome.dev
        server_aliases:
            - www.awesome.dev
        www_root: /var/www/awesome
        listen_port: 80
        ssl: false
        ssl_port: 443
        ssl_cert: ''
        ssl_key: ''
        ssl_protocols: ~
        ssl_ciphers: ~
        rewrite_to_https: 0
        spdy: 0
        index_files:
            - index.html
            - index.htm
            - index.php
        client_max_body_size: '1m'
        locations:
            -
                location: '/'
                autoindex: 0
                internal: false
                try_files:
                    - '$uri'
                    - '$uri/'
                    - '/index.php$is_args$args'
                fastcgi: ~
                fastcgi_index: ~
                fastcgi_split_path: ~
                fast_cgi_params_extra: []
                set: []
                proxy: ~
                proxy_redirect: ~
                proxy_set_header: []
            -
                location: '~ \.php$'
                autoindex: 0
                internal: false
                try_files:
                    - '$uri'
                    - '$uri/'
                    - '/index.php$is_args$args'
                fastcgi: 127.0.0.1:9000
                fastcgi_index: index.php
                fastcgi_split_path: '^(.+\.php)(/.*)$'
                fast_cgi_params_extra:
                    - 'SCRIPT_FILENAME $request_filename'
                    - 'APP_ENV dev'
                set:
                    - '$path_info $fastcgi_path_info'
                proxy: ~
                proxy_redirect: ~
                proxy_set_header: []
