target: ~

vm:
    provider:
        aws:
            access_key_id: ~
            secret_access_key: ~
            machines: []
    provision:
        puppet:
            manifests_path: "puphpet/puppet/manifests"
            module_path:
                - "puphpet/puppet/modules"
                - "puphpet/puppet/manifests"
            options:
                - "--verbose"
                - "--hiera_config /vagrant/puphpet/puppet/hiera.yaml"
    synced_folder: []
    post_up_message: ''
ssh:
    forward_agent: true
