parameters:

services:
    puphpet.extension.xdebug.configure:
        class: Puphpet\Extension\XdebugBundle\Configure
        arguments:
            - "@service_container"

    puphpet.extension.xdebug.front_controller:
        class: Puphpet\Extension\XdebugBundle\Controller\FrontController
        calls:
            - [ setContainer, [@service_container] ]

    puphpet.extension.xdebug.manifest_controller:
        class: Puphpet\Extension\XdebugBundle\Controller\ManifestController
        calls:
            - [ setContainer, [@service_container] ]
