{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="wpcli">
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline install-checkbox">
                    <input type="checkbox" name="wpcli[install]"
                           class="update-other-input multiselect-grouped-tab"
                           data-tab-target="wpcli-pill"
                           data-update-php[composer]="1" data-update-hhvm[composer]="1"
                           {% if wpcli.install %}checked{% endif %} value="1" /> Install WP-Cli
                    {{ popover.small('<a href="http://wp-cli.org/" target="_blank">WP</a> will be available as a
                        system service:<br /><code>$ wp</code>') }}
                    {% if not wpcli.install %}<input type="hidden" name="wpcli[install]" value="0" />{% endif %}
                </label>
            </div>
        </div>

        <p class="help-block">
            WP-Cli requires PHP or HHVM, and Composer.
        </p>

        <div class="row form-group">
            <div class="col-xs-12">
                <label for="wpcli-version">Choose Version</label>

                <select id="wpcli-version"
                        name="wpcli[version]" size="6"
                        class="form-control select-tags">
                    {% for version in wpcli.available_versions %}
                        <option value="{{ version }}"
                            {% if version == wpcli.version %}selected{% endif %}>{{ version }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</section>
