<div class="collapse-container" id="vagrantfile-rackspace-instructions-container">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#vagrantfile-rackspace-instructions-container"
               href="#vagrantfile-rackspace-instructions-content">
                <i class="glyphicon glyphicon-plus"></i>
                Rackspace Instructions
            </a>
        </h3>
    </div>

    <div id="vagrantfile-rackspace-instructions-content" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
            </div>

            <div>

            </div>

            <div>
            </div>
        </div>
    </div>
</div>
