parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretButItsOpenSourceAnyway

    user_password:     57f3d5fdf38bafeb55fe9483e9b0049dec1df872
    admin_password:    433a9b7b0e9a8bff8b68a812be4fc7e4d70a3d44
