<div class="span3">
    <h5>Step 3: Apache Setup</h5>
    <ul>
        <li>
            Choose what Apache modules you want enabled.
        </li>
        <li>
            Add one or more virtual hosts to your virtual machine.
        </li>
    </ul>

    <br />

    <p class="text-center"><a id="apache-vhost-add" class="btn btn-primary" href="#">Add Another Host</a></p>
</div>

<fieldset>
    <div class="control-group">
        <label class="control-label" for="apache-modules">Enabled Modules</label>

        <div class="controls">
            <select multiple class="span7 selectTags" id="apache-modules" name="apache[modules][]">
                {% include 'Front/Tabs/Apache/modules.html.twig' %}
            </select>
        </div>
    </div>

    <div class="span7" id="apache-vhost-count" rel="1">
        {% include 'Front/Tabs/Apache/vhost.html.twig' %}
    </div>
</fieldset>
