<h2 class="page-header">Create!</h2>
<div class="span3">
    <h5>Step Ω: Download</h5>
    <ul>
        <li>
            Click the button to create your custom zip file.
        </li>
        <li>If you have not installed Vagrant yet, go to <a href="http://downloads.vagrantup.com/">http://downloads.vagrantup.com/</a></li>
        <li>Run <code>$ vagrant up</code> and enjoy!</li>
        <li>If you need extra help, go to <a href="/help">the help page</a></li>
    </ul>
</div>

<fieldset class="span7">
    <p class="text-center"><button type="submit" class="btn btn-primary btn-large">Create My Manifest!</button></p>
</fieldset>
