<h2 class="page-header">PHP Settings</h2>
<div class="span3">
    <h5>Step 4: PHP Setup</h5>
    <ul>
        <li>
            You have the option of installing PHP 5.4 or 5.3.
        </li>
        <li>
            To use XDebug, you must install PEAR, since it uses PECL.
        </li>
    </ul>
</div>

<fieldset>
    <div class="row">
        <div class="span3 ">
            <label class="control-label" for="php-54">Use PHP 5.4</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php-54" name="php[54]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>

        <div class="span3 ">
            <label class="control-label" for="php-pear">Use PEAR</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php-pear" name="php[pear]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>

        <div class="span3 ">
            <label class="control-label" for="php-xdebug">Install XDebug</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php-xdebug" name="php[xdebug]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>
    </div>

    <br />

    <div class="clearfix"></div>

    <div class="control-group">
        <label class="control-label" for="php-modules">Installed PHP Modules</label>

        <div class="controls">
            <select multiple class="span7 selectTags" id="php-modules" name="php[modules][]">
                {% include 'Front/Tabs/PHP/php.html.twig' %}
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="php-pearmodules">Installed PEAR Extensions</label>

        <div class="controls">
            <select multiple class="span7 selectTags" id="php-pearmodules" name="php[pearmodules][]">
                {% include 'Front/Tabs/PHP/pear.html.twig' %}
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="php-pecl">Installed PECL Packages</label>

        <div class="controls">
            <select multiple class="span7 selectTags" id="php-pecl" name="php[pecl][]">
                {% include 'Front/Tabs/PHP/pecl.html.twig' %}
            </select>
        </div>
    </div>
</fieldset>
