<fieldset>
    <legend>PHP Settings</legend>

    <div class="row">
        <div class="span3 ">
            <label class="control-label" for="php[54]">Use PHP 5.4</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php[54]" name="php[54]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>

        <div class="span3 ">
            <label class="control-label" for="php[pear]">Use PEAR</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php[pear]" name="php[pear]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>

        <div class="span3 ">
            <label class="control-label" for="php[xdebug]">Install XDebug</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="php[xdebug]" name="php[xdebug]" value="1" checked="checked" />
                    Yes
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="control-group">
        <label class="control-label" for="php[modules]">Installed Modules</label>

        <div class="controls left-indent">
            <textarea class="span7 tags" id="php[modules]" name="php[modules]">cli, curl, intl, mcrypt, mysql</textarea>

            <div class="clearfix"></div>

            <p class="help-block">Installed PHP modules, separated by comma</p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="php[pearmodules]">Installed PEAR Extensions</label>

        <div class="controls left-indent">
            <textarea class="span7 tags" id="php[pearmodules]" name="php[pearmodules]"></textarea>

            <div class="clearfix"></div>

            <p class="help-block">Installed PEAR extensions, separated by comma</p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="php[pecl]">Installed PECL Packages</label>

        <div class="controls left-indent">
            <textarea class="span7 tags" id="php[pecl]" name="php[pecl]">pecl_http</textarea>

            <div class="clearfix"></div>

            <p class="help-block">Installed PECL packages, separated by comma</p>
        </div>
    </div>
</fieldset>
