{% import _self as format %}
{% set timezone = edition.get('[php][inilist][php][date.timezone]')%}

<div class="page-header">
    <img class="svgIcon" src="./assets/img/noun-project/php.svg" />
    <h1>PHP, <small>version and modules</small></h1>
</div>

<div class="bs-example quickSettings">
    <div class="row">
        <div class="col col-lg-4 min-span-4">
            <label>PHP Version</label>

            <div>
                <label class="radio-inline min-span-1">
                    <input type="radio" name="php[version]" value="php55"  /> 5.5
                </label>

                <label class="radio-inline min-span-1">
                    <input type="radio" name="php[version]" value="php54" checked /> 5.4
                </label>

                <label class="radio-inline">
                    <input type="radio" name="php[version]" value="php53" /> 5.3
                </label>
            </div>

            <p class="help-block">
                Integration of PHP 5.4 and 5.5 is currently not supported natively by
                given vagrant boxes and thus a <a href="https://launchpad.net/~ondrej/+archive/php5-oldstable">PPA</a> has to be used.
                Things might not work properly in this case.
                <br />
                If you encounter any problems please skip back to PHP 5.3.
            </p>
        </div>

        <div class="col col-lg-4 min-span-4">
            <label>Composer</label>

            <div>
                <label class="checkbox-inline min-span-2" for="php-modules-composer-installed">Install Composer</label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="php-modules-composer-installed" name="php[modules][composer][installed]"
                           value="1" checked />
                    Yes
                </label>
            </div>
            <p class="help-block">Composer will be available as a system service, <code>$ composer</code></p>
        </div>
    </div>
</div>

<div class="bs-example installedPackages">
    <div class="row">
        <div class="col col-lg-10">
            <label for="php-modules-php">Installed PHP Modules</label>
            <select multiple class="selectTags" id="php-modules-php" name="php[modules][php][]">
                {% include 'Front/Tabs/PHP/php.html.twig' %}
            </select>
            <p class="help-block">
                The following packages will be automatically installed based on the current webserver and database configuration:
                <ul>
                    <li class="php-module visible-nginx">php5-fpm</li>
                    <li class="php-module visible-mysql">php5-mysql</li>
                    <li class="php-module visible-postgresql">php5-pgsql</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="bs-example pear">
    <div class="row">
        <div class="col min-span-4">
            <label class="checkbox-inline min-span-2" for="php-modules-pear-installed">Use PEAR</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="php-modules-pear-installed" name="php[modules][pear][installed]" value="1" checked />
                Yes
            </label>
        </div>
    </div>

    <div class="row dependsOnPear">
        <div class="col col-lg-10">
            <label for="php-modules-pear">Installed PEAR Extensions</label>
            <select multiple class="selectTags" id="php-modules-pear" name="php[modules][pear][]">
                {% include 'Front/Tabs/PHP/pear.html.twig' %}
            </select>
        </div>
    </div>

    <br />

    <div class="row dependsOnPear">
        <div class="col col-lg-10">
            <label for="php-modules-pecl">Installed PECL Packages</label>
            <select multiple class="selectTags" id="php-modules-pecl" name="php[modules][pecl][]">
                {% include 'Front/Tabs/PHP/pecl.html.twig' %}
            </select>
        </div>
    </div>
</div>

{% include 'Front/Tabs/PHP/xdebug.html.twig' %}

<div class="bs-example xhprof dependsOnPear">
    <div class="row">
        <div class="col min-span-4">
            <label class="checkbox-inline min-span-2" for="php-modules-xhprof-installed">Install XHProf</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="php-modules-xhprof-installed" name="php[modules][xhprof][installed]" value="1" checked />
                Yes
            </label>

            <p class="help-block">
                Logs will be available from <a href="http://xhprof">http://xhprof</a>.<br />
                <a href="http://www.geekyboy.com/archives/718#xhprof-usage" target="_blank">Learn how to use XHProf</a>
            </p>
        </div>
    </div>
</div>

<div class="bs-example timezone">
    <div class="row">
        <div class="col col-lg-7">
            <label class="full-width min-span-3">
                <select class="selectTags" name="php[inilist][php][date.timezone]">
                    {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == timezone %} selected="selected"{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
</div>

{% include 'Front/Tabs/PHP/ini_settings.html.twig' %}

{# global macros #}
{% macro explode_ini_list(list) %}
    {% for key,value in list %}{{ key }} = {{ value }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endmacro %}
