<h2 class="page-header">Server Basics</h2>
<div class="span3">
    <h5>Step 2: Server Setup</h5>
    <ul>
        <li>
            Choose what packages you would like installed on your virtual machine. Do not add Apache or PHP here, they
            are automatically installed.
        </li>
    </ul>
</div>

<fieldset>
    <div class="control-group">
        <label class="control-label" for="server[packages]">Installed Packages</label>

        <div class="controls">
            <textarea class="span7 tags" id="server[packages]" name="server[packages]">build-essentials, vim, curl</textarea>

            <div class="clearfix"></div>

            <p class="help-block">Packages to install via apt-get, separated by comma</p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="server[bashaliases]">Bash Aliases</label>

        <div class="controls">
            <textarea class="span7" id="server[bashaliases]" name="server[bashaliases]" rows="15">{% include 'Front/Tabs/server/bash_aliases.html.twig' %}</textarea>

            <div class="clearfix"></div>

            <p class="help-block">~/.bash_aliases file (<a href="/assets/img/bash.png" target="_blank">preview</a>)</p>
        </div>
    </div>
</fieldset>
