<div class="page-header">
    <img class="svgIcon" src="./assets/img/noun-project/bash.svg" />
    <h1>Server Basics, <small>it's the small things...</small></h1>
</div>

<div class="bs-example packages">
    <div class="row">
        <div class="col col-lg-10">
            <label for="server-packages">Installed Packages</label>
            <textarea class="tags" id="server-packages" name="server[packages]">build-essential, vim, curl, git-core</textarea>
            <p class="help-block">Packages to install via apt-get, separated by comma. Do not add
                Apache/Nginx or PHP here - you will choose those later.</p>
        </div>
    </div>
</div>

<div class="bs-example dot_files">
    <p><strong>Dot Files</strong></p>

    <p>
        You can add all your dot files (<code>.bash_aliases</code>, <code>.vimrc</code>, <code>.gitconfig</code>, etc),
        to the <code>./files/dot/</code> folder that will appear after you extract your generated zip file.
    </p>

    <p>
        During initial startup, they will automatically be copied into the VM. There is a sample
        <code>.bash_aliases</code> file there for you to start with - overwrite at will!
    </p>
</div>
