<h2 class="page-header">Server Basics</h2>
<fieldset>
    <div class="control-group">
        <label class="control-label" for="server[packages]">Installed Packages</label>

        <div class="controls left-indent">
            <textarea class="span7 tags" id="server[packages]" name="server[packages]">gcc, make, python-software-properties, vim, curl, git, subversion, mercurial</textarea>

            <div class="clearfix"></div>

            <p class="help-block">Packages to install via apt-get, separated by comma</p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="server[bashaliases]">Bash Aliases</label>

        <div class="controls">
            <textarea class="span7" id="server[bashaliases]" name="server[bashaliases]" rows="15">{% include 'Front/Tabs/server/bash_aliases.html.twig' %}</textarea>

            <div class="clearfix"></div>

            <p class="help-block">~/.bash_aliases file (<a href="/assets/img/bash.png" target="_blank">preview</a>)</p>
        </div>
    </div>
</fieldset>
