<div class="page-header">
    <img class="svgIcon" src="./assets/img/noun-project/box.svg" />
    <h1>Vagrant, <small>configure the Vagrantfile</small></h1>
</div>

<div class="bs-example os">
    <p class="help-block">
        Choose the operating system you wish to run. The defaults will be downloaded on your first
        run from the official vagrantup.com website.
        <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html">More information may be found here.</a>
    </p>

    <label class="radio min-span-4">
        <input type="radio" class="box-url" rel="lucid32" name="box[url]"
               value="http://files.vagrantup.com/lucid32.box" />
        Ubuntu Lucid 32 Bit (10.04.4 LTS)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="box-url" rel="lucid64" name="box[url]"
               value="http://files.vagrantup.com/lucid64.box" />
        Ubuntu Lucid 64 Bit (10.04.4 LTS)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="box-url" rel="precise32" name="box[url]"
               value="http://files.vagrantup.com/precise32.box" />
        Ubuntu Precise 32 Bit (12.04.2 LTS)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="box-url" rel="precise64" name="box[url]"
               value="http://files.vagrantup.com/precise64.box" checked />
        Ubuntu Precise 64 Bit (12.04.2 LTS)
    </label>
</div>

<div class="bs-example access">
    <div class="row">
        <div class="col col-lg-5">
            <label for="box-name">Box Name</label>
            <input id="box-name" name="box[name]" type="text" required placeholder="awesomeBox"
                   value="precise64" />
            <p class="help-block">Name when referenced by Vagrant. Should be unique to your system</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="box-ip">Box IP Address</label>
            <input id="box-ip" name="box[ip]" type="text" required placeholder="192.168.56.101"
                   value="192.168.56.101" />
            <p class="help-block">IP address to use for accessing the VM</p>
        </div>

        <div class="col col-lg-5">
            <label for="box-memory">Box Memory</label>
            <input id="box-memory" name="box[memory]" type="text" required placeholder="1024"
                   value="1024" />
            <p class="help-block">Memory to assign to VM in megabytes (only integers)</p>
        </div>
    </div>

	<div class="row">
		<div class="col col-lg-5">
			<label for="box-host-port">Host Port</label>
			<input id="box-host-port" name="box[port_forward][host]" type="number" placeholder="e.g. 8080" />
			<p class="help-block">Port on the host OS to forward to the VM.</p>
		</div>
		<div class="col col-lg-5">
			<label for="box-guest-port">Box Port</label>
			<input id="box-guest-port" name="box[port_forward][guest]" type="number" placeholder="e.g. 80" />
			<p class="help-block">Port on the VM to forward to.</p>
		</div>
	</div>
</div>

<div class="bs-example sharedFolders">
    <label>Shared Folder Type</label>
    <div>
        <label class="radio-inline">
            <input type="radio" name="box[foldertype]" value="default" checked /> Default
        </label>
        <label class="radio-inline">
            <input type="radio" name="box[foldertype]" value="nfs" /> NFS
        </label>
        <p class="help-block">Windows users should choose the Default option</p>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="box-synced_folder-source">Box Sync Folder Source</label>
             <input id="box-synced_folder-source" name="box[synced_folder][source]" type="text"
                    required placeholder="/path/to/your/web/files" value="./" />
            <p class="help-block">Path your files are stored on host machine</p>
        </div>

        <div class="col col-lg-5">
            <label for="box-synced_folder-target">Box Sync Folder Target</label>
            <input id="box-synced_folder-target" name="box[synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www" />
            <p class="help-block">Path the VM will see your files in</p>
        </div>
    </div>
</div>
