<div class="page-header">
    <img class="svgIcon" src="./assets/img/noun-project/box.svg" />
    <h1>Vagrant, <small>configure the Vagrantfile</small></h1>
</div>

<p>You can create your box on your local machine (default behavior) or create a new instance on a few hosting providers!</p>

<input type="hidden" id="provider-type" name="provider[type]" value="local" />
<input type="hidden" id="provider-os" name="provider[os]" value="debian" />

<ul id="providerTab" class="nav nav-pills" data-configuration-name="accessTab">
    <li class="active"><a href="#providerLocalTab" class="providerTab" data-toggle="pill" data-configuration-value="local">Create Locally</a></li>
    <li><a href="#providerDigitalOceanTab" class="providerTab" data-toggle="pill" data-configuration-value="digitalocean">Digital Ocean <span class="label label-danger">New!</span></a></li>
    <li><a href="#providerRackspaceTab" class="providerTab" data-toggle="pill" data-configuration-value="rackspace">Rackspace <span class="label label-danger">New!</span></a></li>
</ul>
<div id="accessTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="providerLocalTab">
        {% include 'Front/Tabs/Vagrant/Box/local.html.twig' %}
    </div>

    <div class="tab-pane fade" id="providerDigitalOceanTab">
        {% include 'Front/Tabs/Vagrant/Box/digitalocean.html.twig' %}
    </div>

    <div class="tab-pane fade" id="providerRackspaceTab">
        {% include 'Front/Tabs/Vagrant/Box/rackspace.html.twig' %}
    </div>
</div>

