<div class="page-header">
    <img class="svgIcon" src="./assets/img/noun-project/network.svg" />
    <h1>HTTP Server, <small>setup your virtual hosts</small></h1>
</div>

<p>You have the option of choosing either Apache or Nginx webservers.</p>

<input type="hidden" name="webserver" value="apache" />

<ul id="webserverTab" class="nav nav-pills" data-configuration-name="webserver">
    <li class="active"><a href="#apacheTab" data-toggle="pill" data-configuration-value="apache">Apache</a></li>
    <li><a href="#nginxTab" data-toggle="pill" data-configuration-value="nginx">Nginx</a></li>
</ul>
<div id="webserverTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="apacheTab">
        <div id="apache">
            {% include 'Front/Tabs/Webserver/apache.html.twig' %}
        </div>
    </div>

    <div class="tab-pane fade" id="nginxTab">
        <div id="nginx">
            {% include 'Front/Tabs/Webserver/nginx.html.twig' %}
        </div>
    </div>
</div>
