<option value="rewrite" selected="selected">rewrite</option>
<option value="actions">actions</option>
<option value="asis">asis</option>
<option value="auth_digest">auth_digest</option>
<option value="authn_alias">authn_alias</option>
<option value="authn_anon">authn_anon</option>
<option value="authn_dbd">authn_dbd</option>
<option value="authn_dbm">authn_dbm</option>
<option value="authn_default">authn_default</option>
<option value="authnz_ldap">authnz_ldap</option>
<option value="authz_dbm">authz_dbm</option>
<option value="authz_owner">authz_owner</option>
<option value="cache">cache</option>
<option value="cern_meta">cern_meta</option>
<option value="cgid">cgid</option>
<option value="charset_lite">charset_lite</option>
<option value="dav_fs">dav_fs</option>
<option value="dav">dav</option>
<option value="dav_lock">dav_lock</option>
<option value="dbd">dbd</option>
<option value="disk_cache">disk_cache</option>
<option value="dump_io">dump_io</option>
<option value="expires">expires</option>
<option value="ext_filter">ext_filter</option>
<option value="file_cache">file_cache</option>
<option value="filter">filter</option>
<option value="headers">headers</option>
<option value="ident">ident</option>
<option value="imagemap">imagemap</option>
<option value="include">include</option>
<option value="info">info</option>
<option value="ldap">ldap</option>
<option value="log_forensic">log_forensic</option>
<option value="mem_cache">mem_cache</option>
<option value="mime_magic">mime_magic</option>
<option value="proxy_ajp">proxy_ajp</option>
<option value="proxy_balancer">proxy_balancer</option>
<option value="proxy_connect">proxy_connect</option>
<option value="proxy_ftp">proxy_ftp</option>
<option value="proxy_http">proxy_http</option>
<option value="proxy">proxy</option>
<option value="proxy_scgi">proxy_scgi</option>
<option value="speling">speling</option>
<option value="ssl">ssl</option>
<option value="substitute">substitute</option>
<option value="suexec">suexec</option>
<option value="unique_id">unique_id</option>
<option value="userdir">userdir</option>
<option value="usertrack">usertrack</option>
<option value="version">version</option>
<option value="vhost_alias">vhost_alias</option>
