parameters:

services:
    puphpet.extension.xhprof.configure:
        class: Puphpet\Extension\XhprofBundle\Configure
        arguments:
            - "@service_container"

    puphpet.extension.xhprof.front_controller:
        class: Puphpet\Extension\XhprofBundle\Controller\FrontController
        calls:
            - [ setContainer, [@service_container] ]

    puphpet.extension.xhprof.manifest_controller:
        class: Puphpet\Extension\XhprofBundle\Controller\ManifestController
        calls:
            - [ setContainer, [@service_container] ]
