<div class="collapse-container" id="vagrantfile-digital_ocean-instructions-container">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#vagrantfile-digital_ocean-instructions-container"
               href="#vagrantfile-digital_ocean-instructions-content">
                <i class="glyphicon glyphicon-plus"></i>
                Digital Ocean Instructions
            </a>
        </h3>
    </div>

    <div id="vagrantfile-digital_ocean-instructions-content" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <h3>Digital Ocean Droplet</h3>

                <p>
                    Don't have a Digital Ocean account?
                    <a href="https://www.digitalocean.com/?refcode=475274cc0939" target="_blank">Click here to create one</a>
                    (affiliate link - help support this free service)!
                </p>

                <p>
                    Login to Digital Ocean and
                    <a href="https://www.digitalocean.com/api_access" target="_blank">go to the API page</a>.
                    You will need a Client ID and API Key.
                </p>
            </div>

            <div>
                <h3>Installation Requirements</h3>

                <p>Run the following commands from your host's terminal (not within the VM):</p>

                <ul class="nav nav-pills">
                    <li class="active"><a href="#digital_ocean-instructions-mac" data-toggle="pill">Mac</a></li>
                    <li><a href="#digital_ocean-instructions-windows" data-toggle="pill">Windows</a></li>
                    <li><a href="#digital_ocean-instructions-linux" data-toggle="pill">Linux</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="digital_ocean-instructions-mac">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box<br />
                            $ brew install curl-ca-bundle<br />
                            $ echo export SSL_CERT_FILE=/usr/local/opt/curl-ca-bundle/share/ca-bundle.crt >> ~/.bash_profile
                        </code>
                    </div>
                    <div class="tab-pane" id="digital_ocean-instructions-windows">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box
                        </code>

                        <div class="clearfix"></div>

                        <p>
                            You need rsync installed. Easiest way is to use Cygwin and install it through there.
                            Alternatively, you can
                            <a href="https://www.itefix.no/i2/content/cwrsync-free-edition" target="_blank">install rsync separately</a>
                            and add it to your PATH.
                        </p>
                    </div>
                    <div class="tab-pane" id="digital_ocean-instructions-linux">
                        <code class="col-xs-11 inline-instructions">
                            $ vagrant plugin install vagrant-digitalocean<br />
                            $ vagrant box add dummy https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box
                        </code>
                    </div>
                </div>
            </div>

            <div>
                <h3>Accessing Your VM</h3>

                <p>
                    To access your VM after running <code>$ vagrant up</code>, type
                    <code>$ vagrant ssh-config</code> to get the IP address assigned to the server you created,
                    and add the IP address to your computer's hosts file. Type <code>$ vagrant ssh</code> to
                    be immediately connected via SSH to your new server!
                </p>
            </div>

            <div>
                <h3 class="text-warning">If you choose CentOS</h3>

                <p>
                    The CentOS images do not ship with <code>rsync</code> installed! The first time you run
                    <code>$ vagrant up</code> IT WILL ERROR, but this is OK! Simply <code>$ vagrant ssh</code>
                    and type <code>$ sudo yum install rsync</code>. Once it finished installing, run
                    <code>$ vagrant provision</code>.
                </p>
            </div>
        </div>
    </div>
</div>
