{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<input type="hidden" name="is_disabled[postgresql]" value="0" />

<section id="postgresql">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PostgreSQL Quick Settings</h3>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="postgresql[install]"
                                       {% if postgresql.install %}checked{% endif %} value="1" /> Install PostgreSQL
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="postgresql-root_password">
                                Root Password
                                {{ popover.small('Assign a password to the root user.
                                    <strong>Database will only be installed when a password is entered here.</strong>') }}
                            </label>
                            <input type="text" id="postgresql-root_password" name="postgresql[root_password]"
                                   value="{{ postgresql.root_password }}" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="postgresql-adminer">
                                Adminer
                                {{ popover.small('If installed it will be available from
                                    <code>http://{SERVER_IP_ADDRESS}/adminer</code>.') }}
                            </label><br />
                            <label class="checkbox-inline">
                                <input type="checkbox" id="postgresql-adminer" name="postgresql[adminer]"
                                       {% if postgresql.adminer %}checked{% endif %} value="1" /> Install Adminer
                            </label>
                        </div>
                    </div>
                </div>

                {% for database in postgresql.databases %}
                    {% include 'PuphpetExtensionPostgresqlBundle:form/sections:NewUserAndDatabase.html.twig'
                        with {'available_privileges': postgresql.available_privileges, 'database': database} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.postgresql.add_database') }}">Add another PostgreSQL database</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
