<input type="hidden" name="wpcli[install]" value="0" />

<div class="form-group margin-top">
    <label class="col-xs-12 radio-tile">
        <input type="checkbox" name="wpcli[install]" value="1"
               class="invisible toggle-on-select update-other-input"
               {% if wpcli.install %}checked{% endif %}
               data-vis-toggle-target="#wpcli-container,#wpcli-install-check"
               data-update-php[composer]="1" data-update-hhvm[composer]="1" />
        <span class="content">
            <span class="header large">
                <i class="icon"></i>
                <span class="title">Install WP-CLI</span>
            </span>
            <span class="footer">
                Command line interface for WordPress.
            </span>
        </span>
    </label>

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="wpcli-container" class="{% if not wpcli.install %}hidden{% endif %}">
    <div class="form-group col-xs-12">
        <div class="help-text">
            <p><a href="http://wp-cli.org/" target="_blank">WP-CLI</a> will be available
                as a system service:</p>
            <p><code>$ wp</code></p>
        </div>
        <label for="wpcli-version">Choose Version</label>
        <select id="wpcli-version"
               name="wpcli[version]"
               class="form-control select-tag">
            {% if wpcli.version is defined %}
                <option value="{{ wpcli.version }}" selected>{{ wpcli.version }}</option>
            {% endif %}

            {% for version in wpcli.available_versions %}
                {% if version != wpcli.version %}
                    <option value="{{ version }}">{{ version }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
