<section>

    <div class="page-header">
      <h1 id="http-server">HTTP Server</h1>
    </div>

    <!-- HTTP Server / Apache / Modules -->
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Apache Modules</h3>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="apache-modules">Apache Modules</label>
                            <select id="apache-modules" name="apache[modules][]"
                                multiple class="form-control select-tags">
                                <option value="rewrite" selected="selected">rewrite</option>
                                <option value="actions">actions</option>
                                <option value="asis">asis</option>
                                <option value="auth_digest">auth_digest</option>
                                <option value="authn_alias">authn_alias</option>
                                <option value="authn_anon">authn_anon</option>
                                <option value="authn_dbd">authn_dbd</option>
                                <option value="authn_dbm">authn_dbm</option>
                                <option value="authn_default">authn_default</option>
                                <option value="authnz_ldap">authnz_ldap</option>
                                <option value="authz_dbm">authz_dbm</option>
                                <option value="authz_owner">authz_owner</option>
                                <option value="cache">cache</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-3 right-panel"></div>
    </div>
    <!-- end HTTP Server / Apache / Modules -->

    <!-- HTTP Server / Apache / Vhost -->
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Virtual Host</h3>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="apache-vhosts-ajffja-servername">Server Name</label>
                            <input type="text" id="apache-vhosts-ajffja-servername"
                                   name="apache[vhosts][ajffja][servername]"
                                   required placeholder="awesome.dev"
                                   value="awesome.dev" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="apache-vhosts-ajffja-serveraliases">Server Aliases</label>
                            <input type="text" id="apache-vhosts-ajffja-serveraliases"
                                   name="apache[vhosts][ajffja][serveraliases]"
                                   placeholder="www.awesome.dev"
                                   value="" class="form-control tags" />

                            <p class="help-block">Separated by comma</p>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="apache-vhosts-ajffja-docroot">Document Root</label>
                            <input type="text" id="apache-vhosts-ajffja-docroot"
                                   name="apache[vhosts][ajffja][docroot]"
                                   required placeholder="/var/www/awesome"
                                   value="/var/www/awesome" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="apache-vhosts-ajffja-port">Port</label>
                            <input type="text" id="apache-vhosts-ajffja-port"
                                   name="apache[vhosts][ajffja][port]"
                                   required placeholder="80"
                                   value="80" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="apache-vhosts-ajffja-envvars">Environment Variables</label>
                            <input type="text" id="apache-vhosts-ajffja-envvars"
                                   name="apache[vhosts][ajffja][envvars]"
                                   placeholder="APP_ENV dev, APP_FOO bar"
                                   value="" class="form-control tags" />

                            <p class="help-block">"name value", separated by comma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
