<div class="tab-pane" id="mariadb">
    {% include 'PuphpetBundle::mariadb.html.twig' with {'mariadb': add_available(extensions.mariadb.merged, extensions.mariadb.available)} %}
</div>
<div class="tab-pane" id="mysql">
    {% include 'PuphpetBundle::mysql.html.twig' with {'mysql': add_available(extensions.mysql.merged, extensions.mysql.available)} %}
</div>
<div class="tab-pane" id="postgresql">
    {% include 'PuphpetBundle::postgresql.html.twig' with {'postgresql': add_available(extensions.postgresql.merged, extensions.postgresql.available)} %}
</div>
<div class="tab-pane" id="mongodb">
    {% include 'PuphpetBundle::mongodb.html.twig' with {'mongodb': add_available(extensions.mongodb.merged, extensions.mongodb.available)} %}
</div>
<div class="tab-pane" id="redis">
    {% include 'PuphpetBundle::redis.html.twig' with {'redis': add_available(extensions.redis.merged, extensions.redis.available)} %}
</div>
<div class="tab-pane" id="sqlite">
    {% include 'PuphpetBundle::sqlite.html.twig' with {'sqlite': add_available(extensions.sqlite.merged, extensions.sqlite.available)} %}
</div>
