<div class="tab-pane" id="vagrantfile-local">
    {% include 'PuphpetBundle::vagrantfile-local.html.twig' with {
        'data': add_available(extensions.vagrantfile_local.merged, extensions.vagrantfile_local.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-rackspace">
    {% include 'PuphpetBundle::vagrantfile-rackspace.html.twig' with {
        'data': add_available(extensions.vagrantfile_rackspace.merged, extensions.vagrantfile_rackspace.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-digitalocean">
    {% include 'PuphpetBundle::vagrantfile-digitalocean.html.twig' with {
        'data': add_available(extensions.vagrantfile_digitalocean.merged, extensions.vagrantfile_digitalocean.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-linode">
    {% include 'PuphpetBundle::vagrantfile-linode.html.twig' with {
        'data': add_available(extensions.vagrantfile_linode.merged, extensions.vagrantfile_linode.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-aws">
    {% include 'PuphpetBundle::vagrantfile-aws.html.twig' with {
        'data': add_available(extensions.vagrantfile_aws.merged, extensions.vagrantfile_aws.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-gce">
    {% include 'PuphpetBundle::vagrantfile-gce.html.twig' with {
        'data': add_available(extensions.vagrantfile_gce.merged, extensions.vagrantfile_gce.available)
    } %}
</div>
<div class="tab-pane" id="vagrantfile-none">
    {% include 'PuphpetBundle::vagrantfile-none.html.twig' %}
</div>
