<div class="tab-pane" id="elastic-search">
    {% include 'PuphpetBundle::elastic-search.html.twig' with {'elastic_search': add_available(extensions.elastic_search.merged, extensions.elastic_search.available)} %}
</div>
<div class="tab-pane" id="solr">
    {% include 'PuphpetBundle::solr.html.twig' with {'solr': add_available(extensions.solr.merged, extensions.solr.available)} %}
</div>
