<input type="hidden" name="users_groups[install]" value="1" />

<div class="section-header">
    <h1>Users &amp; Groups</h1>
    <p class="lead">Add users &amp; groups to server.</p>
</div>

<div class="field-container">
    <div class="form-group col-xs-12">
        <div class="help-text">
            Add groups here. Not all groups require users.
        </div>
        <label for="users_groups-groups">Groups</label>
        <select id="users_groups-groups"
               name="users_groups[groups][]"
               multiple class="form-control select-tags-editable">
            {% for group in ug.groups %}
                <option selected value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            Add users here. Not all users require groups, but if you want to
            add a user to a group, the group must be listed above in the Groups
            section.
        </div>
        <label for="users_groups-users">Users</label>
        <select id="users_groups-users"
               name="users_groups[users][]"
               multiple class="form-control select-tags-editable">
            {% for user in ug.users %}
                <option selected value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-xs-12">
        <p class="help-block">
            The required format for users to be added to groups is
            <code>{USER}:{GROUP}</code>. If you want to create a user
            without assigning to a group, simply use <code>{USER}</code>.
            You can also assign a user to multiple groups using
            <code>{USER}:{GROUP}:{GROUP}</code> - a user can belong
            to as many groups as you want.
        </p>

        <p class="help-block">
            User home directories will be placed at
            <code>/home/{USER}</code>.
        </p>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#system-packages"><span aria-hidden="true">&larr;</span>System Packages</a></li>
            <li class="next">
                <a href="#locale">Locale/Timezone <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
