<input type="hidden" name="sqlite[install]" value="0" />

<div class="section-header hidden">
    <h1>SQLite</h1>
    <p class="lead">Install SQLite and create users and databases.</p>
</div>

<div class="form-group">
    <label class="col-xs-12 radio-tile">
        <input type="checkbox" name="sqlite[install]" value="1"
               class="invisible toggle-on-select"
               {% if sqlite.install %}checked{% endif %}
               data-vis-toggle-target="#sqlite-container" />
        <span class="content">
            <span class="header large">
                <i class="icon"></i>
                <span class="title">Install SQLite</span>
            </span>
            <span class="footer">
                The most widely deployed SQL database engine in the world.
            </span>
        </span>
    </label>

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="sqlite-container" class="{% if not sqlite.install %}hidden{% endif %}">
    <div class="form-group col-xs-12">
        <div class="clearfix"><label>Adminer</label></div>

        <label class="radio-tile mini set-width">
            <span class="help-text">
                It is highly recommended <strong>not</strong> installing Adminer
                on production servers.
                <br /><br />
                If installed it will be available from
                <code>http://{SERVER_IP_ADDRESS}/adminer</code>.
            </span>
            <input type="checkbox" name="sqlite[adminer]"
                   class="invisible"
                   {% if sqlite.adminer %}checked{% endif %}
                   value="1" />
            <span class="content">
                <span class="header">
                    <i class="icon"></i>
                    <span class="title">Install Adminer</span>
                </span>
            </span>
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="help-block">
        <p>The preferred way to connect to your database is using a dedicated
            application like
            <a href="http://www.valentina-db.com/valentina-studio-overview" target="_blank">Valentina Studio (OS X)</a>,
            <a href="http://sqliteman.com/">Sqliteman (Windows/Linux)</a>,
            <a href="http://sqliteadmin.orbmu2k.de/">SQLite Administrator (Windows)</a>,
            and
            <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">SQLite Manager (FireFox)</a>.</p>
        <p>Connect using SSH tunnel, username <code>vagrant</code> and SSH key generated at
            <code>puphpet/files/dot/ssh/id_rsa</code>. This key is generated <strong>after</strong>
            your initial <code>$ vagrant up</code>!</p>
    </div>

    {% for database in sqlite.databases %}
        {% include 'PuphpetMainBundle:sqlite/sections:user-database.html.twig'
            with {'available_privileges': sqlite.available_privileges, 'database': database} %}
    {% endfor %}

    <a href="#" data-source-url="{{ path('puphpet.sqlite.add_database') }}"
       class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another database</a>
</div>
