<div class="page-header">
    <img class="svgIcon" src="/assets/img/noun-project/checkerdflag.svg"/>

    <h1>Create,
        <small>get your Symfony VM on!</small>
    </h1>
</div>

<p class="text-center">
    <button type="submit" class="btn btn-primary btn-large">Create My Manifest!</button>
</p>

{# lame spacer #}
<div class="row">
    <div>&nbsp;</div>
</div>

<div class="row">
    <div class="col col-lg-4">
        <p><strong>What's next?</strong></p>

        <p>Click the button to create your custom zip file.</p>

        <p>If you have not installed Vagrant yet, go to <a href="http://downloads.vagrantup.com/">http://downloads.vagrantup.com/</a>
        </p>

        <p>Run <code>$ vagrant up</code> and enjoy!</p>

        <p>If you need extra help, <a href="https://puphpet.com/help">go to the help page</a>.</p>

        <p>You need a more customized box? <a href="/">Checkout the advanced configuration</a>. </p>
    </div>
    <div class="col col-lg-4">
        <p><strong>Quickstart Information</strong></p>

        <p>Database credentials are<code>guest:guest</code> for database <code>symfony</code>.</p>

        <div>
            <p>
                You have the possibility to pre-select some of the available options of your own for linking
                the configuration to someone else. Just add the needed parameters to the query string:
            </p>

            <div>
                <ul class="text-muted">
                    <li>database: mysql|postgresql</li>
                    <li>webserver: apache|nginx</li>
                    <li>php: php53|php54|php55</li>
                    <li>foldertype: default|nfs</li>
                </ul>

                Example:
                <a href="/quickstart/symfony?database=postgresql&webserver=nginx&php=php55&create_project=1&symfony_version=2.3.1&foldertype=nfs">
                    ?database=postgresql&webserver=nginx&php=php55&create_project=1&symfony_version=2.3.1&foldertype=nfs
                </a>
            </div>

        </div>
    </div>

