{% set php_version= edition.get('[php][version]')|default('php54') %}
<div class="bs-example project">
    <div class="row">

        <div class="col col-lg-5">
            <div>
                <label class="checkbox-inline" for="php-version-php54">Create New Symfony Project</label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="symfony-generate-project" name="project[generate_project]"
                           value="1" {% if edition.get('[project][generate_project]') %} checked{% endif %}/>
                    Yes
                </label>

                <p class="help-block">Otherwise you have to generate or clone the project on your own</p>
            </div>
            <div>
                <label for="symfony-version">Symfony Version</label>

                <input type="text" name="project[symfony_version]" placeholder="2.3.1" value="{{ edition.get('[project][version]') }}"/>

                <p class="help-block">
                    Ignored if the option <i>Create New Symfony Project</i> is not checked.
                    Leave it blank to use the latest version.
                    Check <a href="https://packagist.org/packages/symfony/framework-standard-edition">packagist</a>
                    for every available version.
                </p>
            </div>
        </div>

        <div class="col col-lg-5">
            <label for="project-name">Project name</label>
            <input id="project-name" name="project[name]" type="text" required
                   placeholder="symfony-box"
                   value="symfony.{{ default_box }}.local"
                   title="Please use a FQDN-like name like myproject.dev or myproject.localhost"
                   pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,63}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,}$"
                    />

            <p class="help-block">
                Reflects your unique box and host name.
                Please use a FQDN-like name like myproject.dev or myproject.localhost.
            </p>

            <label for="document-root">Document Root</label>
            <input id="document-root" name="project[document_root]" type="text" required
                   placeholder="/var/www/symfony/web"
                   value="/var/www/symfony.{{ default_box }}.local/web"
                   title="Please enter a valid unix path like /var/www/myproject.dev"
                   pattern="^\/([a-zA-Z0-9][a-zA-Z0-9\-\.\_\/]{0,63})+[a-zA-Z]+$"
                    />

            <p class="help-block">Reflects your unique box and host name. Please use a FQDN-like name (as myproject.dev
                or myproject.localhost) here.</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-4">
            <label for="php-version">PHP Version</label>
            <select name="php[version]" id="php-version">
                <option value="php53"{% if php_version == 'php53' %} selected="selected"{% endif %}>PHP 5.3</option>
                <option value="php54"{% if php_version == 'php54' %} selected="selected"{% endif %}>PHP 5.4</option>
                <option value="php55"{% if php_version == 'php55' %} selected="selected"{% endif %}>PHP 5.5</option>
            </select>
        </div>
    </div>

</div>
