<div class="bs-example webserver">
    <div class="row">
        <div class="col col-lg-12">
            <p>You have the option of choosing either Apache or Nginx as webserver.</p>

            <input type="hidden" name="webserver" value="apache"/>

            <ul id="webserverTab" class="nav nav-pills" data-configuration-name="webserver">
                <li class="active"><a href="#apacheTab" data-toggle="pill"
                                      data-configuration-value="apache">Apache</a></li>
                <li><a href="#nginxTab" data-toggle="pill" data-configuration-value="nginx">Nginx</a></li>
            </ul>
        </div>
    </div>
</div>