{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="nginx">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Install Nginx</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="update-other-input"
                                   name="nginx[install]" data-update-apache[install]="0"
                                   {% if nginx.install %}checked{% endif %} value="1" /> Install Nginx
                            {% if not nginx.install %}<input type="hidden" name="nginx[install]" value="0" />{% endif %}
                        </label>

                        <p class="help-block">
                            Only Apache or Nginx can be installed (or none at all).
                            Installing both at the same time is not supported.
                        </p>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="nginx-settings-proxy_buffers">
                                Proxy Buffers
                                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffers"
                                   target="_blank"><i
                                        class="popover-container fa fa-question-circle text-warning"
                                        data-original-title="" title=""></i></a>
                            </label>
                            <input type="text" id="nginx-settings-proxy_buffers"
                                   name="nginx[settings][proxy_buffers]" placeholder="4 256k"
                                   value="{{ nginx.settings.proxy_buffers }}" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="nginx-settings-proxy_buffer_size">
                                Proxy Buffer Size
                                <a href="http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffer_size"
                                   target="_blank"><i
                                        class="popover-container fa fa-question-circle text-warning"
                                        data-original-title="" title=""></i></a>
                            </label>
                            <input type="text" id="nginx-settings-proxy_buffer_size"
                                   name="nginx[settings][proxy_buffer_size]" placeholder="128k"
                                   value="{{ nginx.settings.proxy_buffer_size }}" class="form-control" />
                        </div>
                    </div>
                </div>
                {% for upstream in nginx.upstreams %}
                    {% include 'PuphpetExtensionNginxBundle:sections:upstream.html.twig' with {'upstream': upstream} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.nginx.upstream') }}">Add a Nginx Proxy Upstream</button>
                    </div>
                </div>

                {% for vhost in nginx.vhosts %}
                    {% include 'PuphpetExtensionNginxBundle:sections:vhost.html.twig' with {'vhost': vhost, 'available_engines': nginx.available_engines} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.nginx.vhost') }}">Add another Nginx vhost</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
