{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="sqlite">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">SQLite Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="sqlite[install]"
                                   {% if sqlite.install %}checked{% endif %} value="1" /> Install SQLite
                            {% if not sqlite.install %}<input type="hidden" name="sqlite[install]" value="0" />{% endif %}
                            {{ popover.small('The most widely deployed SQL database engine in the world.') }}
                        </label>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="sqlite-adminer">
                                Adminer
                                {{ popover.small('If installed it will be available from
                                    <code>http://{SERVER_IP_ADDRESS}/adminer</code>.') }}
                            </label><br />
                            <label class="checkbox-inline">
                                <input type="checkbox" id="sqlite-adminer" name="sqlite[adminer]"
                                       {% if sqlite.adminer %}checked{% endif %} value="1" /> Install Adminer
                            </label>
                        </div>
                    </div>

                    <p class="help-block">
                        It is highly recommended <strong>not</strong> installing Adminer on production servers.

                        <br /><br />

                        The preferred way to connect to your database is using a dedicated application like
                        <a href="http://www.valentina-db.com/valentina-studio-overview" target="_blank">Valentina Studio (OS X)</a>,
                        <a href="http://sqliteman.com/">Sqliteman (Windows/Linux)</a>,
                        <a href="http://sqliteadmin.orbmu2k.de/">SQLite Administrator (Windows)</a>,
                        and
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">SQLite Manager (FireFox)</a>.

                        <br /><br />

                        Connect using SSH tunnel, username <code>vagrant</code> and SSH key generated at
                        <code>puphpet/files/dot/ssh/id_rsa</code>. This key is generated <strong>after</strong>
                        your initial <code>$ vagrant up</code>!
                    </p>
                </div>

                {% for database in sqlite.databases %}
                    {% include 'PuphpetExtensionSqliteBundle:sections:OwnerAndDatabase.html.twig'
                        with {'available_privileges': sqlite.available_privileges, 'database': database} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.sqlite.add_database') }}">Add another SQLite database</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
