{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<section id="hhvm">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">HHVM Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="install-checkbox update-other-input"
                                   name="hhvm[install]"
                                   data-update-php[install]
                                   data-hide-on-uncheck="#hhvm-config-container"
                                   {% if hhvm.install %}checked{% endif %} value="1" />
                            Install HHVM
                            {{ popover.small('HHVM is a new open-source virtual machine designed for executing programs
                                written in PHP.
                                <a href="https://github.com/facebook/hhvm/" target="_blank">Learn about HHVM</a>.') }}
                        </label>

                        <p class="help-block">
                            If you install HHVM, you cannot install PHP.
                        </p>
                    </div>
                </div>

                <div class="{% if not hhvm.install %}hidden{% endif %}" id="hhvm-config-container">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="hhvm[nightly]" value="1"
                                        {% if hhvm.nightly == 1 %}checked{% endif %} /> Install Nightly
                                </label>

                                <p class="help-block">
                                    This will install the nightly release of HHVM. If you want to test out
                                    <a href="http://hacklang.org/" target="_blank">Hack</a>, you must choose
                                    this option!
                                </p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="hhvm-settings-host">Host</label>
                                <input type="text" id="hhvm-settings-host" name="hhvm[settings][host]"
                                       required placeholder="127.0.0.1"
                                       pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
                                       oninvalid="setCustomValidity('IP address format: 127.0.0.1')"
                                       value="{{ hhvm.settings.host }}" class="form-control" />
                            </div>

                            <div class="col-md-6">
                                <label for="hhvm-settings-port">Listen Port</label>
                                <input type="number" id="hhvm-settings-port"
                                       name="hhvm[settings][port]"
                                       required placeholder="13000" pattern="^[1-9][0-9]*$" min="5000" max="20000"
                                       value="{{ hhvm.settings.port }}" class="form-control" />
                            </div>
                        </div>

                        <p class="help-block">
                            HHVM will run in
                            <a href="http://www.hhvm.com/blog/1817/fastercgi-with-hhvm" target="_blank">FastCGI mode</a>.
                            In short: it will use Apache or Nginx (whatever you have chosen) so all your htaccess and
                            redirect rules should continue working as normal. Only instead of using the official PHP engine,
                            HHVM will be used.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
