{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="cron-jobs">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cron Jobs</h3>
                </div>

                <div class="panel-body">
                    <input type="hidden" name="cron[install]" value="1" />

                    <p>
                        The user must exist. <code>root</code> is a valid option.
                        If you're deploying locally, <code>vagrant</code> is also valid, if deploying
                        remotely then enter the ssh username you chose in the Deploy Target area.
                        If you'd like a different user
                        <a href="/#system-users_groups">make sure to add them here.</a>
                    </p>

                    <p>
                        If you don't define a user, the user that runs Puppet will be used by default.
                        This user has root access, and most likely <em>is</em> root.
                    </p>

                    <p>
                        Minute, hour, day and month values can all be left blank, as long as
                        one of them is not blank. e.g. hour, day and month can be blank if
                        minute has a value.
                    </p>
                </div>

                {% for job in cron.jobs %}
                    {% include 'PuphpetExtensionCronBundle:sections:job.html.twig' with {'job': job} %}
                {% endfor %}

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2">
                        <button type="button" class="btn btn-success btn-lg btn-block addParentContainer"
                                data-source-url="{{ path('puphpet.extension.cron.job') }}">Add another cron job</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
