<div class="bs-example rootPassword">
    <div class="row">
        <div class="col col-lg-10">
            <label for="mysql-root">MySQL Root Password</label>
            <input id="mysql-root" name="mysql[root]"
                   type="text" placeholder="root_password" value="" />
            <p class="help-block">
                Assign a password to the root user.
                <strong>MySQL will only be installed when a password is entered here.</strong>
            </p>
        </div>
    </div>
</div>

<div class="bs-example quickSettings">
    <div class="row">
        <div class="col col-lg-4 min-span-4">
            <label class="checkbox-inline min-span-2" for="mysql-phpmyadmin">Install phpMyAdmin</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="mysql-phpmyadmin" name="mysql[phpmyadmin]" value="1" checked="checked" />
                Yes
            </label>
            <p class="help-block">If installed it will be available from <a href="http://phpmyadmin">http://phpmyadmin</a></p>
        </div>
    </div>
</div>

<div id="mysql-dbuser-count" rel="1">
    {% include 'Front/Tabs/Database/MySQL/dbuser.html.twig' %}

    <p class="text-center"><a id="mysql-dbuser-add" class="btn btn-primary" href="#">Add Another DB/User</a></p>
</div>
