<div class="bs-example rootPassword">
    <label for="mysql-root">MySQL Root Password</label>
    <input id="mysql-root" name="mysql[root]"
           type="text" class="tags" placeholder="root_password" value="" />
    <p class="help-block">Assign a password to the root user</p>
</div>

<div id="mysql-dbuser-count" rel="1">
    {% include 'Front/Tabs/MySQL/dbuser.html.twig' %}

    <p class="text-center"><a id="mysql-dbuser-add" class="btn btn-primary" href="#">Add Another DB/User</a></p>
</div>
