<div class="bs-example rootPassword">
    <label for="postgresql-root">PostgreSQL Root Password</label>
    <input id="postgresql-root" name="postgresql[root]"
           type="text" placeholder="root_password" value="" />
    <p class="help-block">Assign a password to the root user</p>
</div>

<div id="postgresql-dbuser-count" rel="1">
    {% include 'Front/Tabs/PostgreSQL/dbuser.html.twig' %}

    <p class="text-center"><a id="postgresql-dbuser-add" class="btn btn-primary" href="#">Add Another DB/User</a></p>
</div>
