<div class="col-sm-3 hidden-xs">
    <div class="nav well well-sm" data-spy="affix" data-offset-top="200" role="complementary">
        <ul class="nav">
            <li>
                <a href="#">Overview</a>
                <ul class="nav">
                    <li><a href="#">HTML5 doctype</a></li>
                    <li><a href="#">Mobile first</a></li>
                    <li><a href="#">Responsive images</a></li>
                    <li><a href="#">Typography and links</a></li>
                    <li><a href="#">Normalize</a></li>
                    <li><a href="#">Containers</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Grid system</a>
                <ul class="nav">
                    <li><a href="#">Media queries</a></li>
                    <li><a href="#">Grid options</a></li>
                    <li><a href="#">Ex: Stacked-to-horizonal</a></li>
                    <li><a href="#">Ex: Mobile and desktops</a></li>
                    <li><a href="#">Ex: Mobile, tablet, desktops</a></li>
                    <li><a href="#">Responsive column resets</a></li>
                    <li><a href="#">Offsetting columns</a></li>
                    <li><a href="#">Nesting columns</a></li>
                    <li><a href="#">Column ordering</a></li>
                    <li><a href="#">LESS mixins and variables</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
