{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="drush">
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-xs-12">
                <label class="checkbox-inline install-checkbox">
                    <input type="checkbox" name="drush[install]"
                           class="update-other-input multiselect-grouped-tab"
                           data-tab-target="drush-pill"
                           data-update-php[composer]="1" data-update-hhvm[composer]="1"
                           {% if drush.install %}checked{% endif %} value="1" /> Install Drush
                    {{ popover.small('<a href="http://drush.ws/">Drush</a> will be available as a system service:<br />
                        <code>$ drush</code>') }}
                    {% if not drush.install %}<input type="hidden" name="drush[install]" value="0" />{% endif %}
                </label>
            </div>
        </div>

        <p class="help-block">
            Drush requires PHP or HHVM, and Composer.
        </p>

        <div class="row form-group">
            <div class="col-xs-12">
                <label for="drush-version">Choose Version</label>

                <select id="drush-version"
                        name="drush[version]" size="6"
                        class="form-control select-tags">
                    {% for version in drush.available_versions %}
                        <option value="{{ version }}"
                            {% if version == drush.version %}selected{% endif %}>{{ version }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</section>
