<input type="hidden" name="ruby[install]" value="1" />

<div class="section-header">
    <h1>Ruby</h1>
    <p class="lead">Configure Ruby versions and gems.</p>
</div>

<div class="field-container">
    {% for selected_version in ruby.versions %}
        {% include 'PuphpetBundle:ruby/sections:version.html.twig' with {
            'available_versions': ruby.available.versions, 'selected_version': selected_version} %}
    {% endfor %}

    <a href="#" data-source-url="{{ path('puphpet.ruby.add_version') }}"
       class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another Ruby version</a>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#php"><span aria-hidden="true">&larr;</span> PHP</a></li>
            <li class="next">
                <a href="#python">Python <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
