<div class="help-block">
    <a href="https://getcomposer.org">Composer</a> will be available as a
    system service: <code>$ composer</code>
</div>

<input type="hidden" name="php[composer_home]" value="{{ php.composer_home }}" />
