<input type="hidden" name="cron[install]" value="1" />

<div class="section-header">
    <h1>Cron Jobs</h1>
    <p class="lead">Add cron jobs.</p>
</div>

<div class="field-container">
    <div class="help-block">
        <p>The user must exist. <code>root</code> is a valid option.
            If you're deploying locally, <code>vagrant</code> is also valid, if deploying
            remotely then enter the ssh username you chose in the Deploy Target area.
            If you'd like a different user
            <a href="#users-groups">make sure to add them here.</a></p>

        <p>If you don't define a user, the user that runs Puppet will be used by default.
            This user has root access, and most likely <em>is</em> root.</p>

        <p>Minute, hour, day and month values can all be left blank, as long as
            one of them is not blank. e.g. hour, day and month can be blank if
            minute has a value.</p>
    </div>

    <div class="clearfix"></div>

    {% for job in cron.jobs %}
        {% include 'PuphpetBundle:cron:job.html.twig' with {'job': job} %}
    {% endfor %}

    <a href="#" data-source-url="{{ path('puphpet.cron.job') }}"
       class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another cron job</a>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#firewall"><span aria-hidden="true">&larr;</span> Firewall Rules</a></li>
            <li class="next">
                <a href="#custom-files">Custom Files <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
