<input type="hidden" name="letsencrypt[install]" value="1" />

<div class="section-header">
    <h1>Let's Encrypt</h1>
    <p class="lead">Let’s Encrypt is a new Certificate Authority.</p>
</div>

<div class="field-container">
    <div class="help-text col-xs-12">
        <p>The domains chosen below must match up with the domains you
            have selected to use Let's Encrypt SSL certificates in either
            the Nginx or Apache tabs!</p>

        <p>A cron job is made to automatically renew your certificate(s).</p>
    </div>

    <div class="form-group col-xs-12">
        <div class="help-text">
            <p>This email address will be displayed as the admin for your
                generated certificates</p>
        </div>
        <label for="letsencrypt-settings-email">Admin Email Address</label>
        <input type="email" id="letsencrypt-settings-email"
               name="letsencrypt[settings][email]"
               placeholder="you@awesome" class="form-control"
               value="{{ letsencrypt.settings.email }}" />
    </div>

    <div class="clearfix"></div>

    {% for domain in letsencrypt.domains %}
        {% include 'PuphpetBundle:letsencrypt:domain.html.twig' %}
    {% endfor %}

    <a href="#" data-source-url="{{ path('puphpet.letsencrypt.add_domain') }}"
       class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another domain</a>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#apache"><span aria-hidden="true">&larr;</span> Apache</a></li>
            <li class="next">
                <a href="#php">PHP <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
