<input type="hidden" name="server[install]" value="1" />

<div class="section-header">
    <h1>System Packages</h1>
    <p class="lead">Install system packages.</p>
</div>

<div class="field-container">
    <div class="form-group col-xs-12">
        <div class="help-text">
            Packages to install via the OS package manager, separated by comma.
            Do not add Apache/Nginx or PHP here - you will choose those later.
        </div>
        <label for="server-packages">System Packages</label>
        <select id="server-packages"
               name="server[packages][]"
               multiple class="form-control select-tags-editable">
            {% for package in server.packages %}
                <option selected value="{{ package }}">{{ package }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="help-block col-xs-12">
        <p>Some common packages are (do not mix!):</p>

        <ul class="col-xs-6">
            Ubuntu:
            <li><a href="#" class="addClickedToSelectizeElement"
                    data-target="server-packages"
                    data-value="vim">vim</a></li>
            <li><a href="#" class="addClickedToSelectizeElement"
                    data-target="server-packages"
                    data-value="htop">htop</a></li>
        </ul>

        <ul class="col-xs-6">
            CentOS:
            <li><a href="#" class="addClickedToSelectizeElement"
                    data-target="server-packages"
                    data-value="vim-enhanced">vim-enhanced</a></li>
            <li><a href="#" class="addClickedToSelectizeElement"
                    data-target="server-packages"
                    data-value="htop">htop</a></li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#vagrantfile-local"><span aria-hidden="true">&larr;</span> Local Deployment Target</a></li>
            <li class="next">
                <a href="#users-groups">Users &amp; Groups <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
