<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="#frontpage" data-toggle="tab" data-group="menu-link" class="cm-logo">PuPHPet</a></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li class="cm-submenu pre-open">
                        <a>Deploy Target <span class="caret"></span></a>
                        <ul>
                            <li><a href="#vagrantfile-local" data-toggle="tab" data-group="menu-link">Locally</a></li>
                            <li><a href="#vagrantfile-rackspace" data-toggle="tab" data-group="menu-link">Rackspace</a></li>
                            <li><a href="#vagrantfile-digitalocean" data-toggle="tab" data-group="menu-link">Digital Ocean</a></li>
                            <li><a href="#vagrantfile-linode" data-toggle="tab" data-group="menu-link">Linode</a></li>
                            <li><a href="#vagrantfile-aws" data-toggle="tab" data-group="menu-link">Amazon</a></li>
                            <li><a href="#vagrantfile-gce" data-toggle="tab" data-group="menu-link">Google</a></li>
                            <li><a href="#vagrantfile-none" data-toggle="tab" data-group="menu-link">None</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>System <span class="caret"></span></a>
                        <ul>
                            <li><a href="#system-packages" data-toggle="tab" data-group="menu-link">Packages</a></li>
                            <li><a href="#users-groups" data-toggle="tab" data-group="menu-link">Users &amp; Groups</a></li>
                            <li><a href="#locale" data-toggle="tab" data-group="menu-link">Locale/Timezone</a></li>
                            <li><a href="#firewall" data-toggle="tab" data-group="menu-link">Firewall Rules</a></li>
                            <li><a href="#resolv" data-toggle="tab" data-group="menu-link">Resolv</a></li>
                            <li><a href="#cron" data-toggle="tab" data-group="menu-link">Cron Jobs</a></li>
                            <li><a href="#custom-files" data-toggle="tab" data-group="menu-link">Custom Files</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Web Servers <span class="caret"></span></a>
                        <ul>
                            <li><a href="#nginx" data-toggle="tab" data-group="menu-link">Nginx</a></li>
                            <li><a href="#apache" data-toggle="tab" data-group="menu-link">Apache</a></li>
                            <li><a href="#letsencrypt" data-toggle="tab" data-group="menu-link">Let's Encrypt</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Languages <span class="caret"></span></a>
                        <ul>
                            <li><a href="#php" data-toggle="tab" data-group="menu-link">PHP</a></li>
                            <li><a href="#ruby" data-toggle="tab" data-group="menu-link">Ruby</a></li>
                            <li><a href="#python" data-toggle="tab" data-group="menu-link">Python</a></li>
                            <li><a href="#nodejs" data-toggle="tab" data-group="menu-link">Node.js</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Databases <span class="caret"></span></a>
                        <ul>
                            <li><a href="#mariadb" data-toggle="tab" data-group="menu-link">MariaDB</a></li>
                            <li><a href="#mysql" data-toggle="tab" data-group="menu-link">MySQL</a></li>
                            <li><a href="#postgresql" data-toggle="tab" data-group="menu-link">PostgreSQL</a></li>
                            <li><a href="#mongodb" data-toggle="tab" data-group="menu-link">MongoDB</a></li>
                            <li><a href="#redis" data-toggle="tab" data-group="menu-link">Redis</a></li>
                            <li><a href="#sqlite" data-toggle="tab" data-group="menu-link">SQLite</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Mail Tools <span class="caret"></span></a>
                        <ul>
                            <li><a href="#mailhog" data-toggle="tab" data-group="menu-link">MailHog</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Work Queues <span class="caret"></span></a>
                        <ul>
                            <li><a href="#beanstalkd" data-toggle="tab" data-group="menu-link">Beanstalkd</a></li>
                            <li><a href="#rabbitmq" data-toggle="tab" data-group="menu-link">RabbitMQ</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu">
                        <a>Search Servers <span class="caret"></span></a>
                        <ul>
                            <li><a href="#elastic-search" data-toggle="tab" data-group="menu-link">Elastic Search</a></li>
                        </ul>
                    </li>
                    <li><a href="#create" data-toggle="tab" data-group="menu-link">Create Archive</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
