{% set selectedVersion = (solr.settings.version is defined and solr.settings.version)
    ? solr.settings.version
    : false %}
{% set versions = selectedVersion
    ? merge_unique([selectedVersion], solr.available.versions)
    : solr.available.versions %}

<input type="hidden" name="solr[install]" value="0" />

<div class="container-fluid cm-container-white section-title">
    <div class="checkbox checkbox-lg no-padding">
        <input type="checkbox" id="solr-install"
               name="solr[install]" value="1"
               {% if solr.install %}checked{% endif %}
               data-toggle="checkbox-collapse" data-target="#solr-container" />
        <label for="solr-install">Install Solr</label>

        <p>
            Solr powers the search and navigation features of many of
            the world's largest internet sites.
        </p>
    </div>
</div>

<div id="solr-container"
     class="container-fluid collapse {% if solr.install %}in{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="solr-settings-version">
                    Version
                </label>
                <select id="solr-settings-version"
                        name="solr[settings][version]"
                        class="form-control select-tag">
                {% for version in versions %}
                    <option value="{{ version }}"
                        {% if version == selectedVersion %}selected{% endif %}>{{ version }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label for="solr-settings-port">
                    Solr Port
                </label>
                <input type="number" id="solr-settings-port"
                       name="solr[settings][port]"
                       placeholder="8984" class="form-control"
                       value="{{ solr.settings.port }}" />
                <div class="help-block">
                    <p>Minimum port number is <code>1000</code>.</p>
                    <p>Solr will be available at<br />
                        <code>http://{SERVER_IP_ADDRESS}:{HTTP_PORT}/solr</code>.</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="container-fluid cm-container-white section-footer">
    <a href="#elastic-search" data-toggle="tab" class="btn btn-primary btn-lg pull-left">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Elastic Search
    </a>

    <a href="#create" data-toggle="tab" class="btn btn-primary btn-lg pull-right">
        Create Archive
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
</div>
