<div class="section-header hidden">
    <h1>Firewall</h1>
    <p class="lead">Open select ports.</p>
</div>

<div class="form-group">
    <p class="help-block">
        Warning: This is for fairly advanced use! Try to only open ports as
        you need them. The SSH port (usually <code>22</code> and defined in
        <code>vagrantfile.ssh.port</code>) is automatically opened for you.
    </p>
</div>

<div class="clearfix"></div>

{% for rule in firewall.rules %}
    {% include 'PuphpetMainBundle:firewall/sections:rule.html.twig' with {'rule': rule} %}
{% endfor %}

<a href="#" data-source-url="{{ path('puphpet.firewall.rule') }}"
   class="add-block"><i class="fa fa-level-up fa-rotate-90"></i> Add another firewall rule</a>

<input type="hidden" id="firewall-install" name="firewall[install]" value="1" />
