{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}

<section id="mailcatcher">
    <div class="panel-heading">
        <h3 class="panel-title">MailCatcher</h3>
    </div>

    <div class="row install-checkbox-container">
        <div class="col-xs-12">
            <label class="checkbox-inline">
                <input class="install-checkbox" type="checkbox" name="mailcatcher[install]"
                       data-hide-on-uncheck="#mailcatcher-config-container"
                       {% if mailcatcher.install %}checked{% endif %} value="1" />
                Install MailCatcher
                {{ popover.small('MailCatcher runs a super simple SMTP server which catches any message sent to it to
                    display in a web interface.
                    <a href="http://mailcatcher.me/" target="_blank">More information available here</a>') }}
            </label>
        </div>
    </div>

    <div class="{% if not mailcatcher.install %}hidden{% endif %}" id="mailcatcher-config-container">
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="mailcatcher-settings-http_port">
                        HTTP Port
                        {{ popover.small('MailCatcher will be available at
                            <code>http://{SERVER_IP_ADDRESS}:{HTTP_PORT}</code>') }}
                    </label>
                    <input type="number" id="mailcatcher-settings-http_port" name="mailcatcher[settings][http_port]"
                           required placeholder="1080"
                           pattern="^[1-9][0-9]*$" min="1000" max="20000"
                           value="{{ mailcatcher.settings.http_port }}" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</section>
