{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="mailcatcher">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">MailCatcher Quick Settings</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="mailcatcher[install]"
                                   {% if mailcatcher.install %}checked{% endif %} value="1" /> Install MailCatcher
                            {% if not mailcatcher.install %}<input type="hidden" name="mailcatcher[install]" value="0" />{% endif %}
                            {{ popover.small('MailCatcher runs a super simple SMTP server which catches any message sent to it to
                                display in a web interface.
                                <a href="http://mailcatcher.me/" target="_blank">More information available here</a>') }}
                        </label>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="mailcatcher-settings-http_port">HTTP Port</label>
                            <input type="number" id="mailcatcher-settings-http_port"
                                   name="mailcatcher[settings][http_port]" placeholder="1080"
                                   value="{{ mailcatcher.settings.http_port }}" class="form-control" />

                            <p class="help-block">
                                MailCatcher will be available at <code>http://{SERVER_IP_ADDRESS}:{HTTP_PORT}</code>
                                <br /><br />
                                It is highly recommended <strong>not</strong> installing Mailcatcher on production servers.
                                <br /><br />
                                Minimum port number is 1000
                            </p>
                        </div>

                        <div class="col-xs-12">
                            <label>From Address Method</label><br />
                            <label class="radio-inline">
                                <input type="radio" name="mailcatcher[settings][from_email_method]" value="inline"
                                    {% if mailcatcher.settings.from_email_method == 'inline' %}checked{% endif %} />
                                Inline
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="mailcatcher[settings][from_email_method]" value="headers"
                                    {% if mailcatcher.settings.from_email_method == 'headers' %}checked{% endif %} />
                                Headers
                            </label>

                            <p class="help-block">
                                <a href="https://github.com/puphpet/puphpet/issues/932#issuecomment-51086541"
                                   target="_blank">Per this issue</a>
                                Mailcatcher seems to have a bug where you can define your email's
                                <strong>from</strong> value either inline in your code, or as header values.
                                <br /><br />
                                If you send email like
                                <code>mail('to@email.com', 'the subject', 'the message', null, 'from@email.com');</code>
                                then choose <code>Inline</code> above. Otherwise, choose <code>Headers</code>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
