<div class="bs-example modules">
    <div class="row">
        <div class="col col-lg-10">
            <label for="apache-modules">Apache Modules</label>
            <select multiple class="selectTags" id="apache-modules" name="apache[modules][]">
                {% include 'Front/Tabs/Webserver/Apache/modules.html.twig' %}
            </select>
        </div>
    </div>
</div>

<div class="bs-example vhost">
    <div id="apache-vhost-count" rel="1">
        {% include 'Front/Tabs/Webserver/Apache/vhost.html.twig' %}
    </div>
</div>
<p class="text-center"><a id="apache-vhost-add" class="btn btn-primary" href="#">Add Another Apache Virtual Host</a></p>
