<div class="bs-example vhost">
    <div id="nginx-vhost-count" rel="1">
        {% include 'Front/Tabs/Webserver/Nginx/vhost.html.twig' %}
    </div>
</div>
<p class="text-center"><a id="nginx-vhost-add" class="btn btn-primary" href="#">Add Another Nginx Virtual Host</a></p>
