<div class="span3">
    <h5>Step 3: nginx Setup</h5>
    <ul>
        <li>
            Choose your nginx configuration
        </li>
    </ul>
    {#
    <br />

    <p class="text-center"><a id="nginx-vhost-add" class="btn btn-primary" href="#">Add Another Host</a></p>
    #}
</div>

<fieldset>
    <div class="span7" id="nginx-vhost-count" rel="1">
        {% include 'Front/Tabs/Nginx/vhost.html.twig' %}
    </div>
</fieldset>
