<div class="page-header">
    <img class="svgIcon" src="/assets/img/noun-project/checkerdflag.svg" />
    <h1>Create, <small>get your PuPHPet VM on!</small></h1>
</div>

<p class="text-center"><button type="submit" class="btn btn-primary btn-large">Create My Manifest!</button></p>

<p>Click the button to create your custom zip file.</p>

<p>If you have not installed Vagrant yet, go to <a href="http://downloads.vagrantup.com/">http://downloads.vagrantup.com/</a></p>

<p>Run <code>$ vagrant up</code> and enjoy!</p>

<p>If you need extra help, <a href="https://puphpet.com/help">go to the help page</a>.</p>
<p>You need a more customized box? <a href="/">Checkout the advanced configuration</a>. </p>
