<div class="help-block col-xs-12">
    <p>It is highly recommended <strong>not</strong> installing Xhprof on production servers.</p>
    <p>Logs will be available from <code>http://&lt;ip_address&gt;/xhprof/xhprof_html</code>.</p>
    <p><a href="#" data-toggle="modal" data-target="#xhprof-modal">Click here for instructions</a></p>
</div>

<div class="clearfix"></div>

<div class="modal fade" id="xhprof-modal" tabindex="-1" role="dialog"
     aria-labelledby="xhprof-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="xhprof-modal-label">
                    Xhprof Instructions
                </h4>
            </div>
            <div class="modal-body">
                <p>Add to top of your file:</p>

                <p><code>xhprof_enable(XHPROF_FLAGS_CPU + XHPROF_FLAGS_MEMORY);</code></p>

                <p>Add to the bottom of your file:</p>

                <p><code>
                    $xhprof_data = xhprof_disable();<br />
                    $appNamespace = 'some_namespace_here';<br />
                    include_once '/var/www/html/xhprof/xhprof_lib/utils/xhprof_lib.php';<br />
                    include_once '/var/www/html/xhprof/xhprof_lib/utils/xhprof_runs.php';<br />

                    $xhprof_runs = new XHProfRuns_Default();<br />
                    $xhprof_runs->save_run($xhprof_data, $appNamespace);<br />
                </code></p>

                <p>
                    These instructions grabbed from
                    <a href="http://www.geekyboy.com/archives/718#xhprof-usage" target="_blank">geekyboy.com</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
