<option value="allow_url_fopen">allow_url_fopen</option>
<option value="allow_url_include">allow_url_include</option>
<option value="always_populate_raw_post_data">always_populate_raw_post_data</option>
<option value="asp_tags">asp_tags</option>
<option value="auto_append_file">auto_append_file</option>
<option value="auto_detect_line_endings">auto_detect_line_endings</option>
<option value="auto_globals_jit">auto_globals_jit</option>
<option value="auto_prepend_file">auto_prepend_file</option>
<option value="browscap">browscap</option>
<option value="child_terminate">child_terminate</option>
<option value="default_charset">default_charset</option>
<option value="default_mimetype">default_mimetype</option>
<option value="default_socket_timeout">default_socket_timeout</option>
<option value="disable_classes">disable_classes</option>
<option value="disable_functions">disable_functions</option>
<option value="display_startup_errors">display_startup_errors</option>
<option value="docref_ext">docref_ext</option>
<option value="docref_root">docref_root</option>
<option value="doc_root">doc_root</option>
<option value="engine">engine</option>
<option value="error_append_string">error_append_string</option>
<option value="error_log">error_log</option>
<option value="error_prepend_string">error_prepend_string</option>
<option value="exit_on_timeout">exit_on_timeout</option>
<option value="expose_php">expose_php</option>
<option value="extension">extension</option>
<option value="extension_dir">extension_dir</option>
<option value="file_uploads">file_uploads</option>
<option value="from">from</option>
<option value="html_errors">html_errors</option>
<option value="ignore_repeated_errors">ignore_repeated_errors</option>
<option value="ignore_repeated_source">ignore_repeated_source</option>
<option value="ignore_user_abort">ignore_user_abort</option>
<option value="implicit_flush">implicit_flush</option>
<option value="include_path">include_path</option>
<option value="last_modified">last_modified</option>
<option value="log_errors">log_errors</option>
<option value="log_errors_max_len">log_errors_max_len</option>
<option value="max_execution_time">max_execution_time</option>
<option value="max_input_nesting_level">max_input_nesting_level</option>
<option value="max_input_vars">max_input_vars</option>
<option value="max_input_time">max_input_time</option>
<option value="memory_limit">memory_limit</option>
<option value="open_basedir">open_basedir</option>
<option value="output_buffering">output_buffering</option>
<option value="output_handler">output_handler</option>
<option value="enable_post_data_reading">enable_post_data_reading</option>
<option value="post_max_size">post_max_size</option>
<option value="precision">precision</option>
<option value="realpath_cache_size">realpath_cache_size</option>
<option value="realpath_cache_ttl">realpath_cache_ttl</option>
<option value="register_argc_argv">register_argc_argv</option>
<option value="report_memleaks">report_memleaks</option>
<option value="report_zend_debug">report_zend_debug</option>
<option value="request_order">request_order</option>
<option value="sendmail_from">sendmail_from</option>
<option value="sendmail_path">sendmail_path</option>
<option value="serialize_precision">serialize_precision</option>
<option value="short_open_tag">short_open_tag</option>
<option value="SMTP">SMTP</option>
<option value="smtp_port">smtp_port</option>
<option value="track_errors">track_errors</option>
<option value="unserialize_callback_func">unserialize_callback_func</option>
<option value="upload_max_filesize">upload_max_filesize</option>
<option value="max_file_uploads">max_file_uploads</option>
<option value="upload_tmp_dir">upload_tmp_dir</option>
<option value="user_agent">user_agent</option>
<option value="user_dir">user_dir</option>
<option value="variables_order">variables_order</option>
<option value="windows_show_crt_warning">windows_show_crt_warning</option>
<option value="xbithack">xbithack</option>
<option value="xmlrpc_errors">xmlrpc_errors</option>
<option value="xmlrpc_error_number">xmlrpc_error_number</option>
<option value="zend_extension">zend_extension</option>
<option value="zend_extension_debug">zend_extension_debug</option>
<option value="zend_extension_debug_ts">zend_extension_debug_ts</option>
<option value="zend_extension_ts">zend_extension_ts</option>
<optgroup label="apc">
    <option value="apc.cache_by_default">apc.cache_by_default</option>
    <option value="apc.enabled">apc.enabled</option>
    <option value="apc.enable_cli">apc.enable_cli</option>
    <option value="apc.file_update_protection">apc.file_update_protection</option>
    <option value="apc.filters">apc.filters</option>
    <option value="apc.gc_ttl">apc.gc_ttl</option>
    <option value="apc.include_once_override">apc.include_once_override</option>
    <option value="apc.localcache">apc.localcache</option>
    <option value="apc.localcache.size">apc.localcache.size</option>
    <option value="apc.max_file_size">apc.max_file_size</option>
    <option value="apc.mmap_file_mask">apc.mmap_file_mask</option>
    <option value="apc.num_files_hint">apc.num_files_hint</option>
    <option value="apc.report_autofilter">apc.report_autofilter</option>
    <option value="apc.rfc1867">apc.rfc1867</option>
    <option value="apc.rfc1867_freq">apc.rfc1867_freq</option>
    <option value="apc.rfc1867_name">apc.rfc1867_name</option>
    <option value="apc.rfc1867_prefix">apc.rfc1867_prefix</option>
    <option value="apc.shm_segments">apc.shm_segments</option>
    <option value="apc.shm_size">apc.shm_size</option>
    <option value="apc.slam_defense">apc.slam_defense</option>
    <option value="apc.stat">apc.stat</option>
    <option value="apc.stat_ctime">apc.stat_ctime</option>
    <option value="apc.ttl">apc.ttl</option>
    <option value="apc.user_entries_hint">apc.user_entries_hint</option>
    <option value="apc.user_ttl">apc.user_ttl</option>
    <option value="apc.write_lock">apc.write_lock</option>
</optgroup>
<optgroup label="apd">
    <option value="apd.dumpdir">apd.dumpdir</option>
    <option value="apd.statement_tracing">apd.statement_tracing</option>
</optgroup>
<optgroup label="arg_separator">
    <option value="arg_separator.input">arg_separator.input</option>
    <option value="arg_separator.output">arg_separator.output</option>
</optgroup>
<optgroup label="assert">
    <option value="assert.active">assert.active</option>
    <option value="assert.bail">assert.bail</option>
    <option value="assert.callback">assert.callback</option>
    <option value="assert.quiet_eval">assert.quiet_eval</option>
    <option value="assert.warning">assert.warning</option>
</optgroup>
<optgroup label="axis2">
    <option value="axis2.client_home">axis2.client_home</option>
    <option value="axis2.enable_exception">axis2.enable_exception</option>
    <option value="axis2.enable_trace">axis2.enable_trace</option>
    <option value="axis2.log_path">axis2.log_path</option>
</optgroup>
<optgroup label="bcmath">
    <option value="bcmath.scale">bcmath.scale</option>
</optgroup>
<optgroup label="bcompiler">
    <option value="bcompiler.enabled">bcompiler.enabled</option>
</optgroup>
<optgroup label="birdstep">
    <option value="birdstep.max_links">birdstep.max_links</option>
</optgroup>
<optgroup label="blenc">
    <option value="blenc.key_file">blenc.key_file</option>
</optgroup>
<optgroup label="cgi">
    <option value="cgi.check_shebang_line">cgi.check_shebang_line</option>
    <option value="cgi.discard_path">cgi.discard_path</option>
    <option value="cgi.fix_pathinfo">cgi.fix_pathinfo</option>
    <option value="cgi.force_redirect">cgi.force_redirect</option>
    <option value="cgi.nph">cgi.nph</option>
    <option value="cgi.redirect_status_env">cgi.redirect_status_env</option>
    <option value="cgi.rfc2616_headers">cgi.rfc2616_headers</option>
</optgroup>
<optgroup label="cli">
    <option value="cli.pager">cli.pager</option>
    <option value="cli.prompt">cli.prompt</option>
</optgroup>
<optgroup label="cli_server">
    <option value="cli_server.color">cli_server.color</option>
</optgroup>
<optgroup label="coin_acceptor">
    <option value="coin_acceptor.auto_initialize">coin_acceptor.auto_initialize</option>
    <option value="coin_acceptor.auto_reset">coin_acceptor.auto_reset</option>
    <option value="coin_acceptor.command_function">coin_acceptor.command_function</option>
    <option value="coin_acceptor.delay_coins">coin_acceptor.delay_coins</option>
    <option value="coin_acceptor.delay_prom">coin_acceptor.delay_prom</option>
    <option value="coin_acceptor.lock_on_close">coin_acceptor.lock_on_close</option>
    <option value="coin_acceptor.start_unlocked">coin_acceptor.start_unlocked</option>
</optgroup>
<optgroup label="com">
    <option value="com.allow_dcom">com.allow_dcom</option>
    <option value="com.autoregister_casesensitive">com.autoregister_casesensitive</option>
    <option value="com.autoregister_typelib">com.autoregister_typelib</option>
    <option value="com.autoregister_verbose">com.autoregister_verbose</option>
    <option value="com.code_page">com.code_page</option>
    <option value="com.typelib_file">com.typelib_file</option>
</optgroup>
<optgroup label="curl">
    <option value="curl.cainfo">curl.cainfo</option>
</optgroup>
<optgroup label="daffodildb">
    <option value="daffodildb.default_host">daffodildb.default_host</option>
    <option value="daffodildb.default_password">daffodildb.default_password</option>
    <option value="daffodildb.default_socket">daffodildb.default_socket</option>
    <option value="daffodildb.default_user">daffodildb.default_user</option>
    <option value="daffodildb.port">daffodildb.port</option>
</optgroup>
<optgroup label="date">
    <option value="date.default_latitude">date.default_latitude</option>
    <option value="date.default_longitude">date.default_longitude</option>
    <option value="date.sunrise_zenith">date.sunrise_zenith</option>
    <option value="date.sunset_zenith">date.sunset_zenith</option>
</optgroup>
<optgroup label="dba">
    <option value="dba.default_handler">dba.default_handler</option>
</optgroup>
<optgroup label="etpan">
    <option value="etpan.default.charset">etpan.default.charset</option>
    <option value="etpan.default.protocol">etpan.default.protocol</option>
</optgroup>
<optgroup label="exif">
    <option value="exif.decode_jis_intel">exif.decode_jis_intel</option>
    <option value="exif.decode_jis_motorola">exif.decode_jis_motorola</option>
    <option value="exif.decode_unicode_intel">exif.decode_unicode_intel</option>
    <option value="exif.decode_unicode_motorola">exif.decode_unicode_motorola</option>
    <option value="exif.encode_jis">exif.encode_jis</option>
    <option value="exif.encode_unicode">exif.encode_unicode</option>
</optgroup>
<optgroup label="expect">
    <option value="expect.logfile">expect.logfile</option>
    <option value="expect.loguser">expect.loguser</option>
    <option value="expect.timeout">expect.timeout</option>
</optgroup>
<optgroup label="fastcgi">
    <option value="fastcgi.impersonate">fastcgi.impersonate</option>
    <option value="fastcgi.logging">fastcgi.logging</option>
</optgroup>
<optgroup label="fbsql">
    <option value="fbsql.allow_persistent">fbsql.allow_persistent</option>
    <option value="fbsql.autocommit">fbsql.autocommit</option>
    <option value="fbsql.batchsize">fbsql.batchsize</option>
    <option value="fbsql.default_database">fbsql.default_database</option>
    <option value="fbsql.default_database_password">fbsql.default_database_password</option>
    <option value="fbsql.default_host">fbsql.default_host</option>
    <option value="fbsql.default_password">fbsql.default_password</option>
    <option value="fbsql.default_user">fbsql.default_user</option>
    <option value="fbsql.generate_warnings">fbsql.generate_warnings</option>
    <option value="fbsql.max_connections">fbsql.max_connections</option>
    <option value="fbsql.max_links">fbsql.max_links</option>
    <option value="fbsql.max_persistent">fbsql.max_persistent</option>
    <option value="fbsql.max_results">fbsql.max_results</option>
    <option value="fbsql.show_timestamp_decimals">fbsql.show_timestamp_decimals</option>
</optgroup>
<optgroup label="filter">
    <option value="filter.default">filter.default</option>
    <option value="filter.default_flags">filter.default_flags</option>
</optgroup>
<optgroup label="gd">
    <option value="gd.jpeg_ignore_warning">gd.jpeg_ignore_warning</option>
</optgroup>
<optgroup label="geoip">
    <option value="geoip.custom_directory">geoip.custom_directory</option>
</optgroup>
<optgroup label="hidef">
    <option value="hidef.ini_path">hidef.ini_path</option>
</optgroup>
<optgroup label="highlight">
    <option value="highlight.comment">highlight.comment</option>
    <option value="highlight.default">highlight.default</option>
    <option value="highlight.html">highlight.html</option>
    <option value="highlight.keyword">highlight.keyword</option>
    <option value="highlight.string">highlight.string</option>
</optgroup>
<optgroup label="htscanner">
    <option value="htscanner.config_file">htscanner.config_file</option>
    <option value="htscanner.default_docroot">htscanner.default_docroot</option>
    <option value="htscanner.default_ttl">htscanner.default_ttl</option>
    <option value="htscanner.stop_on_error">htscanner.stop_on_error</option>
</optgroup>
<optgroup label="http">
    <option value="http.etag.mode">http.etag.mode</option>
    <option value="http.force_exit">http.force_exit</option>
    <option value="http.log.allowed_methods">http.log.allowed_methods</option>
    <option value="http.log.cache">http.log.cache</option>
    <option value="http.log.composite">http.log.composite</option>
    <option value="http.log.not_found">http.log.not_found</option>
    <option value="http.log.redirect">http.log.redirect</option>
    <option value="http.only_exceptions">http.only_exceptions</option>
    <option value="http.persistent.handles.ident">http.persistent.handles.ident</option>
    <option value="http.persistent.handles.limit">http.persistent.handles.limit</option>
    <option value="http.request.datashare.connect">http.request.datashare.connect</option>
    <option value="http.request.datashare.cookie">http.request.datashare.cookie</option>
    <option value="http.request.datashare.dns">http.request.datashare.dns</option>
    <option value="http.request.datashare.ssl">http.request.datashare.ssl</option>
    <option value="http.request.methods.allowed">http.request.methods.allowed</option>
    <option value="http.request.methods.custom">http.request.methods.custom</option>
    <option value="http.send.deflate.start_auto">http.send.deflate.start_auto</option>
    <option value="http.send.deflate.start_flags">http.send.deflate.start_flags</option>
    <option value="http.send.inflate.start_auto">http.send.inflate.start_auto</option>
    <option value="http.send.inflate.start_flags">http.send.inflate.start_flags</option>
    <option value="http.send.not_found_404">http.send.not_found_404</option>
</optgroup>
<optgroup label="ibase">
    <option value="ibase.allow_persistent">ibase.allow_persistent</option>
    <option value="ibase.dateformat">ibase.dateformat</option>
    <option value="ibase.default_charset">ibase.default_charset</option>
    <option value="ibase.default_db">ibase.default_db</option>
    <option value="ibase.default_password">ibase.default_password</option>
    <option value="ibase.default_user">ibase.default_user</option>
    <option value="ibase.max_links">ibase.max_links</option>
    <option value="ibase.max_persistent">ibase.max_persistent</option>
    <option value="ibase.timeformat">ibase.timeformat</option>
    <option value="ibase.timestampformat">ibase.timestampformat</option>
</optgroup>
<optgroup label="ibm_db2">
    <option value="ibm_db2.binmode">ibm_db2.binmode</option>
    <option value="ibm_db2.i5_all_pconnect">ibm_db2.i5_all_pconnect</option>
    <option value="ibm_db2.i5_allow_commit">ibm_db2.i5_allow_commit</option>
    <option value="ibm_db2.i5_dbcs_alloc">ibm_db2.i5_dbcs_alloc</option>
    <option value="ibm_db2.instance_name">ibm_db2.instance_name</option>
    <option value="ibm_db2.i5_ignore_userid">ibm_db2.i5_ignore_userid</option>
</optgroup>
<optgroup label="iconv">
    <option value="iconv.input_encoding">iconv.input_encoding</option>
    <option value="iconv.internal_encoding">iconv.internal_encoding</option>
    <option value="iconv.output_encoding">iconv.output_encoding</option>
</optgroup>
<optgroup label="imlib2">
    <option value="imlib2.font_cache_max_size">imlib2.font_cache_max_size</option>
    <option value="imlib2.font_path">imlib2.font_path</option>
</optgroup>
<optgroup label="ingres">
    <option value="ingres.allow_persistent">ingres.allow_persistent</option>
    <option value="ingres.array_index_start">ingres.array_index_start</option>
    <option value="ingres.auto">ingres.auto</option>
    <option value="ingres.blob_segment_length">ingres.blob_segment_length</option>
    <option value="ingres.cursor_mode">ingres.cursor_mode</option>
    <option value="ingres.default_database">ingres.default_database</option>
    <option value="ingres.default_password">ingres.default_password</option>
    <option value="ingres.default_user">ingres.default_user</option>
    <option value="ingres.describe">ingres.describe</option>
    <option value="ingres.fetch_buffer_size">ingres.fetch_buffer_size</option>
    <option value="ingres.max_links">ingres.max_links</option>
    <option value="ingres.max_persistent">ingres.max_persistent</option>
    <option value="ingres.reuse_connection">ingres.reuse_connection</option>
    <option value="ingres.scrollable">ingres.scrollable</option>
    <option value="ingres.trace">ingres.trace</option>
    <option value="ingres.trace_connect">ingres.trace_connect</option>
    <option value="ingres.utf8">ingres.utf8</option>
</optgroup>
<optgroup label="ldap">
    <option value="ldap.max_links">ldap.max_links</option>
</optgroup>
<optgroup label="mail">
    <option value="mail.add_x_header">mail.add_x_header</option>
    <option value="mail.force_extra_parameters">mail.force_extra_parameters</option>
    <option value="mail.log">mail.log</option>
</optgroup>
<optgroup label="maxdb">
    <option value="maxdb.default_db">maxdb.default_db</option>
    <option value="maxdb.default_host">maxdb.default_host</option>
    <option value="maxdb.default_pw">maxdb.default_pw</option>
    <option value="maxdb.default_user">maxdb.default_user</option>
    <option value="maxdb.long_readlen">maxdb.long_readlen</option>
</optgroup>
<optgroup label="mbstring">
    <option value="mbstring.detect_order">mbstring.detect_order</option>
    <option value="mbstring.encoding_translation">mbstring.encoding_translation</option>
    <option value="mbstring.func_overload">mbstring.func_overload</option>
    <option value="mbstring.http_input">mbstring.http_input</option>
    <option value="mbstring.http_output">mbstring.http_output</option>
    <option value="mbstring.internal_encoding">mbstring.internal_encoding</option>
    <option value="mbstring.language">mbstring.language</option>
    <option value="mbstring.script_encoding">mbstring.script_encoding</option>
    <option value="mbstring.strict_detection">mbstring.strict_detection</option>
    <option value="mbstring.substitute_character">mbstring.substitute_character</option>
</optgroup>
<optgroup label="mcrypt">
    <option value="mcrypt.algorithms_dir">mcrypt.algorithms_dir</option>
    <option value="mcrypt.modes_dir">mcrypt.modes_dir</option>
</optgroup>
<optgroup label="memcache">
    <option value="memcache.allow_failover">memcache.allow_failover</option>
    <option value="memcache.chunk_size">memcache.chunk_size</option>
    <option value="memcache.default_port">memcache.default_port</option>
    <option value="memcache.hash_function">memcache.hash_function</option>
    <option value="memcache.hash_strategy">memcache.hash_strategy</option>
    <option value="memcache.max_failover_attempts">memcache.max_failover_attempts</option>
</optgroup>
<optgroup label="mime_magic">
    <option value="mime_magic.debug">mime_magic.debug</option>
    <option value="mime_magic.magicfile">mime_magic.magicfile</option>
</optgroup>
<optgroup label="mongo">
    <option value="mongo.allow_empty_keys">mongo.allow_empty_keys</option>
    <option value="mongo.chunk_size">mongo.chunk_size</option>
    <option value="mongo.cmd">mongo.cmd</option>
    <option value="mongo.default_host">mongo.default_host</option>
    <option value="mongo.default_port">mongo.default_port</option>
    <option value="mongo.is_master_interval">mongo.is_master_interval</option>
    <option value="mongo.long_as_object">mongo.long_as_object</option>
    <option value="mongo.native_long">mongo.native_long</option>
    <option value="mongo.ping_interval">mongo.ping_interval</option>
    <option value="mongo.utf8">mongo.utf8</option>
</optgroup>
<optgroup label="msql">
    <option value="msql.allow_persistent">msql.allow_persistent</option>
    <option value="msql.max_links">msql.max_links</option>
    <option value="msql.max_persistent">msql.max_persistent</option>
</optgroup>
<optgroup label="mssql">
    <option value="mssql.allow_persistent">mssql.allow_persistent</option>
    <option value="mssql.batchsize">mssql.batchsize</option>
    <option value="mssql.charset">mssql.charset</option>
    <option value="mssql.compatability_mode">mssql.compatability_mode</option>
    <option value="mssql.connect_timeout">mssql.connect_timeout</option>
    <option value="mssql.datetimeconvert">mssql.datetimeconvert</option>
    <option value="mssql.max_links">mssql.max_links</option>
    <option value="mssql.max_persistent">mssql.max_persistent</option>
    <option value="mssql.max_procs">mssql.max_procs</option>
    <option value="mssql.min_error_severity">mssql.min_error_severity</option>
    <option value="mssql.min_message_severity">mssql.min_message_severity</option>
    <option value="mssql.secure_connection">mssql.secure_connection</option>
    <option value="mssql.textlimit">mssql.textlimit</option>
    <option value="mssql.textsize">mssql.textsize</option>
    <option value="mssql.timeout">mssql.timeout</option>
</optgroup>
<optgroup label="mysql">
    <option value="mysql.allow_local_infile">mysql.allow_local_infile</option>
    <option value="mysql.allow_persistent">mysql.allow_persistent</option>
    <option value="mysql.max_persistent">mysql.max_persistent</option>
    <option value="mysql.max_links">mysql.max_links</option>
    <option value="mysql.trace_mode">mysql.trace_mode</option>
    <option value="mysql.default_port">mysql.default_port</option>
    <option value="mysql.default_socket">mysql.default_socket</option>
    <option value="mysql.default_host">mysql.default_host</option>
    <option value="mysql.default_user">mysql.default_user</option>
    <option value="mysql.default_password">mysql.default_password</option>
    <option value="mysql.connect_timeout">mysql.connect_timeout</option>
</optgroup>
<optgroup label="mysqli">
    <option value="mysqli.allow_local_infile">mysqli.allow_local_infile</option>
    <option value="mysqli.allow_persistent">mysqli.allow_persistent</option>
    <option value="mysqli.max_persistent">mysqli.max_persistent</option>
    <option value="mysqli.max_links">mysqli.max_links</option>
    <option value="mysqli.default_port">mysqli.default_port</option>
    <option value="mysqli.default_socket">mysqli.default_socket</option>
    <option value="mysqli.default_host">mysqli.default_host</option>
    <option value="mysqli.default_user">mysqli.default_user</option>
    <option value="mysqli.default_pw">mysqli.default_pw</option>
    <option value="mysqli.reconnect">mysqli.reconnect</option>
    <option value="mysqli.cache_size">mysqli.cache_size</option>
</optgroup>
<optgroup label="mysqlnd_memcache">
    <option value="mysqlnd_memcache.enable">mysqlnd_memcache.enable</option>
</optgroup>
<optgroup label="mysqlnd_ms">
    <option value="mysqlnd_ms.enable">mysqlnd_ms.enable</option>
    <option value="mysqlnd_ms.force_config_usage">mysqlnd_ms.force_config_usage</option>
    <option value="mysqlnd_ms.ini_file">mysqlnd_ms.ini_file</option>
    <option value="mysqlnd_ms.config_file">mysqlnd_ms.config_file</option>
    <option value="mysqlnd_ms.collect_statistics">mysqlnd_ms.collect_statistics</option>
    <option value="mysqlnd_ms.multi_master">mysqlnd_ms.multi_master</option>
    <option value="mysqlnd_ms.disable_rw_split">mysqlnd_ms.disable_rw_split</option>
</optgroup>
<optgroup label="mysqlnd_mux">
    <option value="mysqlnd_mux.enable">mysqlnd_mux.enable</option>
</optgroup>
<optgroup label="mysqlnd_qc">
    <option value="mysqlnd_qc.enable_qc">mysqlnd_qc.enable_qc</option>
    <option value="mysqlnd_qc.ttl">mysqlnd_qc.ttl</option>
    <option value="mysqlnd_qc.cache_by_default">mysqlnd_qc.cache_by_default</option>
    <option value="mysqlnd_qc.cache_no_table">mysqlnd_qc.cache_no_table</option>
    <option value="mysqlnd_qc.use_request_time">mysqlnd_qc.use_request_time</option>
    <option value="mysqlnd_qc.time_statistics">mysqlnd_qc.time_statistics</option>
    <option value="mysqlnd_qc.collect_statistics">mysqlnd_qc.collect_statistics</option>
    <option value="mysqlnd_qc.collect_statistics_log_file">mysqlnd_qc.collect_statistics_log_file</option>
    <option value="mysqlnd_qc.collect_query_trace">mysqlnd_qc.collect_query_trace</option>
    <option value="mysqlnd_qc.query_trace_bt_depth">mysqlnd_qc.query_trace_bt_depth</option>
    <option value="mysqlnd_qc.collect_normalized_query_trace">mysqlnd_qc.collect_normalized_query_trace</option>
    <option value="mysqlnd_qc.ignore_sql_comments">mysqlnd_qc.ignore_sql_comments</option>
    <option value="mysqlnd_qc.slam_defense">mysqlnd_qc.slam_defense</option>
    <option value="mysqlnd_qc.slam_defense_ttl">mysqlnd_qc.slam_defense_ttl</option>
    <option value="mysqlnd_qc.std_data_copy">mysqlnd_qc.std_data_copy</option>
    <option value="mysqlnd_qc.apc_prefix">mysqlnd_qc.apc_prefix</option>
    <option value="mysqlnd_qc.memc_server">mysqlnd_qc.memc_server</option>
    <option value="mysqlnd_qc.memc_port">mysqlnd_qc.memc_port</option>
    <option value="mysqlnd_qc.sqlite_data_file">mysqlnd_qc.sqlite_data_file</option>
</optgroup>
<optgroup label="mysqlnd_uh">
    <option value="mysqlnd_uh.enable">mysqlnd_uh.enable</option>
    <option value="mysqlnd_uh.report_wrong_types">mysqlnd_uh.report_wrong_types</option>
</optgroup>
<optgroup label="nsapi">
    <option value="nsapi.read_timeout">nsapi.read_timeout</option>
</optgroup>
<optgroup label="oci8">
    <option value="oci8.connection_class">oci8.connection_class</option>
    <option value="oci8.default_prefetch">oci8.default_prefetch</option>
    <option value="oci8.events">oci8.events</option>
    <option value="oci8.max_persistent">oci8.max_persistent</option>
    <option value="oci8.old_oci_close_semantics">oci8.old_oci_close_semantics</option>
    <option value="oci8.persistent_timeout">oci8.persistent_timeout</option>
    <option value="oci8.ping_interval">oci8.ping_interval</option>
    <option value="oci8.privileged_connect">oci8.privileged_connect</option>
    <option value="oci8.statement_cache_size">oci8.statement_cache_size</option>
</optgroup>
<optgroup label="odbc">
    <option value="odbc.allow_persistent">odbc.allow_persistent</option>
    <option value="odbc.check_persistent">odbc.check_persistent</option>
    <option value="odbc.defaultbinmode">odbc.defaultbinmode</option>
    <option value="odbc.defaultlrl">odbc.defaultlrl</option>
    <option value="odbc.default_db">odbc.default_db</option>
    <option value="odbc.default_pw">odbc.default_pw</option>
    <option value="odbc.default_user">odbc.default_user</option>
    <option value="odbc.max_links">odbc.max_links</option>
    <option value="odbc.max_persistent">odbc.max_persistent</option>
</optgroup>
<optgroup label="odbtp">
    <option value="odbtp.datetime_format">odbtp.datetime_format</option>
    <option value="odbtp.detach_default_queries">odbtp.detach_default_queries</option>
    <option value="odbtp.guid_format">odbtp.guid_format</option>
    <option value="odbtp.interface_file">odbtp.interface_file</option>
    <option value="odbtp.truncation_errors">odbtp.truncation_errors</option>
</optgroup>
<optgroup label="opendirectory">
    <option value="opendirectory.max_refs">opendirectory.max_refs</option>
    <option value="opendirectory.separator">opendirectory.separator</option>
</optgroup>
<optgroup label="pam">
    <option value="pam.servicename">pam.servicename</option>
</optgroup>
<optgroup label="pcre">
    <option value="pcre.backtrack_limit">pcre.backtrack_limit</option>
    <option value="pcre.recursion_limit">pcre.recursion_limit</option>
</optgroup>
<optgroup label="pdo">
    <option value="pdo.dsn.*">pdo.dsn.*</option>
</optgroup>
<optgroup label="pdo_odbc">
    <option value="pdo_odbc.connection_pooling">pdo_odbc.connection_pooling</option>
</optgroup>
<optgroup label="pgsql">
    <option value="pgsql.allow_persistent">pgsql.allow_persistent</option>
    <option value="pgsql.auto_reset_persistent">pgsql.auto_reset_persistent</option>
    <option value="pgsql.ignore_notice">pgsql.ignore_notice</option>
    <option value="pgsql.log_notice">pgsql.log_notice</option>
    <option value="pgsql.max_links">pgsql.max_links</option>
    <option value="pgsql.max_persistent">pgsql.max_persistent</option>
</optgroup>
<optgroup label="phar">
    <option value="phar.extract_list">phar.extract_list</option>
    <option value="phar.readonly">phar.readonly</option>
    <option value="phar.require_hash">phar.require_hash</option>
</optgroup>
<optgroup label="python">
    <option value="python.append_path">python.append_path</option>
    <option value="python.prepend_path">python.prepend_path</option>
</optgroup>
<optgroup label="runkit">
    <option value="runkit.internal_override">runkit.internal_override</option>
    <option value="runkit.superglobal">runkit.superglobal</option>
</optgroup>
<optgroup label="session">
    <option value="session.auto_start">session.auto_start</option>
    <option value="session.cache_expire">session.cache_expire</option>
    <option value="session.cache_limiter">session.cache_limiter</option>
    <option value="session.cookie_domain">session.cookie_domain</option>
    <option value="session.cookie_httponly">session.cookie_httponly</option>
    <option value="session.cookie_lifetime">session.cookie_lifetime</option>
    <option value="session.cookie_path">session.cookie_path</option>
    <option value="session.cookie_secure">session.cookie_secure</option>
    <option value="session.entropy_file">session.entropy_file</option>
    <option value="session.entropy_length">session.entropy_length</option>
    <option value="session.gc_divisor">session.gc_divisor</option>
    <option value="session.gc_maxlifetime">session.gc_maxlifetime</option>
    <option value="session.gc_probability">session.gc_probability</option>
    <option value="session.hash_bits_per_character">session.hash_bits_per_character</option>
    <option value="session.hash_function">session.hash_function</option>
    <option value="session.name">session.name</option>
    <option value="session.referer_check">session.referer_check</option>
    <option value="session.save_handler">session.save_handler</option>
    <option value="session.save_path">session.save_path</option>
    <option value="session.serialize_handler">session.serialize_handler</option>
    <option value="session.use_cookies">session.use_cookies</option>
    <option value="session.use_only_cookies">session.use_only_cookies</option>
    <option value="session.use_trans_sid">session.use_trans_sid</option>
</optgroup>
<optgroup label="session_pgsql">
    <option value="session_pgsql.create_table">session_pgsql.create_table</option>
    <option value="session_pgsql.db">session_pgsql.db</option>
    <option value="session_pgsql.disable">session_pgsql.disable</option>
    <option value="session_pgsql.failover_mode">session_pgsql.failover_mode</option>
    <option value="session_pgsql.gc_interval">session_pgsql.gc_interval</option>
    <option value="session_pgsql.keep_expired">session_pgsql.keep_expired</option>
    <option value="session_pgsql.sem_file_name">session_pgsql.sem_file_name</option>
    <option value="session_pgsql.serializable">session_pgsql.serializable</option>
    <option value="session_pgsql.short_circuit">session_pgsql.short_circuit</option>
    <option value="session_pgsql.use_app_vars">session_pgsql.use_app_vars</option>
    <option value="session_pgsql.vacuum_interval">session_pgsql.vacuum_interval</option>
</optgroup>
<optgroup label="simple_cvs">
    <option value="simple_cvs.authMethod">simple_cvs.authMethod</option>
    <option value="simple_cvs.compressionLevel">simple_cvs.compressionLevel</option>
    <option value="simple_cvs.cvsRoot">simple_cvs.cvsRoot</option>
    <option value="simple_cvs.host">simple_cvs.host</option>
    <option value="simple_cvs.moduleName">simple_cvs.moduleName</option>
    <option value="simple_cvs.userName">simple_cvs.userName</option>
    <option value="simple_cvs.workingDir">simple_cvs.workingDir</option>
</optgroup>
<optgroup label="soap">
    <option value="soap.wsdl_cache">soap.wsdl_cache</option>
    <option value="soap.wsdl_cache_dir">soap.wsdl_cache_dir</option>
    <option value="soap.wsdl_cache_enabled">soap.wsdl_cache_enabled</option>
    <option value="soap.wsdl_cache_limit">soap.wsdl_cache_limit</option>
    <option value="soap.wsdl_cache_ttl">soap.wsdl_cache_ttl</option>
</optgroup>
<optgroup label="sql">
    <option value="sql.safe_mode">sql.safe_mode</option>
</optgroup>
<optgroup label="sqlite">
    <option value="sqlite.assoc_case">sqlite.assoc_case</option>
</optgroup>
<optgroup label="sybase">
    <option value="sybase.allow_persistent">sybase.allow_persistent</option>
    <option value="sybase.interface_file">sybase.interface_file</option>
    <option value="sybase.max_links">sybase.max_links</option>
    <option value="sybase.max_persistent">sybase.max_persistent</option>
    <option value="sybase.min_error_severity">sybase.min_error_severity</option>
    <option value="sybase.min_message_severity">sybase.min_message_severity</option>
</optgroup>
<optgroup label="sybct">
    <option value="sybct.deadlock_retry_count">sybct.deadlock_retry_count</option>
    <option value="sybct.login_timeout">sybct.login_timeout</option>
    <option value="sybct.packet_size">sybct.packet_size</option>
    <option value="sybct.timeout">sybct.timeout</option>
</optgroup>
<optgroup label="sysvshm">
    <option value="sysvshm.init_mem">sysvshm.init_mem</option>
</optgroup>
<optgroup label="tidy">
    <option value="tidy.clean_output">tidy.clean_output</option>
    <option value="tidy.default_config">tidy.default_config</option>
</optgroup>
<optgroup label="uploadprogress">
    <option value="uploadprogress.file.filename_template">uploadprogress.file.filename_template</option>
</optgroup>
<optgroup label="url_rewriter">
    <option value="url_rewriter.tags">url_rewriter.tags</option>
</optgroup>
<optgroup label="user_ini">
    <option value="user_ini.cache_ttl">user_ini.cache_ttl</option>
    <option value="user_ini.filename">user_ini.filename</option>
</optgroup>
<optgroup label="valkyrie">
    <option value="valkyrie.auto_validate">valkyrie.auto_validate</option>
    <option value="valkyrie.config_path">valkyrie.config_path</option>
</optgroup>
<optgroup label="vld">
    <option value="vld.active">vld.active</option>
    <option value="vld.execute">vld.execute</option>
    <option value="vld.skip_append">vld.skip_append</option>
    <option value="vld.skip_prepend">vld.skip_prepend</option>
</optgroup>
<optgroup label="xmms">
    <option value="xmms.path">xmms.path</option>
    <option value="xmms.session">xmms.session</option>
</optgroup>
<optgroup label="yami">
    <option value="yami.response.timeout">yami.response.timeout</option>
</optgroup>
<optgroup label="yaz">
    <option value="yaz.keepalive">yaz.keepalive</option>
    <option value="yaz.log_mask">yaz.log_mask</option>
</optgroup>
<optgroup label="zend">
    <option value="zend.enable_gc">zend.enable_gc</option>
    <option value="zend.multibyte">zend.multibyte</option>
    <option value="zend.script_encoding">zend.script_encoding</option>
    <option value="zend.signal_check">zend.signal_check</option>
</optgroup>
<optgroup label="zlib">
    <option value="zlib.output_compression">zlib.output_compression</option>
    <option value="zlib.output_compression_level">zlib.output_compression_level</option>
    <option value="zlib.output_handler">zlib.output_handler</option>
</optgroup>
