<div class="bs-example iniSettings">
    <div class="row">
        <div class="col col-lg-5">
            <label class="full-width min-span-3">
                <select class="selectTags" id="php-inilist-name" name="php-inilist-name">
                    {% include 'Front/Tabs/PHP/ini.html.twig' %}
                </select>
            </label>
        </div>

        <div class="col col-lg-3">
            <label>
                <input id="php-inilist-value" name="php-inilist-value" type="text" placeholder="value" value="" />
            </label>
        </div>

        <div class="col col-lg-3">
            <a id="php-inilist-add" class="btn btn-primary" href="#">Add</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-8">
            <label class="control-label" for="php-inilist-custom"></label>
            <input id="php-inilist-custom" name="php[inilist][custom]" type="text"
                   class="tags" placeholder="value"
                   value="{{ format.explode_ini_list(edition.get('[php][inilist][custom]')) }}" /></label>
        </div>
    </div>
</div>