<optgroup label="Authentication">
    <option value="Auth_SASL2">Auth_SASL2</option>
    <option value="OpenID">OpenID</option>
</optgroup>
<optgroup label="Configuration">
    <option value="Config_Lite">Config_Lite</option>
</optgroup>
<optgroup label="Console">
    <option value="Console_Color2">Console_Color2</option>
    <option value="Console_CommandLine">Console_CommandLine</option>
    <option value="Console_GetoptPlus">Console_GetoptPlus</option>
</optgroup>
<optgroup label="Database">
    <option value="DB_DataObject">DB_DataObject</option>
    <option value="DB_Sqlite_Tools">DB_Sqlite_Tools</option>
    <option value="MDB2">MDB2</option>
    <option value="MDB2_Driver_fbsql">MDB2_Driver_fbsql</option>
    <option value="MDB2_Driver_ibase">MDB2_Driver_ibase</option>
    <option value="MDB2_Driver_mssql">MDB2_Driver_mssql</option>
    <option value="MDB2_Driver_mysql">MDB2_Driver_mysql</option>
    <option value="MDB2_Driver_mysqli">MDB2_Driver_mysqli</option>
    <option value="MDB2_Driver_oci8">MDB2_Driver_oci8</option>
    <option value="MDB2_Driver_odbc">MDB2_Driver_odbc</option>
    <option value="MDB2_Driver_pgsql">MDB2_Driver_pgsql</option>
    <option value="MDB2_Driver_querysim">MDB2_Driver_querysim</option>
    <option value="MDB2_Driver_sqlite">MDB2_Driver_sqlite</option>
    <option value="MDB2_Driver_sqlsrv">MDB2_Driver_sqlsrv</option>
    <option value="SQL_Parser">SQL_Parser</option>
</optgroup>
<optgroup label="Date and Time">
    <option value="Calendar">Calendar</option>
    <option value="Date_Holidays">Date_Holidays</option>
    <option value="Date_Holidays_Austria">Date_Holidays_Austria</option>
    <option value="Date_Holidays_Netherlands">Date_Holidays_Netherlands</option>
    <option value="Date_HumanDiff">Date_HumanDiff</option>
</optgroup>
<optgroup label="Encryption">
    <option value="Crypt_CHAP">Crypt_CHAP</option>
    <option value="Crypt_DiffieHellman">Crypt_DiffieHellman</option>
    <option value="Crypt_GPG">Crypt_GPG</option>
    <option value="Crypt_HMAC2">Crypt_HMAC2</option>
    <option value="Crypt_MicroID">Crypt_MicroID</option>
    <option value="Crypt_RC42">Crypt_RC42</option>
</optgroup>
<optgroup label="Event">
    <option value="Event_SignalEmitter">Event_SignalEmitter</option>
</optgroup>
<optgroup label="File Formats">
    <option value="File_Bittorrent2">File_Bittorrent2</option>
    <option value="File_Cabinet">File_Cabinet</option>
    <option value="File_CSV_DataSource">File_CSV_DataSource</option>
    <option value="File_DeliciousLibrary">File_DeliciousLibrary</option>
    <option value="File_Fortune">File_Fortune</option>
    <option value="File_IMC">File_IMC</option>
    <option value="File_Infopath">File_Infopath</option>
    <option value="File_MARC">File_MARC</option>
    <option value="File_Ogg">File_Ogg</option>
    <option value="File_Sitemap">File_Sitemap</option>
    <option value="File_XSPF">File_XSPF</option>
    <option value="MP3_IDv2">MP3_IDv2</option>
    <option value="MP3_Playlist">MP3_Playlist</option>
    <option value="OpenDocument">OpenDocument</option>
</optgroup>
<optgroup label="File System">
    <option value="File_Mogile">File_Mogile</option>
</optgroup>
<optgroup label="Gtk2 Components">
    <option value="Gtk2_EntryDialog">Gtk2_EntryDialog</option>
    <option value="Gtk2_ExceptionDump">Gtk2_ExceptionDump</option>
    <option value="Gtk2_FileDrop">Gtk2_FileDrop</option>
    <option value="Gtk2_IndexedComboBox">Gtk2_IndexedComboBox</option>
    <option value="Gtk2_PHPConfig">Gtk2_PHPConfig</option>
    <option value="Gtk2_ScrollingLabel">Gtk2_ScrollingLabel</option>
    <option value="Gtk2_VarDump">Gtk2_VarDump</option>
</optgroup>
<optgroup label="HTML">
    <option value="HTML_BBCodeParser2">HTML_BBCodeParser2</option>
    <option value="HTML_Common2">HTML_Common2</option>
    <option value="HTML_Entities">HTML_Entities</option>
    <option value="HTML_QuickForm2">HTML_QuickForm2</option>
    <option value="HTML_Safe">HTML_Safe</option>
    <option value="HTML_TagCloud">HTML_TagCloud</option>
</optgroup>
<optgroup label="HTTP">
    <option value="HTTP2">HTTP2</option>
    <option value="HTTP_FloodControl">HTTP_FloodControl</option>
    <option value="HTTP_Header2">HTTP_Header2</option>
    <option value="HTTP_OAuth">HTTP_OAuth</option>
    <option value="HTTP_Request2">HTTP_Request2</option>
    <option value="HTTP_Session2">HTTP_Session2</option>
</optgroup>
<optgroup label="Images">
    <option value="Image_3D">Image_3D</option>
    <option value="Image_Barcode2">Image_Barcode2</option>
    <option value="Image_Color2">Image_Color2</option>
    <option value="Image_Graph">Image_Graph</option>
    <option value="Image_JpegMarkerReader">Image_JpegMarkerReader</option>
    <option value="Image_JpegXmpReader">Image_JpegXmpReader</option>
    <option value="Image_QRCode">Image_QRCode</option>
    <option value="Image_Transform">Image_Transform</option>
</optgroup>
<optgroup label="Internationalization">
    <option value="I18N_UnicodeNormalizer">I18N_UnicodeNormalizer</option>
    <option value="I18N_UnicodeString">I18N_UnicodeString</option>
</optgroup>
<optgroup label="Logging">
    <option value="Log">Log</option>
</optgroup>
<optgroup label="Math">
    <option value="Math_Combinatorics">Math_Combinatorics</option>
</optgroup>
<optgroup label="Networking">
    <option value="Net_CheckIP2">Net_CheckIP2</option>
    <option value="Net_DNS2">Net_DNS2</option>
    <option value="Net_DNSBL">Net_DNSBL</option>
    <option value="Net_GameServerQuery">Net_GameServerQuery</option>
    <option value="Net_Gearman">Net_Gearman</option>
    <option value="Net_GeoIP">Net_GeoIP</option>
    <option value="Net_Growl">Net_Growl</option>
    <option value="Net_IDNA2">Net_IDNA2</option>
    <option value="Net_LDAP2">Net_LDAP2</option>
    <option value="Net_MAC">Net_MAC</option>
    <option value="Net_MPD">Net_MPD</option>
    <option value="Net_Nmap">Net_Nmap</option>
    <option value="Net_NNTP">Net_NNTP</option>
    <option value="Net_URL2">Net_URL2</option>
    <option value="Net_URL_Mapper">Net_URL_Mapper</option>
    <option value="Net_UserAgent_Mobile_GPS">Net_UserAgent_Mobile_GPS</option>
    <option value="Net_Vpopmaild">Net_Vpopmaild</option>
    <option value="Net_WebFinger">Net_WebFinger</option>
    <option value="URI_Template">URI_Template</option>
</optgroup>
<optgroup label="Payment">
    <option value="Payment_DTA">Payment_DTA</option>
    <option value="Payment_PagamentoCerto">Payment_PagamentoCerto</option>
    <option value="Payment_PayPal_SOAP">Payment_PayPal_SOAP</option>
    <option value="Payment_Process2">Payment_Process2</option>
</optgroup>
<optgroup label="PEAR">
    <option value="PEAR_Command_Packaging">PEAR_Command_Packaging</option>
    <option value="PEAR_Frontend_Gtk2">PEAR_Frontend_Gtk2</option>
    <option value="PEAR_PackageFileManager_Cli">PEAR_PackageFileManager_Cli</option>
    <option value="PEAR_PackageFileManager_Frontend">PEAR_PackageFileManager_Frontend</option>
    <option value="PEAR_PackageUpdate_Gtk2">PEAR_PackageUpdate_Gtk2</option>
    <option value="PEAR_RemoteInstaller">PEAR_RemoteInstaller</option>
    <option value="PEAR_Size">PEAR_Size</option>
</optgroup>
<optgroup label="PHP">
    <option value="PHP_Archive">PHP_Archive</option>
    <option value="PHP_ArrayOf">PHP_ArrayOf</option>
    <option value="PHP_Beautifier">PHP_Beautifier</option>
    <option value="PHP_CodeSniffer">PHP_CodeSniffer</option>
    <option value="PHP_Debug">PHP_Debug</option>
    <option value="PHP_DocBlockGenerator">PHP_DocBlockGenerator</option>
    <option value="PHP_FunctionCallTracer">PHP_FunctionCallTracer</option>
    <option value="PHP_LexerGenerator">PHP_LexerGenerator</option>
    <option value="PHP_Parser">PHP_Parser</option>
    <option value="PHP_ParserGenerator">PHP_ParserGenerator</option>
    <option value="PHP_Parser_DocblockParser">PHP_Parser_DocblockParser</option>
    <option value="PHP_Shell">PHP_Shell</option>
    <option value="PHP_UML">PHP_UML</option>
</optgroup>
<optgroup label="Semantic Web">
    <option value="XML_GRDDL">XML_GRDDL</option>
</optgroup>
<optgroup label="Structures">
    <option value="OLE">OLE</option>
    <option value="Structures_DataGrid">Structures_DataGrid</option>
    <option value="Structures_DataGrid_DataSource_Excel">Structures_DataGrid_DataSource_Excel</option>
    <option value="Structures_DataGrid_DataSource_PDO">Structures_DataGrid_DataSource_PDO</option>
    <option value="Structures_Form">Structures_Form</option>
    <option value="Structures_Form_Gtk2">Structures_Form_Gtk2</option>
    <option value="Structures_LinkedList">Structures_LinkedList</option>
</optgroup>
<optgroup label="System">
    <option value="System_Daemon">System_Daemon</option>
    <option value="System_Launcher">System_Launcher</option>
</optgroup>
<optgroup label="Text">
    <option value="Text_CAPTCHA_Numeral">Text_CAPTCHA_Numeral</option>
    <option value="Text_Huffman">Text_Huffman</option>
    <option value="Text_LanguageDetect">Text_LanguageDetect</option>
</optgroup>
<optgroup label="Testing">
    <option value="Testing_DocTest">Testing_DocTest</option>
    <option value="Testing_FIT">Testing_FIT</option>
    <option value="Testing_Selenium">Testing_Selenium</option>
</optgroup>
<optgroup label="Tools and Utilities">
    <option value="CodeGen">CodeGen</option>
    <option value="CodeGen_MySQL">CodeGen_MySQL</option>
    <option value="CodeGen_MySQL_Plugin">CodeGen_MySQL_Plugin</option>
    <option value="CodeGen_MySQL_UDF">CodeGen_MySQL_UDF</option>
    <option value="CodeGen_PECL">CodeGen_PECL</option>
    <option value="ScriptReorganizer">ScriptReorganizer</option>
    <option value="Search_Mnogosearch">Search_Mnogosearch</option>
</optgroup>
<optgroup label="Validate">
    <option value="Validate_ES">Validate_ES</option>
    <option value="Validate_IR">Validate_IR</option>
    <option value="Validate_LI">Validate_LI</option>
    <option value="Validate_LU">Validate_LU</option>
    <option value="Validate_NO">Validate_NO</option>
    <option value="Validate_SE">Validate_SE</option>
</optgroup>
<optgroup label="Version Control">
    <option value="VersionControl_Git">VersionControl_Git</option>
    <option value="VersionControl_SVN">VersionControl_SVN</option>
</optgroup>
<optgroup label="Web Services">
    <option value="Services_Akismet2">Services_Akismet2</option>
    <option value="Services_Amazon_S3">Services_Amazon_S3</option>
    <option value="Services_Amazon_SQS">Services_Amazon_SQS</option>
    <option value="Services_Apns">Services_Apns</option>
    <option value="Services_Atlassian_Crowd">Services_Atlassian_Crowd</option>
    <option value="Services_Blogging">Services_Blogging</option>
    <option value="Services_Compete">Services_Compete</option>
    <option value="Services_Digg2">Services_Digg2</option>
    <option value="Services_ExchangeRates">Services_ExchangeRates</option>
    <option value="Services_Facebook">Services_Facebook</option>
    <option value="Services_GeoNames">Services_GeoNames</option>
    <option value="Services_Google">Services_Google</option>
    <option value="Services_Libravatar">Services_Libravatar</option>
    <option value="Services_Mailman">Services_Mailman</option>
    <option value="Services_oEmbed">Services_oEmbed</option>
    <option value="Services_OpenSearch">Services_OpenSearch</option>
    <option value="Services_OpenStreetMap">Services_OpenStreetMap</option>
    <option value="Services_PageRank">Services_PageRank</option>
    <option value="Services_ProjectHoneyPot">Services_ProjectHoneyPot</option>
    <option value="Services_ReCaptcha">Services_ReCaptcha</option>
    <option value="Services_Scribd">Services_Scribd</option>
    <option value="Services_SharedBook">Services_SharedBook</option>
    <option value="Services_ShortURL">Services_ShortURL</option>
    <option value="Services_Technorati">Services_Technorati</option>
    <option value="Services_TinyURL">Services_TinyURL</option>
    <option value="Services_Trackback">Services_Trackback</option>
    <option value="Services_Twitter">Services_Twitter</option>
    <option value="Services_Twitter_Uploader">Services_Twitter_Uploader</option>
    <option value="Services_urlTea">Services_urlTea</option>
    <option value="Services_UseKetchup">Services_UseKetchup</option>
    <option value="Services_W3C_CSSValidator">Services_W3C_CSSValidator</option>
    <option value="Services_W3C_HTMLValidator">Services_W3C_HTMLValidator</option>
    <option value="Services_Yadis">Services_Yadis</option>
    <option value="Services_Yahoo">Services_Yahoo</option>
    <option value="Services_Yahoo_JP">Services_Yahoo_JP</option>
    <option value="Services_YouTube">Services_YouTube</option>
    <option value="SOAP">SOAP</option>
    <option value="XML_RPC2">XML_RPC2</option>
</optgroup>
<optgroup label="XML">
    <option value="XML_Feed_Parser">XML_Feed_Parser</option>
    <option value="XML_FOAF">XML_FOAF</option>
    <option value="XML_MXML">XML_MXML</option>
    <option value="XML_Parser2">XML_Parser2</option>
    <option value="XML_Query2XML">XML_Query2XML</option>
    <option value="XML_Util2">XML_Util2</option>
    <option value="XML_XRD">XML_XRD</option>
    <option value="XML_XUL">XML_XUL</option>
</optgroup>
