<optgroup label="Authentication">
    <option value="courierauth">courierauth</option>
    <option value="krb5">krb5</option>
    <option value="PAM">PAM</option>
    <option value="radius">radius</option>
    <option value="sasl">sasl</option>
</optgroup>
<optgroup label="Benchmarking">
    <option value="DTrace">DTrace</option>
    <option value="inclued">inclued</option>
</optgroup>
<optgroup label="Caching">
    <option value="APC">APC</option>
    <option value="APCu">APCu</option>
    <option value="chdb">chdb</option>
    <option value="coherence">coherence</option>
    <option value="hidef">hidef</option>
    <option value="memcache">memcache</option>
    <option value="memcached">memcached</option>
    <option value="memoize">memoize</option>
    <option value="memoize_apc">memoize_apc</option>
    <option value="memoize_memcached">memoize_memcached</option>
    <option value="memoize_memory">memoize_memory</option>
    <option value="varnish">varnish</option>
    <option value="WinCache">WinCache</option>
    <option value="ZendOpcache">ZendOpcache</option>
</optgroup>
<optgroup label="Configuration">
    <option value="augeas">augeas</option>
    <option value="zookeeper">zookeeper</option>
</optgroup>
<optgroup label="Console">
    <option value="ncurses">ncurses</option>
    <option value="newt">newt</option>
    <option value="tvision">tvision</option>
    <option value="xmms">xmms</option>
</optgroup>
<optgroup label="Database">
    <option value="couchbase">couchbase</option>
    <option value="CUBRID">CUBRID</option>
    <option value="daffodildb">daffodildb</option>
    <option value="dbase">dbase</option>
    <option value="DBDO">DBDO</option>
    <option value="dbplus">dbplus</option>
    <option value="dbx">dbx</option>
    <option value="drizzle">drizzle</option>
    <option value="filepro">filepro</option>
    <option value="hwapi">hwapi</option>
    <option value="ibm_db2">ibm_db2</option>
    <option value="informix">informix</option>
    <option value="ingres">ingres</option>
    <option value="isis">isis</option>
    <option value="lchash">lchash</option>
    <option value="leveldb">leveldb</option>
    <option value="maxdb">maxdb</option>
    <option value="mdbtools">mdbtools</option>
    <option value="mongo">mongo</option>
    <option value="mysql">mysql</option>
    <option value="mysqlnd_memcache">mysqlnd_memcache</option>
    <option value="mysqlnd_ms">mysqlnd_ms</option>
    <option value="mysqlnd_qc">mysqlnd_qc</option>
    <option value="mysqlnd_uh">mysqlnd_uh</option>
    <option value="notes">notes</option>
    <option value="oci8">oci8</option>
    <option value="odbtp">odbtp</option>
    <option value="Ovrimos">Ovrimos</option>
    <option value="Paradox">Paradox</option>
    <option value="PDO">PDO</option>
    <option value="PDO_4D">PDO_4D</option>
    <option value="PDO_CUBRID">PDO_CUBRID</option>
    <option value="PDO_DBLIB">PDO_DBLIB</option>
    <option value="PDO_FIREBIRD">PDO_FIREBIRD</option>
    <option value="PDO_IBM">PDO_IBM</option>
    <option value="PDO_INFORMIX">PDO_INFORMIX</option>
    <option value="PDO_MYSQL">PDO_MYSQL</option>
    <option value="PDO_OCI">PDO_OCI</option>
    <option value="PDO_ODBC">PDO_ODBC</option>
    <option value="PDO_PGSQL">PDO_PGSQL</option>
    <option value="PDO_SQLANYWHERE">PDO_SQLANYWHERE</option>
    <option value="PDO_SQLITE">PDO_SQLITE</option>
    <option value="pdo_sqlsrv">pdo_sqlsrv</option>
    <option value="pdo_user">pdo_user</option>
    <option value="PDO_XML">PDO_XML</option>
    <option value="pq">pq</option>
    <option value="redis">redis</option>
    <option value="sqlanywhere">sqlanywhere</option>
    <option value="SQLite">SQLite</option>
    <option value="sqlite3">sqlite3</option>
    <option value="sqlsrv">sqlsrv</option>
    <option value="tdb">tdb</option>
    <option value="tokyo_tyrant">tokyo_tyrant</option>
</optgroup>
<optgroup label="Date and Time">
    <option value="date_time">date_time</option>
    <option value="timezonedb">timezonedb</option>
</optgroup>
<optgroup label="Encryption">
    <option value="BLENC">BLENC</option>
    <option value="gnupg">gnupg</option>
    <option value="mcrypt_filter">mcrypt_filter</option>
</optgroup>
<optgroup label="Event">
    <option value="eio">eio</option>
    <option value="ev">ev</option>
    <option value="libevent">libevent</option>
</optgroup>
<optgroup label="File Formats">
    <option value="archive">archive</option>
    <option value="bz2">bz2</option>
    <option value="cpdf">cpdf</option>
    <option value="Fileinfo">Fileinfo</option>
    <option value="fpdf">fpdf</option>
    <option value="haru">haru</option>
    <option value="id3">id3</option>
    <option value="lzf">lzf</option>
    <option value="qqwry">qqwry</option>
    <option value="rar">rar</option>
    <option value="rpmreader">rpmreader</option>
    <option value="syck">syck</option>
    <option value="yaml">yaml</option>
    <option value="zip">zip</option>
</optgroup>
<optgroup label="File System">
    <option value="dazuko">dazuko</option>
    <option value="fuse">fuse</option>
    <option value="inotify">inotify</option>
    <option value="mogilefs">mogilefs</option>
    <option value="xattr">xattr</option>
</optgroup>
<optgroup label="GUI">
    <option value="php_xcb">php_xcb</option>
    <option value="tk">tk</option>
    <option value="win32std">win32std</option>
    <option value="WinBinder">WinBinder</option>
    <option value="wxwidgets">wxwidgets</option>
</optgroup>
<optgroup label="HTML">
    <option value="html_parse">html_parse</option>
    <option value="tidy">tidy</option>
</optgroup>
<optgroup label="HTTP">
    <option value="pecl_http">pecl_http</option>
    <option value="txforward">txforward</option>
    <option value="uri_template">uri_template</option>
</optgroup>
<optgroup label="Images">
    <option value="cairo">cairo</option>
    <option value="cairo_wrapper">cairo_wrapper</option>
    <option value="framegrab">framegrab</option>
    <option value="FreeImage">FreeImage</option>
    <option value="GDChart">GDChart</option>
    <option value="gmagick">gmagick</option>
    <option value="imagick">imagick</option>
    <option value="imlib2">imlib2</option>
    <option value="pango">pango</option>
    <option value="rsvg">rsvg</option>
</optgroup>
<optgroup label="Internationalization">
    <option value="cld">cld</option>
    <option value="fribidi">fribidi</option>
    <option value="gender">gender</option>
    <option value="idn">idn</option>
    <option value="intl">intl</option>
    <option value="translit">translit</option>
    <option value="unicode">unicode</option>
    <option value="unicodestring">unicodestring</option>
</optgroup>
<optgroup label="Languages">
    <option value="lua">lua</option>
    <option value="perl">perl</option>
    <option value="python">python</option>
    <option value="spidermonkey">spidermonkey</option>
    <option value="v8js">v8js</option>
</optgroup>
<optgroup label="Mail">
    <option value="mailparse">mailparse</option>
    <option value="POP3">POP3</option>
    <option value="vpopmail">vpopmail</option>
</optgroup>
<optgroup label="Math">
    <option value="big_int">big_int</option>
    <option value="lapack">lapack</option>
    <option value="stats">stats</option>
    <option value="trader">trader</option>
</optgroup>
<optgroup label="Multimedia">
    <option value="ecasound">ecasound</option>
    <option value="ming">ming</option>
    <option value="sdl">sdl</option>
</optgroup>
<optgroup label="Networking">
    <option value="amqp">amqp</option>
    <option value="ares">ares</option>
    <option value="cvsclient">cvsclient</option>
    <option value="cyrus">cyrus</option>
    <option value="DBus">DBus</option>
    <option value="esmtp">esmtp</option>
    <option value="event">event</option>
    <option value="gearman">gearman</option>
    <option value="geoip">geoip</option>
    <option value="gupnp">gupnp</option>
    <option value="IMS">IMS</option>
    <option value="kadm5">kadm5</option>
    <option value="mqseries">mqseries</option>
    <option value="msession">msession</option>
    <option value="netools">netools</option>
    <option value="Net_Gopher">Net_Gopher</option>
    <option value="ocal">ocal</option>
    <option value="opendirectory">opendirectory</option>
    <option value="perforce">perforce</option>
    <option value="sam">sam</option>
    <option value="spread">spread</option>
    <option value="ssh2">ssh2</option>
    <option value="tcpwrap">tcpwrap</option>
    <option value="uuid">uuid</option>
    <option value="yami">yami</option>
    <option value="yaz">yaz</option>
    <option value="yp">yp</option>
    <option value="zeroconf">zeroconf</option>
</optgroup>
<optgroup label="Numbers">
    <option value="Bitset">Bitset</option>
</optgroup>
<optgroup label="Payment">
    <option value="coin_acceptor">coin_acceptor</option>
    <option value="cybercash">cybercash</option>
    <option value="cybermut">cybermut</option>
    <option value="mcve">mcve</option>
    <option value="spplus">spplus</option>
    <option value="TCLink">TCLink</option>
</optgroup>
<optgroup label="PHP">
    <option value="AOP">AOP</option>
    <option value="apd">apd</option>
    <option value="APM">APM</option>
    <option value="automap">automap</option>
    <option value="bcompiler">bcompiler</option>
    <option value="classkit">classkit</option>
    <option value="docblock">docblock</option>
    <option value="ffi">ffi</option>
    <option value="funcall">funcall</option>
    <option value="htscanner">htscanner</option>
    <option value="igbinary">igbinary</option>
    <option value="intercept">intercept</option>
    <option value="llvm">llvm</option>
    <option value="memsession">memsession</option>
    <option value="memtrack">memtrack</option>
    <option value="meta">meta</option>
    <option value="mono">mono</option>
    <option value="operator">operator</option>
    <option value="optimizer">optimizer</option>
    <option value="params">params</option>
    <option value="parsekit">parsekit</option>
    <option value="Parse_Tree">Parse_Tree</option>
    <option value="phar">phar</option>
    <option value="PHK">PHK</option>
    <option value="PHPScript">PHPScript</option>
    <option value="postparser">postparser</option>
    <option value="PreProcessor">PreProcessor</option>
    <option value="propro">propro</option>
    <option value="raphf">raphf</option>
    <option value="runkit">runkit</option>
    <option value="scream">scream</option>
    <option value="session_mysql">session_mysql</option>
    <option value="tcc">tcc</option>
    <option value="uploadprogress">uploadprogress</option>
    <option value="vld">vld</option>
</optgroup>
<optgroup label="Processing">
    <option value="amfext">amfext</option>
    <option value="rrd">rrd</option>
    <option value="shape">shape</option>
</optgroup>
<optgroup label="Search Engine">
    <option value="clucene">clucene</option>
    <option value="mnogosearch">mnogosearch</option>
    <option value="solr">solr</option>
    <option value="sphinx">sphinx</option>
    <option value="swish">swish</option>
</optgroup>
<optgroup label="Security">
    <option value="selinux">selinux</option>
    <option value="taint">taint</option>
</optgroup>
<optgroup label="Streams">
    <option value="oggvorbis">oggvorbis</option>
    <option value="openal">openal</option>
</optgroup>
<optgroup label="Structures">
    <option value="bloomy">bloomy</option>
    <option value="Judy">Judy</option>
    <option value="quickhash">quickhash</option>
    <option value="Weakref">Weakref</option>
</optgroup>
<optgroup label="System">
    <option value="ApacheAccessor">ApacheAccessor</option>
    <option value="dio">dio</option>
    <option value="expect">expect</option>
    <option value="fam">fam</option>
    <option value="printer">printer</option>
    <option value="proctitle">proctitle</option>
    <option value="pthreads">pthreads</option>
    <option value="statgrab">statgrab</option>
    <option value="threads">threads</option>
    <option value="w32api">w32api</option>
    <option value="win32ps">win32ps</option>
    <option value="win32ps_dll">win32ps_dll</option>
    <option value="win32service">win32service</option>
    <option value="yaf">yaf</option>
</optgroup>
<optgroup label="Text">
    <option value="bbcode">bbcode</option>
    <option value="colorer">colorer</option>
    <option value="doublemetaphone">doublemetaphone</option>
    <option value="enchant">enchant</option>
    <option value="jsmin">jsmin</option>
    <option value="markdown">markdown</option>
    <option value="namazu">namazu</option>
    <option value="panda">panda</option>
    <option value="pdflib">pdflib</option>
    <option value="ps">ps</option>
    <option value="re2">re2</option>
    <option value="ssdeep">ssdeep</option>
    <option value="stem">stem</option>
    <option value="sundown">sundown</option>
    <option value="TextCat">TextCat</option>
    <option value="xdiff">xdiff</option>
</optgroup>
<optgroup label="Tools and Utilities">
    <option value="clips">clips</option>
    <option value="crack">crack</option>
    <option value="crack_dll">crack_dll</option>
    <option value="fann">fann</option>
    <option value="filter">filter</option>
    <option value="functional">functional</option>
    <option value="graphdat">graphdat</option>
    <option value="hash">hash</option>
    <option value="huffman">huffman</option>
    <option value="msgpack">msgpack</option>
    <option value="pcsc">pcsc</option>
    <option value="PECL_Gen">PECL_Gen</option>
    <option value="rsync">rsync</option>
    <option value="SPL">SPL</option>
    <option value="SPL_Types">SPL_Types</option>
    <option value="stomp">stomp</option>
    <option value="svm">svm</option>
    <option value="udis86">udis86</option>
    <option value="Valkyrie">Valkyrie</option>
    <option value="xrange">xrange</option>
</optgroup>
<optgroup label="Virtualization">
    <option value="libvirt">libvirt</option>
</optgroup>
<optgroup label="Web Services">
    <option value="axis2">axis2</option>
    <option value="json">json</option>
    <option value="oauth">oauth</option>
    <option value="SCA_SDO">SCA_SDO</option>
    <option value="xcommerce">xcommerce</option>
    <option value="yar">yar</option>
</optgroup>
<optgroup label="XML">
    <option value="domxml">domxml</option>
    <option value="WBXML">WBXML</option>
    <option value="xmlReader">xmlReader</option>
    <option value="XMLRPCi">XMLRPCi</option>
    <option value="xmlwriter">xmlwriter</option>
    <option value="xslcache">xslcache</option>
</optgroup>
