<option value="php5-adodb">php5-adodb</option>
<option value="php5-auth-pam">php5-auth-pam</option>
<option value="php5-cgi">php5-cgi</option>
<option value="php5-cli" selected>php5-cli</option>
<option value="php5-common">php5-common</option>
<option value="php5-curl" selected>php5-curl</option>
<option value="php5-dbg">php5-dbg</option>
<option value="php5-dev" selected>php5-dev</option>
<option value="php5-enchant">php5-enchant</option>
<option value="php5-exactimage">php5-exactimage</option>
<option value="php5-ffmpeg">php5-ffmpeg</option>
<option value="php5-fpm">php5-fpm</option>
<option value="php5-gd">php5-gd</option>
<option value="php5-geoip">php5-geoip</option>
<option value="php5-gmp">php5-gmp</option>
<option value="php5-imagick">php5-imagick</option>
<option value="php5-imap">php5-imap</option>
<option value="php5-interbase">php5-interbase</option>
<option value="php5-intl" selected>php5-intl</option>
<option value="php5-lasso">php5-lasso</option>
<option value="php5-ldap">php5-ldap</option>
<option value="php5-librdf">php5-librdf</option>
<option value="php5-mapscript">php5-mapscript</option>
<option value="php5-mcrypt" selected>php5-mcrypt</option>
<option value="php5-memcache">php5-memcache</option>
<option value="php5-memcached">php5-memcached</option>
<option value="php5-midgard2">php5-midgard2</option>
<option value="php5-ming">php5-ming</option>
<option value="php5-mysql">php5-mysql</option>
<option value="php5-mysqlnd">php5-mysqlnd</option>
<option value="php5-odbc">php5-odbc</option>
<option value="php5-pgsql">php5-pgsql</option>
<option value="php5-ps">php5-ps</option>
<option value="php5-pspell">php5-pspell</option>
<option value="php5-radius">php5-radius</option>
<option value="php5-readline">php5-readline</option>
<option value="php5-recode">php5-recode</option>
<option value="php5-remctl">php5-remctl</option>
<option value="php5-rrd">php5-rrd</option>
<option value="php5-sasl">php5-sasl</option>
<option value="php5-snmp">php5-snmp</option>
<option value="php5-sqlite">php5-sqlite</option>
<option value="php5-suhosin">php5-suhosin</option>
<option value="php5-svn">php5-svn</option>
<option value="php5-sybase">php5-sybase</option>
<option value="php5-tidy">php5-tidy</option>
<option value="php5-tokyo-tyrant">php5-tokyo-tyrant</option>
<option value="php5-uuid">php5-uuid</option>
<option value="php5-xcache">php5-xcache</option>
<option value="php5-xmlrpc">php5-xmlrpc</option>
<option value="php5-xsl">php5-xsl</option>
<option value="php-apc">php-apc</option>
<option value="php-auth">php-auth</option>
<option value="php-auth-http">php-auth-http</option>
<option value="php-auth-sasl">php-auth-sasl</option>
<option value="phpbb3">phpbb3</option>
<option value="phpbb3-l10n">phpbb3-l10n</option>
<option value="php-benchmark">php-benchmark</option>
<option value="php-cache">php-cache</option>
<option value="php-cache-lite">php-cache-lite</option>
<option value="php-codesniffer">php-codesniffer</option>
<option value="php-compat">php-compat</option>
<option value="php-config">php-config</option>
<option value="php-console-table">php-console-table</option>
<option value="php-crypt-blowfish">php-crypt-blowfish</option>
<option value="php-crypt-cbc">php-crypt-cbc</option>
<option value="php-crypt-gpg">php-crypt-gpg</option>
<option value="php-date">php-date</option>
<option value="php-db">php-db</option>
<option value="php-doc">php-doc</option>
<option value="php-elisp">php-elisp</option>
<option value="php-event-dispatcher">php-event-dispatcher</option>
<option value="php-file">php-file</option>
<option value="php-fpdf">php-fpdf</option>
<option value="phpgacl">phpgacl</option>
<option value="php-geshi">php-geshi</option>
<option value="php-getid3">php-getid3</option>
<option value="php-gettext">php-gettext</option>
<option value="php-html-common">php-html-common</option>
<option value="php-htmlpurifier">php-htmlpurifier</option>
<option value="php-html-safe">php-html-safe</option>
<option value="php-html-template-it">php-html-template-it</option>
<option value="php-http">php-http</option>
<option value="php-http-request">php-http-request</option>
<option value="php-http-upload">php-http-upload</option>
<option value="php-http-webdav-server">php-http-webdav-server</option>
<option value="php-image-text">php-image-text</option>
<option value="php-imlib">php-imlib</option>
<option value="php-kolab-filter">php-kolab-filter</option>
<option value="php-kolab-freebusy">php-kolab-freebusy</option>
<option value="phpldapadmin">phpldapadmin</option>
<option value="php-letodms-core">php-letodms-core</option>
<option value="php-letodms-lucene">php-letodms-lucene</option>
<option value="php-log">php-log</option>
<option value="php-mail">php-mail</option>
<option value="php-mail-mime">php-mail-mime</option>
<option value="php-mail-mimedecode">php-mail-mimedecode</option>
<option value="php-mdb2">php-mdb2</option>
<option value="php-mdb2-driver-mysql">php-mdb2-driver-mysql</option>
<option value="php-mdb2-driver-pgsql">php-mdb2-driver-pgsql</option>
<option value="php-mdb2-driver-sqlite">php-mdb2-driver-sqlite</option>
<option value="php-mime-type">php-mime-type</option>
<option value="phpmyadmin">phpmyadmin</option>
<option value="php-mythtv">php-mythtv</option>
<option value="php-net-checkip">php-net-checkip</option>
<option value="php-net-dime">php-net-dime</option>
<option value="php-net-dnsbl">php-net-dnsbl</option>
<option value="php-net-ftp">php-net-ftp</option>
<option value="php-net-imap">php-net-imap</option>
<option value="php-net-ipv4">php-net-ipv4</option>
<option value="php-net-ipv6">php-net-ipv6</option>
<option value="php-net-ldap">php-net-ldap</option>
<option value="php-net-ldap2">php-net-ldap2</option>
<option value="php-net-lmtp">php-net-lmtp</option>
<option value="php-net-nntp">php-net-nntp</option>
<option value="php-net-ping">php-net-ping</option>
<option value="php-net-portscan">php-net-portscan</option>
<option value="php-net-sieve">php-net-sieve</option>
<option value="php-net-smartirc">php-net-smartirc</option>
<option value="php-net-smtp">php-net-smtp</option>
<option value="php-net-socket">php-net-socket</option>
<option value="php-net-url">php-net-url</option>
<option value="php-net-whois">php-net-whois</option>
<option value="php-numbers-words">php-numbers-words</option>
<option value="php-openid">php-openid</option>
<option value="php-pager">php-pager</option>
<option value="phppgadmin">phppgadmin</option>
<option value="php-radius-legacy">php-radius-legacy</option>
<option value="phpreports">phpreports</option>
<option value="php-services-json">php-services-json</option>
<option value="php-services-weather">php-services-weather</option>
<option value="php-soap">php-soap</option>
<option value="phpsysinfo">phpsysinfo</option>
<option value="php-text-captcha">php-text-captcha</option>
<option value="php-text-figlet">php-text-figlet</option>
<option value="php-text-password">php-text-password</option>
<option value="php-text-wiki">php-text-wiki</option>
<option value="phpwebcounter">phpwebcounter</option>
<option value="phpwebcounter-extra">phpwebcounter-extra</option>
<option value="php-wikidiff2">php-wikidiff2</option>
<option value="php-xajax">php-xajax</option>
<option value="php-xml-htmlsax3">php-xml-htmlsax3</option>
<option value="php-xml-parser">php-xml-parser</option>
<option value="php-xml-rpc">php-xml-rpc</option>
<option value="php-xml-rpc2">php-xml-rpc2</option>
<option value="php-xml-rss">php-xml-rss</option>
<option value="php-xml-serializer">php-xml-serializer</option>
<option value="php-zeroc-ice">php-zeroc-ice</option>
