<div class="bs-example xdebug">
    <div class="row">
        <div class="col min-span-4">
            <label class="checkbox-inline min-span-2" for="php-modules-xdebug-installed">Install XDebug</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="php-modules-xdebug-installed" name="php[modules][xdebug][installed]"
                       value="1" checked/>
                Yes
            </label>
            <p class="help-block">
                CLI debugging will be automatically available. Simply run <code>$ xdebug foo.php</code>!
                <a href="http://devincharge.com/debug-cli-remote-server/">Follow  instructions here to setup PHPStorm
                to listen for a CLI connection</a>. Other IDEs should be similar.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label class="full-width min-span-3">
                <select class="selectTags" id="php-inilist-name-xdebug" name="php-inilist-name-xdebug">
                    {% include 'Front/Tabs/PHP/ini_xdebug.html.twig' %}
                </select>
            </label>
        </div>

        <div class="col col-lg-3">
            <label>
                <input id="php-inilist-value-xdebug" name="php-inilist-value-xdebug" type="text" placeholder="value" value=""/>
            </label>
        </div>

        <div class="col col-lg-3">
            <a id="php-inilist-add-xdebug" class="btn btn-primary" href="#">Add</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-8">
            <label class="control-label" for="php-inilist-xdebug"></label>
            <input id="php-inilist-xdebug" name="php[inilist][xdebug]" type="text"
                   class="tags" placeholder="value"
                   value="{{ format.explode_ini_list(edition.get('[php][inilist][xdebug]')) }}"/></label>
        </div>
    </div>

    <p class="help-block">
        Not using Xdebug? Still pounding out <code>var_dump()</code> and <code>print_r()</code> and <code>echo</code>?
        <br/>
        <a href="https://jtreminio.com/2012/07/xdebug-and-you-why-you-should-be-using-a-real-debugger">
            Xdebug and You: Why You Should be Using a Real Debugger
        </a>
    </p>

</div>
