<input type="hidden" name="server[install]" value="1" />

<div class="section-header hidden">
    <h1>System Packages</h1>
    <p class="lead">Install system packages.</p>
</div>

<div class="form-group">
    <div class="help-text">
        Packages to install via the OS package manager, separated by comma.
        Do not add Apache/Nginx or PHP here - you will choose those later.
    </div>
    <label for="server-packages">System Packages</label>
    <select id="server-packages"
           name="server[packages][]"
           multiple class="form-control select-tags-editable">
        {% for package in server.packages %}
            <option selected value="{{ package }}">{{ package }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <div class="help-block">
        <p>Some common packages are (do not mix!):</p>

        <div class="form-group">
            <ul class="col-xs-6">
                Debian/Ubuntu:
                <li><a href="#" class="addClickedToSelectizeElement"
                        data-target="server-packages"
                        data-value="vim">vim</a></li>
                <li><a href="#" class="addClickedToSelectizeElement"
                        data-target="server-packages"
                        data-value="htop">htop</a></li>
            </ul>

            <ul class="col-xs-6">
                CentOS:
                <li><a href="#" class="addClickedToSelectizeElement"
                        data-target="server-packages"
                        data-value="vim-common">vim-common</a></li>
                <li><a href="#" class="addClickedToSelectizeElement"
                        data-target="server-packages"
                        data-value="htop">htop</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
