<div class="section-header">
    <h1>System Timezone</h1>
    <p class="lead">Set system timezone.</p>
</div>

<div class="field-container">
    <div class="form-group col-xs-12">
        <label for="server-timezone">Timezone</label>
        <select id="server-timezone"
                name="server[timezone]"
                multiple class="form-control select-tags-editable">
            {% for timezone in server.available.timezones %}
                <option value="{{ timezone }}" selected>{{ timezone }}</option>
            {% endfor %}
        </select>

        <div class="help-block">
            <p>If you've chosen <strong>CentOS</strong>, Some modules come pre-installed: <code>curl</code>,
                <code>imagick</code>, <code>memcached</code>, <code>sqlite</code>.
                Don't choose these here.</p>
            <p>If you've chosen <strong>Ubuntu 14.04 and PHP 7</strong>, some modules have been noted as
                coming pre-installed: <code>mcrypt</code>. Don't choose these here.</p>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-6">
        <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#system-packages">
            <i class="fa fa-hand-o-left"></i> System Packages
        </a>
    </div>
    <div class="col-xs-6">
        <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#users-groups">
            Users &amp; Groups <i class="fa fa-hand-o-right"></i>
        </a>
    </div>

    <div class="clearfix"></div>
</div>
