{% extends 'PuphpetMainBundle:front:template.html.twig' %}

{% block main %}
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>About everything</h1>
                </div>

                <h3>Annyong!</h3>

                <p>My name is Juan. I like building things people love to use. I hope you enjoy PuPHPet!</p>

                <h3>What's all this about, then?</h3>

                <p>
                    This is a gui configurator for the
                    <a href="http://vagrantup.com" target="_blank">Vagrant automation tool</a>.
                    It uses <a href="http://puppetlabs.com/" target="_blank">Puppet</a> as the provisioning backend.
                </p>

                <h3>What is Vagrant/Puppet and why should I care?</h3>

                <p>
                    I used to develop locally on a virtual machine. In fact, I wrote a length, detailed
                    step-by-step tutorial
                    (<a href="https://jtreminio.com/2012/07/setting-up-a-debian-vm-step-by-step" target="_blank">Setting Up a Debian VM, Step by Step</a>)
                    that goes through the process from beginning to end on setting up a Debian VM. It works
                    wonderfully, and I love editing my files on my daily OS (Windows back then, OS X now), and
                    running the applications within a proper environment.
                </p>

                <p>
                    The first problem is obvious: there is a lot of setup involved. Just look at that tutorial.
                    From beginning to end it may take upward of an hour to do the whole process! What happens
                    if you mess up somewhere? You have to start all over!
                </p>

                <p>
                    The next problem comes after you've got the VM up and running. I had to be very careful
                    when making changes to the system, because I was afraid of screwing it up and having to
                    either restart it from scratch or googling trying to undo the damage.
                </p>

                <p>
                    The third large issue is, how to properly share my environment with other developers? Do
                    I <em>really</em> want to upload this multi-GB file? That's a big pain in the butt!
                </p>

                <p>Vagrant and Puppet takes care of all these issues, and more, for you!</p>

                <p>
                    The Debian tutorial can be written once, and run multiple times. I no longer have to worry
                    about damaging my VM environment - if I screw something up I can destroy it, re-run Vagrant,
                    and within 3 minutes I have a fully working environment once again! To share, I simply point
                    developers to my Github repo where they download appx. 50KB of text files and run Vagrant on
                    their own machines! Awesome!
                </p>

                <h3>Want some more details?</h3>

                <p>I wrote some fairly in-depth introductions to both Vagrant and Puppet:</p>

                <ul>
                    <li>
                        <a href="http://jtreminio.com/2013/05/introduction_to_vagrant_puppet_and_introducing_puphpet_a_simple_to_use_vagrant_puppet_gui_configurator"
                           target="_blank">Introduction
                            to Vagrant/Puppet and introducing PuPHPet - A simple to use Vagrant/Puppet GUI Configurator!</a>
                    </li>
                    <li><a href="http://jtreminio.com/2013/06/make_vagrant_up_yours" target="_blank">Make $ vagrant up yours</a></li>
                </ul>

                <h3>How do I know you won't give me some virus?!</h3>

                <p><a href="https://github.com/puphpet/puphpet" target="_blank">This app is completely open-sourced</a></p>

                <p>
                    You can always clone it locally and run it off of your own machine to make sure there is
                    nothing shady going on behind the scenes.
                </p>

                <h3>Please fork me!</h3>

                <p>
                    I have been using Puppet/Vagrant for a little under two weeks as of Monday, May 13. If
                    you are a Vagrant or Puppet maestro, I would love it if you could contribute some of
                    your knowledge by submitting pull requests! If you don't know either Vagrant or Puppet
                    you can still be kick-ass and submit requests for other things!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
