{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" data-dismiss="alert" aria-hidden="true">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}

{% if hasCustom is defined %}
    <div class="alert alert-success alert-dismissable" data-dismiss="alert" aria-hidden="true">
        Your previously generated config file was successfully loaded!
    </div>
{% else %}
    <div class="alert alert-info alert-dismissable" data-dismiss="alert" aria-hidden="true">
        I will be giving a presention on Vagrant and Puppet (and possibly PuPHPet) at the
        <a href="http://world.phparch.com/speakers/#65313">upcoming php[world] conference on Nov. 13th</a>!
        If you're in the D.C. area, come and say hi!
    </div>

    <div class="alert alert-info alert-dismissable" data-dismiss="alert" aria-hidden="true">
        <ul>
            <li>Vagrant >= 1.6 is required to run PuPHPet manifests!</li>
            <li>Have an existing PuPHPet-generated manifest? Just drag your
                <code>puphpet/config.yaml</code> file into your browser OR copy/paste the file's
                contents from your clipboard, and the form will be filled in with your previous values!</li>
        </ul>
    </div>
{% endif %}
