<div class="tab-pane active" id="frontpage">
    <div class="section-header">
        <h1>Welcome to PuPHPet</h1>
        <p class="lead">A simple GUI to set up virtual machines for Web development.</p>
    </div>

    <div class="field-container">
        <div class="col-xs-6">
            <h3><i class="fa fa-share-alt"></i> Easily share with friends and coworkers</h3>

            <p>Everything is controlled via a simple-to-read YAML file, and comes packaged
                in a small ZIP archive.</p>

            <h3><i class="fa fa-cloud"></i> Deploy to any server in the world!</h3>

            <p>Native support for Rackspace, Digital Ocean, Linode, and more! Free plugin to
                deploy to any SSH-enabled server.</p>

            <h3><i class="fa fa-group"></i> Open sourced, MIT licensed.</h3>

            <p><a href="https://github.com/puphpet/puphpet" target="_blank">Want to help out?</a>
        </div>

        <div class="col-xs-6">
            <h3><i class="fa fa-asterisk"></i> Important Notices</h3>

            <div class="alert alert-info" role="alert">
                <ul>
                    <li>Minimum required Vagrant version is <strong>1.7.4</strong></li>
                    <li>VirtualBox 5.x is causing issues with Vagrant. Make sure you are on <strong>4.3.x</strong>!</li>
                </ul>
            </div>

            <h3><i class="fa fa-newspaper-o"></i> Latest news</h3>
            <ul>
                <li><a href="http://blog.puphpet.com/blog/2015/06/25/windows-symlinks/" target="_blank">Symlink Support in Windows and Virtualbox</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/05/08/better-ssl-security/" target="_blank">Better SSL Security</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/04/22/php7-support/" target="_blank">PHP7 support added</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/04/18/drag-drop-bc-break/" target="_blank">Drag &amp; drop BC breaking changes</a></li>
            </ul>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="asciicast-container">
                        <script src="//asciinema.org/a/19251.js?" id="asciicast-19251" async data-speed="2"></script>
                    </div>

                    <p class="asciicast-description"><i class="fa fa-level-up fa-rotate-90"></i>
                        [Ubuntu 14.04, Nginx, PHP 5.6, Ruby, Python, MySQL]</p>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#vagrantfile-local">
            Get started right away. It's free! <i class="fa fa-hand-o-right"></i>
        </a>
    </div>
</div>
