<div class="tab-pane active" id="frontpage">
    <div class="section-header">
        <h1>Welcome to PuPHPet</h1>
        <p class="lead">A simple GUI to set up virtual machines for Web development.</p>
    </div>

    <div class="field-container">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li>On Dec 1, 2015 all boxes were updated to include Puppet 4.3.x. If you create a new archive
                        on or after this date, you <strong>must</strong> update your cached box downloads using
                        <code>$ vagrant box update</code> from within the directory containing your archive's
                        <code>Vagrantfile</code>.</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6">
            <h3><i class="fa fa-share-alt"></i> Easily share with friends and coworkers</h3>

            <p>Everything is controlled via a simple-to-read YAML file, and comes packaged
                in a small ZIP archive.</p>

            <h3><i class="fa fa-cloud"></i> Deploy to any server in the world!</h3>

            <p>Native support for Rackspace, Digital Ocean, Linode, and more! Free plugin to
                deploy to any SSH-enabled server.</p>

            <h3><i class="fa fa-group"></i> Open sourced, MIT licensed.</h3>

            <p><a href="https://github.com/puphpet/puphpet" target="_blank">Want to help out?</a>
        </div>

        <div class="col-xs-6">
            <h3><i class="fa fa-asterisk"></i> Important Notices</h3>

            <div class="alert alert-info" role="alert">
                <ul>
                    <li>Minimum required Vagrant version is <strong>1.8.x</strong></li>
                    <li><strong>VirtualBox 5 is now the minimum required version!</strong></li>
                </ul>
            </div>

            <h3><i class="fa fa-newspaper-o"></i> Latest news</h3>
            <ul>
                <li><a href="http://blog.puphpet.com/blog/2015/06/25/windows-symlinks/" target="_blank">Symlink Support in Windows and Virtualbox</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/05/08/better-ssl-security/" target="_blank">Better SSL Security</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/04/22/php7-support/" target="_blank">PHP7 support added</a></li>
                <li><a href="http://blog.puphpet.com/blog/2015/04/18/drag-drop-bc-break/" target="_blank">Drag &amp; drop BC breaking changes</a></li>
            </ul>
        </div>

        <div class="clearfix"></div>

        <a class="btn btn-lg btn-success btn-block next-section" type="button" href="#vagrantfile-local">
            Get started right away. It's free! <i class="fa fa-hand-o-right"></i>
        </a>
    </div>
</div>
