<div class="tab-pane active" id="frontpage">
    <div class="section-header hidden">
        <h1>Welcome to PuPHPet</h1>
        <p class="lead">A simple GUI to set up virtual machines for Web development.</p>
    </div>

    <h1>Highly customized servers one command away!</h1>

    <div class="asciicast-container">
        <script src="//asciinema.org/a/19251.js?" id="asciicast-19251" async data-speed="2"></script>
    </div>

    <p class="asciicast-description"><i class="fa fa-level-up fa-rotate-90"></i>
        [Ubuntu 14.04, Nginx, PHP 5.6, Ruby, Python, MySQL]</p>

    <h2>Easily share with friends and coworkers</h2>

    <p>Everything is controlled via a simple-to-read YAML file, and comes packaged
        in a small ZIP archive.</p>

    <h2>Deploy to any server in the world!</h2>

    <p>Native support for Rackspace, Digital Ocean, Linode, and more! Free plugin to
        deploy to any SSH-enabled server.</p>

    <h2>Open sourced, MIT licensed.</h2>

    <p><a href="https://github.com/puphpet/puphpet" target="_blank">Want to help out?</a>

    <h2><a href="#vagrantfile-local">Click here to get started right away.</a></h2>
</div>
