<div class="tab-pane active" id="frontpage">
    <div class="section-header hidden">
        <h1>Welcome to PuPHPet</h1>
        <p class="lead">A simple GUI to set up virtual machines for Web development.</p>
    </div>

    <div class="intro-text-container">
        <div class="intro-text">
            <a href="https://github.com/puphpet/puphpet"
               target="_blank"><img src="{{ asset('assets/v5/img/Github-Octocat.png') }}" /></a>
            <p>Customized servers<br />
                at the<br />
                click of a button.</p>
        </div>
    </div>

    <p class="intro-description"> Create highly-customized servers for your company,
        pet project or for testing new software.</p>
    <p class="intro-description">Easily share them with friends and coworkers!</p>
    <p class="intro-description">Deploy on your local machine, Rackspace,
        Digital Ocean and much more!</p>
    <p class="intro-description">Best of all, it is completely free and open source!</p>
    <p class="intro-description"><a href="#vagrantfile-local">Click here to get
            started right away.</a></p>
</div>
