{% extends 'PuphpetMainBundle:front:template.html.twig' %}

{% import "PuphpetMainBundle:front:macros/sections.html.twig" as sections %}

{% block topJs %}
    {{ parent() }}
    <script>var uploadConfigUrl = '{{ path('puphpet.main.upload_config') }}';</script>
{% endblock %}

{% block main %}
<div id="drag-drop"><p><span class="glyphicon glyphicon-cloud-upload"></span><br />upload your config</p></div>

<div id="main-body" class="container">
    <div class="row">
        {% include 'PuphpetMainBundle:front:sideMenu.html.twig' %}

        <form role="form" action="{{ path('puphpet.main.homepage') }}" method="post">
            <div id="main-content" class="col-md-9 tab-content">
                <div class="row">
                    <div class="col-xs-12">{% include 'PuphpetMainBundle:front:alerts.html.twig' %}</div>
                </div>

                {% include 'PuphpetMainBundle:front:sections/deploy-target.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/server.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/firewall.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/webserver.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/language.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/database.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/work-queue.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/search-server.html.twig' %}
                {% include 'PuphpetMainBundle:front:sections/create.html.twig' %}
            </div>
        </form>
    </div>
</div>

{% endblock %}
