<div class="col-sm-3 hidden-xs">
    <div class="nav" data-spy="affix" data-offset-top="250" role="complementary" id="nav-sidebar">
        <ul class="nav">
            <li><a href="#vagrantfile">Vagrantfile</a></li>
            <li><a href="#server">Server Basics</a></li>
            <li><a href="#webserver">Webserver</a></li>
            <li><a href="#php">PHP</a></li>
            <li><a href="#database">Database</a></li>
            <li><a href="#create">Create</a></li>
        </ul>
    </div>
</div>
