<aside>
    <div id="sidebar" role="tabpanel">
        <ul class="sidebar-menu" role="tablist">
            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-cloud"></i>
                    <span>Deploy Target</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#vagrantfile-local" data-toggle="tab"> Locally </a></li>
                    <li><a href="#vagrantfile-rackspace" data-toggle="tab"> Rackspace </a></li>
                    <li><a href="#vagrantfile-linode" data-toggle="tab"> Linode </a></li>
                    <li><a href="#vagrantfile-softlayer" data-toggle="tab"> Softlayer </a></li>
                    <li><a href="#vagrantfile-aws" data-toggle="tab"> Amazon </a></li>
                    <li><a href="#vagrantfile-gce" data-toggle="tab"> Google </a></li>
                    <li><a href="#vagrantfile-digitalocean" data-toggle="tab"> Digital Ocean </a></li>
                    <li><a href="#vagrantfile-ikoulacloud" data-toggle="tab"> Ikoula Cloud </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span>System</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#system-packages" data-toggle="tab"> Packages </a></li>
                    <li><a href="#users-groups" data-toggle="tab"> User &amp; Groups </a></li>
                    <li><a href="#locale" data-toggle="tab"> Locale </a></li>
                    <li><a href="#firewall" data-toggle="tab"> Firewall Rules </a></li>
                    <li><a href="#cron" data-toggle="tab"> Cron Jobs </a></li>
                    <li><a href="#custom-files" data-toggle="tab"> Custom Files </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Web Servers</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#nginx" data-toggle="tab"> Nginx </a></li>
                    <li><a href="#apache" data-toggle="tab"> Apache </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-code"></i>
                    <span>Languages</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#php" data-toggle="tab"> PHP </a></li>
                    <li><a href="#ruby" data-toggle="tab"> Ruby </a></li>
                    <li><a href="#python" data-toggle="tab"> Python </a></li>
                    <li><a href="#nodejs" data-toggle="tab"> Node.js </a></li>
                    <li><a href="#hhvm" data-toggle="tab"> HHVM </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span>Databases</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#mariadb" data-toggle="tab"> MariaDB </a></li>
                    <li><a href="#mysql" data-toggle="tab"> MySQL </a></li>
                    <li><a href="#postgresql" data-toggle="tab"> PostgreSQL </a></li>
                    <li><a href="#mongodb" data-toggle="tab"> MongoDB </a></li>
                    <li><a href="#redis" data-toggle="tab"> Redis </a></li>
                    <li><a href="#sqlite" data-toggle="tab"> SQLite </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span>Mail Tools</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#mailhog" data-toggle="tab"> MailHog </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-sort-numeric-asc"></i>
                    <span>Work Queues</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#beanstalkd" data-toggle="tab"> Beanstalkd </a></li>
                    <li><a href="#rabbitmq" data-toggle="tab"> RabbitMQ </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-search"></i>
                    <span>Search Servers</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#elastic-search" data-toggle="tab"> Elastic Search </a></li>
                    <li><a href="#solr" data-toggle="tab"> Apache Solr </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#create" data-toggle="tab">
                    <i class="fa fa-magic"></i>
                    <span>Create Archive</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
