<div class="col-md-3">
    <ul id="nav-sidebar" class="nav nav-pills nav-stacked hidden-sm hidden-xs affix-top">
        <li class="active"><a href="#deploy-target" data-toggle="tab"><i class="fa fa-cloud"></i> Deploy Target</a></li>
        <li><a href="#server" data-toggle="tab"><i class="fa fa-cogs"></i> Server Packages</a></li>
        <li><a href="#firewall" data-toggle="tab"><i class="fa fa-exclamation-triangle"></i> Firewall Rules</a></li>
        <li><a href="#webserver" data-toggle="tab"><i class="fa fa-globe"></i> Webservers</a></li>
        <li><a href="#languages" data-toggle="tab"><i class="fa fa-code"></i> Languages</a></li>
        <li><a href="#database" data-toggle="tab"><i class="fa fa-tasks"></i> Databases</a></li>
        <li><a href="#work-queue" data-toggle="tab"><i class="fa fa-sort-numeric-asc"></i> Work Queues</a></li>
        <li><a href="#search-server" data-toggle="tab"><i class="fa fa-search"></i> Search Servers</a></li>
        <li><a href="#create" data-toggle="tab"><i class="fa fa-magic"></i> Create</a></li>
    </ul>
</div>
