<div class="col-sm-3 hidden-xs">
    <div id="nav-sidebar" class="nav">
        <ul class="nav">
            <li class="active"><a href="#deploy-target">Deploy Target</a>
                <p><a href="#vagrantfile-local-pill" data-tab-target="#vagrantfile-local-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        Local
                </a></p>
                <p><a href="#vagrantfile-digital_ocean-pill" data-tab-target="#vagrantfile-digital_ocean-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        Digital Ocean
                </a></p>
                <p><a href="#vagrantfile-rackspace-pill" data-tab-target="#vagrantfile-rackspace-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        Rackspace
                </a></p>
                <p><a href="#vagrantfile-aws-pill" data-tab-target="#vagrantfile-aws-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        Amazon EC2
                </a></p>
            </li>
            <li><a href="#server">Server Basics</a>
                <p><a href="#mailcatcher-pill" data-tab-target="#mailcatcher-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        MailCatcher
                </a></p>
            </li>
            <li><a href="#webserver">Webserver</a>
                <p><a href="#apache-pill" data-tab-target="#apache-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        Apache
                </a></p>
                <p><a href="#nginx-pill" data-tab-target="#nginx-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        Nginx
                </a></p>
            </li>
            <li><a href="#php">PHP</a>
                <p><a href="#php-extensions" data-tab-target="#php-extensions">
                        <span class="glyphicon"></span>
                        PHP Extensions
                </a></p>
            </li>
            <li><a href="#search-engine-extensions">Search Engine</a>
                <p><a href="#solr" data-tab-target="#search-engine-extensions">
                        <span class="glyphicon"></span>
                        Solr Extensions
                </a></p>
            </li>
            <li><a href="#database">Database</a>
                <p><a href="#mysql-pill" data-tab-target="#mysql-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        MySQL
                </a></p>
                <p><a href="#postgresql-pill" data-tab-target="#postgresql-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        PostgreSQL
                </a></p>
                <p><a href="#mariadb-pill" data-tab-target="#mariadb-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        MariaDB
                </a></p>
            </li>
            <li><a href="#nosql">NoSQL Database</a>
                <p><a href="#mongodb-pill" data-tab-target="#mongodb-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        MongoDB
                </a></p>
            </li>
            <li><a href="#work-queue">Work-Queue</a>
                <p><a href="#beanstalkd-pill" data-tab-target="#beanstalkd-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        Beanstalkd
                </a></p>
                <p><a href="#rabbitmq-pill" data-tab-target="#rabbitmq-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        RabbitMQ
                </a></p>
            </li>
            <li><a href="#search-server">Search Server</a>
                <p><a href="#elastic_search-pill" data-tab-target="#elastic_search-pill">
                        <span class="glyphicon glyphicon-check text-success active"></span>
                        Elastic Search
                </a></p>
                <p><a href="#solr-pill" data-tab-target="#solr-pill">
                        <span class="glyphicon glyphicon-check text-success"></span>
                        Apache Solr
                </a></p>
            </li>
            
            <li><a href="#create">Create</a></li>
        </ul>
    </div>
</div>
