<aside>
    <div id="sidebar" role="tabpanel">
        <ul class="sidebar-menu" role="tablist">
            <li class="sub-menu active">
                <a href="#">
                    <i class="fa fa-cloud"></i>
                    <span>Deploy Target</span>
                    <span class="menu-arrow fa fa-angle-down"></span>
                </a>
                <ul class="sub open">
                    <li class="active"><a href="#vagrantfile-local" data-toggle="tab"> Locally </a></li>
                    <li><a href="#vagrantfile-rackspace" data-toggle="tab"> Rackspace </a></li>
                    <li><a href="#vagrantfile-linode" data-toggle="tab"> Linode </a></li>
                    <li><a href="#vagrantfile-softlayer" data-toggle="tab"> Softlayer </a></li>
                    <li><a href="#vagrantfile-aws" data-toggle="tab"> Amazon </a></li>
                    <li><a href="#vagrantfile-gce" data-toggle="tab"> Google </a></li>
                    <li><a href="#vagrantfile-digitalocean" data-toggle="tab"> Digital Ocean </a></li>
                    <li><a href="#vagrantfile-ikoulacloud" data-toggle="tab"> Ikoula Cloud </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span>System</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> Packages </a></li>
                    <li><a href="#"> Firewall Rules </a></li>
                    <li><a href="#"> User &amp; Groups </a></li>
                    <li><a href="#"> Cron Jobs </a></li>
                    <li><a href="#"> Custom Files </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Web Servers</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> Apache </a></li>
                    <li><a href="#"> Nginx </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-code"></i>
                    <span>Languages</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> PHP </a></li>
                    <li><a href="#"> Ruby </a></li>
                    <li><a href="#"> Python </a></li>
                    <li><a href="#"> Node.js </a></li>
                    <li><a href="#"> HHVM </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span>Databases</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> MySQL </a></li>
                    <li><a href="#"> PostgreSQL </a></li>
                    <li><a href="#"> MongoDB </a></li>
                    <li><a href="#"> Redis </a></li>
                    <li><a href="#"> SQLite </a></li>
                    <li><a href="#"> MariaDB </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span>Mail Tools</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> MailCatcher </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-sort-numeric-asc"></i>
                    <span>Work Queues</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> Beanstalkd </a></li>
                    <li><a href="#"> RabbitMQ </a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">
                    <i class="fa fa-search"></i>
                    <span>Search Servers</span>
                    <span class="menu-arrow fa fa-angle-right"></span>
                </a>
                <ul class="sub">
                    <li><a href="#"> Elastic Search </a></li>
                    <li><a href="#"> Apache Solr </a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
