{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>PuPHPet v2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vagrant/Puppet GUI Configuration" />
        <meta name="author" content="Juan Treminio @ https://jtreminio.com" />
        <meta charset="utf-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
            <link rel="stylesheet" href="/assets/vendor/bootstrap/css/font-awesome.min.css">
            <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootswatch.css">
            <link rel="stylesheet" href="/assets/vendor/selectize.js/selectize.bootstrap3.css">
            <link rel="stylesheet" href="/assets/css/style.css">
        {% endblock %}

        {% block topJs %}
            <!--[if lt IE 9]>
            <script src="/assets/vendor/html5shiv.js"></script>
            <script src="/assets/vendor/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
{% endblock head %}

<body>

{% block topMenu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('puphpet.main.homepage') }}" class="navbar-brand">PuPHPet</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('puphpet.main.about') }}">About</a></li>
                    <li><a href="{{ path('puphpet.main.help') }}">Help!</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/puphpet/puphpet/issues" target="_blank">Issues?</a></li>
                    <li><a href="https://github.com/puphpet/puphpet" target="_blank">Fork Me</a></li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}

<div class="jumbotron well-sm" id="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 hidden-sm hidden-md hidden-lg hidden-print">
                <h1>PuPHPet</h1>

                <p>A simple GUI to set up virtual machines for <strike>PHP</strike> <strong>Web</strong> development.</p>
            </div>
            <div class="col-sm-3"><p class="text-center"><img src="/assets/img/logo.png" id="logo" /></p></div>
            <div class="col-sm-9 hidden-xs">
                <h1>PuPHPet</h1>

                <p>A simple GUI to set up virtual machines for <strike>PHP</strike> <strong>Web</strong> development.</p>
            </div>
        </div>
    </div>
</div>

{% block main %}
{% endblock %}

{% block footer %}
<div class="container">
    <footer>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <ul class="list-unstyled">
                    <li class="pull-right"><span class="icon-arrow-up"></span> <a href="#top">Back to top</a></li>
                    <li><span class="icon-pencil"></span> <a href="https://jtreminio.com">Blog</a></li>
                    <li><span class="icon-twitter"></span> <a href="https://twitter.com/juantreminio" target="_blank">Twitter</a></li>
                    <li><span class="icon-github"></span> <a href="https://github.com/puphpet/puphpet" target="_blank">GitHub</a></li>
                </ul>
                <p>
                    Made with <span class="icon-heart"></span> by <a href="https://jtreminio.com">Juan Treminio</a>.
                    Contact him at <a href="mailto:jtreminio@gmail.com">jtreminio@gmail.com</a>.
                    Code licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>

                <h4>Made possible thanks to contributions by</h4>

                <a href="https://github.com/jtreminio" class="img-thumbnail" title="Thanks, jtreminio!" target="_blank"><img src="https://2.gravatar.com/avatar/1786d63e058f7ab194f5e0dfa24ca19b?d=https%3A%2F%2Fidenticons.github.com%2Ff6105e1d97f4dccca48ebae7a8533a48.png" width="80" height="80"></a>
                <a href="https://github.com/frastel" class="img-thumbnail" title="Thanks, frastel!" target="_blank"><img src="https://1.gravatar.com/avatar/8da5c499fb1bac03b97334bd062de019?d=https%3A%2F%2Fidenticons.github.com%2F17d64bfec14ec59c1bf91620ec346cdc.png" width="80" height="80"></a>
                <a href="https://github.com/michaelperrin" class="img-thumbnail" title="Thanks, michaelperrin!" target="_blank"><img src="https://1.gravatar.com/avatar/c9b09af5c83e1a9150ad53012f7fe2e1?d=https%3A%2F%2Fidenticons.github.com%2Fb3e6228486ade414cb1422d17a378859.png" width="80" height="80"></a>
                <a href="https://github.com/Aristona" class="img-thumbnail" title="Thanks, Aristona!" target="_blank"><img src="https://1.gravatar.com/avatar/d1f7db365405e60e1df137d4280ccfa1?d=https%3A%2F%2Fidenticons.github.com%2F4640e0b80adf0982670782704c80d20b.png" width="80" height="80"></a>
                <a href="https://github.com/hexmode" class="img-thumbnail" title="Thanks, hexmode!" target="_blank"><img src="https://2.gravatar.com/avatar/a6d8be203bb9da491bbdce177fea43eb?d=https%3A%2F%2Fidenticons.github.com%2F2fefdc64cea4bfeacce657d0465e6eb5.png" width="80" height="80"></a>
                <a href="https://github.com/staabm" class="img-thumbnail" title="Thanks, staabm!" target="_blank"><img src="https://1.gravatar.com/avatar/a40b83540078e11fab32334db9770b84?d=https%3A%2F%2Fidenticons.github.com%2Fd6ed8ed2c8597db6ea3a5304bd8ef933.png" width="80" height="80"></a>
                <a href="https://github.com/pborreli" class="img-thumbnail" title="Thanks, pborreli!" target="_blank"><img src="https://0.gravatar.com/avatar/5c299a02c11ce797f20df385f560a16a?d=https%3A%2F%2Fidenticons.github.com%2Feedad495d6af63b2a3e13cfd104f252e.png" width="80" height="80"></a>
                <a href="https://github.com/yearofthegus" class="img-thumbnail" title="Thanks, yearofthegus!" target="_blank"><img src="https://1.gravatar.com/avatar/6f674efea9b2371a3f210ee714b115d2?d=https%3A%2F%2Fidenticons.github.com%2Ff8ff283daccac2f64be286477dc9d61f.png" width="80" height="80"></a>
                <a href="https://github.com/tonicospinelli" class="img-thumbnail" title="Thanks, tonicospinelli!" target="_blank"><img src="https://0.gravatar.com/avatar/8d3e64edd4a73c7053097cdcef18468b?d=https%3A%2F%2Fidenticons.github.com%2Fa34c54ac57b923d1a2510307366a0f3e.png" width="80" height="80"></a>
                <a href="https://github.com/ericcholis" class="img-thumbnail" title="Thanks, ericcholis!" target="_blank"><img src="https://0.gravatar.com/avatar/44c2788e958d97527e1ce3b59eef34b7?d=https%3A%2F%2Fidenticons.github.com%2F2abe2f9864ee5a6bd4eb473355072dbd.png" width="80" height="80"></a>
                <a href="https://github.com/fdob" class="img-thumbnail" title="Thanks, fdob!" target="_blank"><img src="https://1.gravatar.com/avatar/69f461bc6de31fd7d992c79ba6712343?d=https%3A%2F%2Fidenticons.github.com%2F7ae712655af5b2561e6ab8fbf578b75f.png" width="80" height="80"></a>
                <a href="https://github.com/atukai" class="img-thumbnail" title="Thanks, atukai!" target="_blank"><img src="https://2.gravatar.com/avatar/6dde06665c70e6449bed0c70d77647e5?d=https%3A%2F%2Fidenticons.github.com%2F27f4110eefaaf01b95c21f5253401c41.png" width="80" height="80"></a>
                <a href="https://github.com/JCook21" class="img-thumbnail" title="Thanks, JCook21!" target="_blank"><img src="https://1.gravatar.com/avatar/6eda92800a2acae278acc8a415f95e01?d=https%3A%2F%2Fidenticons.github.com%2F275a83d1134fe616af7b7030fa313e6b.png" width="80" height="80"></a>
                <a href="https://github.com/jimlind" class="img-thumbnail" title="Thanks, jimlind!" target="_blank"><img src="https://2.gravatar.com/avatar/a90adb834d6a2ec39f89fc26849c1d52?d=https%3A%2F%2Fidenticons.github.com%2F87cd0a135e058e434d05d59f7c8a21c5.png" width="80" height="80"></a>
                <a href="https://github.com/johnkary" class="img-thumbnail" title="Thanks, johnkary!" target="_blank"><img src="https://0.gravatar.com/avatar/d3e3f4ac37c02289f5dfed115949fc88?d=https%3A%2F%2Fidenticons.github.com%2Fcf9f2a8e69c61488d72a051495621d5f.png" width="80" height="80"></a>
                <a href="https://github.com/jrobeson" class="img-thumbnail" title="Thanks, jrobeson!" target="_blank"><img src="https://2.gravatar.com/avatar/4b7a47cc55aa8964529a2f9f1ced7aea?d=https%3A%2F%2Fidenticons.github.com%2Fbc0ac5fa34748484ef7fc4c4620700e4.png" width="80" height="80"></a>
                <a href="https://github.com/beryllium" class="img-thumbnail" title="Thanks, beryllium!" target="_blank"><img src="https://0.gravatar.com/avatar/e5190d432c74c75ddceb52a64f1c998a?d=https%3A%2F%2Fidenticons.github.com%2Ffdd2243938e233390b7633fef3011207.png" width="80" height="80"></a>
                <a href="https://github.com/markwilson" class="img-thumbnail" title="Thanks, markwilson!" target="_blank"><img src="https://0.gravatar.com/avatar/38c660c3666ee274f8edd709432f4076?d=https%3A%2F%2Fidenticons.github.com%2Faaa5793ccc11db58d2d9df2af8a7d17d.png" width="80" height="80"></a>
                <a href="https://github.com/invalid-email-address" class="img-thumbnail" title="Thanks, invalid-email-address!" target="_blank"><img src="https://2.gravatar.com/avatar/4fca794da0cf08804f99048d3c8b39c1?d=https%3A%2F%2Fidenticons.github.com%2Fd116649d9423389df5d1cfd5b0851410.png" width="80" height="80"></a>
                <a href="https://github.com/patrickli" class="img-thumbnail" title="Thanks, patrickli!" target="_blank"><img src="https://1.gravatar.com/avatar/9f903010c168976486c8361748d18717?d=https%3A%2F%2Fidenticons.github.com%2F7c1f3f289a7ac58896a1b6290f88b52e.png" width="80" height="80"></a>
                <a href="https://github.com/ricog" class="img-thumbnail" title="Thanks, ricog!" target="_blank"><img src="https://2.gravatar.com/avatar/c25d83ed5f41c4017e3e718f99347f76?d=https%3A%2F%2Fidenticons.github.com%2Fe77c7b588569860fddcbe6e3d528295d.png" width="80" height="80"></a>
                <a href="https://github.com/rogeriopradoj" class="img-thumbnail" title="Thanks, rogeriopradoj!" target="_blank"><img src="https://1.gravatar.com/avatar/fa0b13702afa64fedd14770fa87dd1fa?d=https%3A%2F%2Fidenticons.github.com%2Fcb950195812776d376eecac37a7ecb4e.png" width="80" height="80"></a>
            </div>
        </div>
    </footer>
</div>

    {% block footerJs %}
        <script src="/assets/vendor/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/vendor/selectize.js/selectize.min.js"></script>
        <script src="/assets/js/custom.js"></script>
    {% endblock footerJs %}
</body>
</html>
{% endblock footer %}
