<div class="col col-lg-3 sidebar-container">
    <div class="bs-sidebar">
        <ul class="nav bs-sidenav">
            <li>
                <a href="/quickstart/puphpet"><img class="svgIcon"
                                                   src="/assets/img/noun-project/box.svg"/>PuPHPet</a>
            </li>
            <li>
                <a href="/quickstart/symfony"><img class="svgIcon"
                                                   src="/assets/img/noun-project/box.svg"/>Symfony</a>
            </li>
        </ul>
    </div>
</div>