<h3>DigitalOcean Droplet</h3>

<p>Don't have a DigitalOcean account?
    <a href="https://www.digitalocean.com/?refcode=475274cc0939">Click here to create one</a>
    (affiliate link - help support this free service)!
</p>

<p>
    Login to DigitalOcean and <a href="https://www.digitalocean.com/api_access" target="_blank">go to the API page</a>.
    You will need a Client ID and API Key.
</p>

<h3>Installation Requirements</h3>

<p>Run the following commands from your terminal (not within the VM):</p>
<p>
    <code>
        $ vagrant plugin install vagrant-digitalocean<br />
        $ vagrant box add digital_ocean https://puphpet.com/assets/box/digital_ocean.box
    </code>
</p>

<p>If you are on a Mac, you also need to run:</p>
<p>
    <code>
        $ brew install curl-ca-bundle<br />
        $ echo export SSL_CERT_FILE=/usr/local/opt/curl-ca-bundle/share/ca-bundle.crt >> ~/.bash_profile
    </code>
</p>

<h3>Running Vagrant</h3>

<p>Instead of running <code>$ vagrant up</code>, you will need to run <code>$ vagrant up --provider=digital_ocean</code></p>

<input type="hidden" name="provider[digitalocean][name]" value="puphpet_digitalocean" />

<div class="bs-example os">
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-digitalocean-image" name="provider[digitalocean][image]"
               value="Debian 7.0 x64" rel="debian" />
        Debian Squeeze 7.0 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-digitalocean-image" name="provider[digitalocean][image]"
               value="Debian 6.0 x64" rel="debian" />
        Debian Wheezy 6.0 x64
        (PHP <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>

    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-digitalocean-image" name="provider[digitalocean][image]"
               value="Ubuntu 13.04 x64" rel="ubuntu" />
        Ubuntu Raring 13.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-digitalocean-image" name="provider[digitalocean][image]"
               value="Ubuntu 12.10 x64" rel="ubuntu" />
        Ubuntu Quantal 12.10 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-digitalocean-image" name="provider[digitalocean][image]"
               value="Ubuntu 12.04 x64" rel="ubuntu" />
        Ubuntu Precise 12.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>
</div>

<div class="bs-example digitalOceanProvider">
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-digitalocean-size">Box Size</label>
            <select id="provider-digitalocean-size" name="provider[digitalocean][size]">
                <option value="512MB">512MB / 1 CPU / 20GB SSD DISK / 1TB TRANSFER</option>
                <option value="1GB" selected>1GB / 1 CPU / 30GB SSD DISK / 2TB TRANSFER</option>
                <option value="2GB">2GB / 2 CPUS / 40GB SSD DISK / 3TB TRANSFER</option>
                <option value="4GB">4GB / 2 CPUS / 60GB SSD DISK / 4TB TRANSFER</option>
                <option value="8GB">8GB / 4 CPUS / 80GB SSD DISK / 5TB TRANSFER</option>
                <option value="16GB">16GB / 8 CPUS / 160GB SSD DISK / 6TB TRANSFER</option>
                <option value="32GB">32GB / 12 CPUS / 320GB SSD DISK / 7TB TRANSFER</option>
                <option value="48GB">48GB / 16 CPUS / 480GB SSD DISK / 8TB TRANSFER</option>
                <option value="64GB">64GB / 20 CPUS / 640GB SSD DISK / 9TB TRANSFER</option>
                <option value="96GB">96GB / 24 CPUS / 960GB SSD DISK / 10TB TRANSFER</option>
            </select>
        </div>

        <div class="col col-lg-5">
            <label for="provider-digitalocean-region">Box Region</label>
            <select id="provider-digitalocean-region" name="provider[digitalocean][region]">
                <option value="New York 1" selected>New York 1</option>
                <option value="New York 2">New York 2</option>
                <option value="Amsterdam 1">Amsterdam</option>
                <option value="San Francisco 1">San Francisco</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-digitalocean-client_id">Client ID</label>
             <input id="provider-digitalocean-client_id" name="provider[digitalocean][client_id]"
                    type="text" required value="DIGITAL_OCEAN_CLIENT_ID" />
            <p class="help-block"><a href="https://www.digitalocean.com/api_access" target="_blank">Get it here</a></p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-digitalocean-api_key">API Key</label>
             <input id="provider-digitalocean-api_key" name="provider[digitalocean][api_key]"
                    type="text" required value="DIGITAL_OCEAN_API_KEY" />
            <p class="help-block"><a href="https://www.digitalocean.com/api_access" target="_blank">Get it here</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-digitalocean-private_key">Private Key</label>
             <input id="provider-digitalocean-private_key" name="provider[digitalocean][private_key]"
                    type="text" required value="~/.ssh/id_rsa" />
            <p class="help-block">
                The DigitalOcean VM will not be accessible without your private/public key.
            </p>
        </div>
    </div>
</div>

<div class="bs-example sharedFolders">
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-digitalocean-synced_folder-source">Box Sync Folder Source</label>
             <input id="provider-digitalocean-synced_folder-source" name="provider[digitalocean][synced_folder][source]" type="text"
                    required placeholder="/path/to/your/web/files" value="./" />
        </div>

        <div class="col col-lg-5">
            <label for="provider-digitalocean-synced_folder-target">Box Sync Folder Target</label>
            <input id="provider-digitalocean-synced_folder-target" name="provider[digitalocean][synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www" />
        </div>
    </div>

    <p class="help-block">
        Will use <code>rsync</code> to copy files to remote server on <code>$ vagrant up</code>.
        Once server is running, to push new file changes remotely you will need to run
        <code>$ vagrant provision</code>. Now may be a good time to work out your deployment strategy.
    </p>
</div>
