<div class="bs-example os">
    <p class="help-block">
        Choose the operating system you wish to run. The defaults will be downloaded on your first
        run from the official vagrantup.com website.
        <a href="http://docs.vagrantup.com/v2/getting-started/boxes.html">More information may be found here.</a>
    </p>

    <label class="radio min-span-4">
        <input type="radio" class="provider-local-url" rel="debian|wheezy64" name="provider[local][url]"
               value="http://puppet-vagrant-boxes.puppetlabs.com/debian-70rc1-x64-vbox4210.box" checked />
        Debian Wheezy 7.0rc1 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-local-url" rel="debian|squeeze64" name="provider[local][url]"
               value="http://puppet-vagrant-boxes.puppetlabs.com/debian-607-x64-vbox4210.box" />
        Debian Squeeze 6.0.7 x64
        (PHP <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>

    <label class="radio min-span-4">
        <input type="radio" class="provider-local-url" rel="ubuntu|precise64" name="provider[local][url]"
               value="http://files.vagrantup.com/precise64.box" />
        Ubuntu Precise 12.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-local-url" rel="ubuntu|lucid64" name="provider[local][url]"
               value="http://files.vagrantup.com/lucid64.box" />
        Ubuntu Lucid 10.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>
</div>

<div class="bs-example localProvider">
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-local-name">Vagrant Box Name</label>
            <input id="provider-local-name" name="provider[local][name]" type="text" required placeholder="awesomeBox"
                   value="wheezy64" />
            <p class="help-block">
                The internal name of the Vagrant base box.
                Using supported base boxes you do not have to modify this value.
            </p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-local-custom-name">Name Your Box</label>
            <input id="provider-local-custom-name" name="provider[local][personal_name]" type="text" required placeholder="my-first-box"
                   value="my-first-box" />
            <p class="help-block">Your personal name for the box. Should be unique to your system</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-local-ip">Box IP Address</label>
            <input id="provider-local-ip" name="provider[local][ip]" type="text" required placeholder="192.168.56.101"
                   value="192.168.56.101" />
            <p class="help-block">IP address to use for accessing the VM</p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-local-memory">Box Memory</label>
            <input id="provider-local-memory" name="provider[local][memory]" type="text" required placeholder="1024"
                   value="1024" />
            <p class="help-block">Memory to assign to VM in megabytes (only integers)</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-local-host-port">Host Port</label>
            <input id="provider-local-host-port"
                   name="provider[local][port_forward][host]"
                   type="number"
                   placeholder="Port on the host OS to forward to the VM (e.g. 8080)"
                   pattern="^[1-9][0-9]*$"
                   title="Port on the host OS to forward to the VM (e.g. 8080)"
                    />
            <p class="help-block">
                Port on the host OS to forward to the VM. Optional,
                <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html" target="_blank">more information</a>
            </p>
        </div>
        <div class="col col-lg-5">
            <label for="provider-local-guest-port">Box Port</label>
            <input id="provider-local-guest-port"
                   name="provider[local][port_forward][guest]"
                   type="number"
                   placeholder="Port on the host OS to forward to the VM (e.g. 80)"
                   pattern="^[1-9][0-9]*$"
                   title="Port on the host OS to forward to the VM (e.g. 80)"
                    />
            <p class="help-block">
                Port on the host OS to forward to the VM. Optional,
                <a href="http://docs.vagrantup.com/v2/networking/forwarded_ports.html" target="_blank">more information</a>
            </p>
        </div>
    </div>
</div>

<div class="bs-example sharedFolders">
    <label>Shared Folder Type</label>
    <div>
        <label class="radio-inline">
            <input type="radio" name="provider[local][foldertype]" value="default" checked /> Default
        </label>
        <label class="radio-inline">
            <input type="radio" name="provider[local][foldertype]" value="nfs" /> NFS
        </label>
        <p class="help-block">Windows users should choose the Default option</p>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-local-synced_folder-source">Box Sync Folder Source</label>
             <input id="provider-local-synced_folder-source" name="provider[local][synced_folder][source]" type="text"
                    required placeholder="/path/to/your/web/files" value="./" />
            <p class="help-block">Path your files are stored on host machine</p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-local-synced_folder-target">Box Sync Folder Target</label>
            <input id="provider-local-synced_folder-target" name="provider[local][synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www" />
            <p class="help-block">Path the VM will see your files in</p>
        </div>
    </div>
</div>
