<h3>Rackspace Instance</h3>

<p>
    Login to Rackspace and <a href="https://manage.rackspacecloud.com/APIAccess.do" target="_blank">go to the API page</a>.
    You will need an API Key.
</p>

<h3>Installation Requirements</h3>

<p>Run the following commands from your terminal (not within the VM):</p>
<p>
    <code>
        $ vagrant plugin install vagrant-rackspace<br />
        $ vagrant box add rackspace https://puphpet.com/assets/box/rackspace.box<br />
    </code>
</p>

<p>If you are on a Mac or Linux PC:</p>
<p>
    <code>
        $ rm -rf "~/.vagrant.d/gems/gems/vagrant-rackspace-0.1.1" &&
          git clone https://github.com/puphpet/vagrant-rackspace.git "~/.vagrant.d/gems/gems/vagrant-rackspace-0.1.1"
    </code>
</p>

<p>If you are on Windows:</p>
<p>
    <code>
        $ rmdir /s /q "%userprofile%/.vagrant.d/gems/gems/vagrant-rackspace-0.1.1" &&
          git clone https://github.com/puphpet/vagrant-rackspace.git "%userprofile%/.vagrant.d/gems/gems/vagrant-rackspace-0.1.1"
    </code>
</p>

<p>If you are on a Mac, you also need to run:</p>
<p>
    <code>
        $ brew install curl-ca-bundle<br />
        $ echo export SSL_CERT_FILE=/usr/local/opt/curl-ca-bundle/share/ca-bundle.crt >> ~/.bash_profile
    </code>
</p>

<h3>Running Vagrant</h3>

<p>Instead of running <code>$ vagrant up</code>, you will need to run <code>$ vagrant up --provider=rackspace</code></p>

<input type="hidden" name="provider[rackspace][name]" value="puphpet_rackspace" />

<div class="bs-example os">
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-rackspace-image" name="provider[rackspace][image]"
               value="Debian 7 (Wheezy)" rel="debian" />
        Debian Squeeze 7 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-rackspace-image" name="provider[rackspace][image]"
               value="Debian 6.06 (Squeeze)" rel="debian" />
        Debian Wheezy 6.06 x64
        (PHP <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>

    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-rackspace-image" name="provider[rackspace][image]"
               value="Ubuntu 13.04 (Raring Ringtail)" rel="ubuntu" />
        Ubuntu Raring 13.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-rackspace-image" name="provider[rackspace][image]"
               value="Ubuntu 12.10 (Quantal Quetzal)" rel="ubuntu" />
        Ubuntu Quantal 12.10 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span>)
    </label>
    <label class="radio min-span-4">
        <input type="radio" class="provider-remote-osname provider-rackspace-image" name="provider[rackspace][image]"
               value="Ubuntu 12.04 LTS (Precise Pangolin)" rel="ubuntu" />
        Ubuntu Precise 12.04 x64
        (PHP <span class="label label-success">5.5</span> <span class="label label-info">5.4</span> <span class="label label-warning">5.3</span>)
    </label>
</div>

<div class="bs-example rackspaceProvider">
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-name">Server Name</label>
            <input id="provider-rackspace-name" name="provider[rackspace][name]" type="text" required
                   placeholder="rackspace-server" value="rackspace-server" />
            <p class="help-block">
                Name your Rackspace server as it will appear in the Rackspace Control Panel
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-size">Box Memory</label>
            <select id="provider-rackspace-size" name="provider[rackspace][size]">
                <option value="512MB" selected>512MB</option>
                <option value="1GB">1GB</option>
                <option value="2GB">2GB</option>
                <option value="4GB">4GB</option>
                <option value="8GB">8GB</option>
            </select>
        </div>

        <div class="col col-lg-5">
            <label for="provider-rackspace-region">Box Region</label>
            <select id="provider-rackspace-region" name="provider[rackspace][region]">
                <option value="DFW" selected>Dallas (DFW)</option>
                <option value="ORD">Chicago (ORD)</option>
                <option value="SYD">Sydney (SYD)</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-username">Rackspace Username</label>
             <input id="provider-rackspace-username" name="provider[rackspace][username]"
                    type="text" required value="RACKSPACE_USERNAME" />
            <p class="help-block">Your Rackspace login</p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-rackspace-api_key">API Key</label>
             <input id="provider-rackspace-api_key" name="provider[rackspace][api_key]"
                    type="text" required value="RACKSPACE_API_KEY" />
            <p class="help-block"><a href="https://manage.rackspacecloud.com/APIAccess.do" target="_blank">Get it here</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-private_key">Private Key</label>
             <input id="provider-rackspace-private_key" name="provider[rackspace][private_key]"
                    type="text" required value="~/.ssh/id_rsa" />
            <p class="help-block">
                The Rackspace VM will not be accessible without your private key.
            </p>
        </div>

        <div class="col col-lg-5">
            <label for="provider-rackspace-public_key">Public Key</label>
             <input id="provider-rackspace-public_key" name="provider[rackspace][public_key]"
                    type="text" required value="~/.ssh/id_rsa.pub" />
            <p class="help-block">
                The Rackspace VM will not be accessible without your public key.
            </p>
        </div>
    </div>
</div>

<div class="bs-example sharedFolders">
    <div class="row">
        <div class="col col-lg-5">
            <label for="provider-rackspace-synced_folder-source">Box Sync Folder Source</label>
             <input id="provider-rackspace-synced_folder-source" name="provider[rackspace][synced_folder][source]" type="text"
                    required placeholder="/path/to/your/web/files" value="./" />
        </div>

        <div class="col col-lg-5">
            <label for="provider-rackspace-synced_folder-target">Box Sync Folder Target</label>
            <input id="provider-rackspace-synced_folder-target" name="provider[rackspace][synced_folder][target]" type="text"
                   required placeholder="/path/on/vm" value="/var/www" />
        </div>
    </div>

    <p class="help-block">
        Will use <code>rsync</code> to copy files to remote server on <code>$ vagrant up</code>.
        Once server is running, to push new file changes remotely you will need to run
        <code>$ vagrant provision</code>. Now may be a good time to work out your deployment strategy.
    </p>
</div>
