<fieldset>
    <legend>MySQL</legend>
    <div class="row">
        <div class="col col-lg-6 min-span-6">
            <label class="checkbox-inline" for="mysql-phpmyadmin">Install phpMyAdmin</label>
            <label class="checkbox-inline">
                <input type="checkbox" id="mysql-phpmyadmin" name="mysql[phpmyadmin]" value="1" checked="checked"/>
                Yes
            </label>

            <p class="help-block">If installed it will be available from <a
                        href="http://phpmyadmin">http://phpmyadmin</a></p>
        </div>
    </div>
</fieldset>
