<fieldset>
    <legend>Drush Options</legend>

    <div class="form-group col-xs-12">
        <div class="help-text">
            <p><a href="http://drush.ws/" target="_blank">Drush</a> will be available as a
                system service:</p>
            <p><code>$ drush</code></p>
        </div>
        <label for="drush-version">Choose Version</label>
        <select id="drush-version"
               name="drush[version]"
               class="form-control select-tag-editable">
            {% if drush.version is defined %}
                <option value="{{ drush.version }}" selected>{{ drush.version }}</option>
            {% endif %}

            {% for version in drush.available.versions %}
                {% if version != drush.version %}
                    <option value="{{ version }}">{{ version }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</fieldset>
