{% extends 'Front/layout.html.twig' %}

{% block container %}
    {{ parent() }}

    <div class="row">
        <div class="page-header">
            <h1>What's all this about then?</h1>
        </div>
    </div>
{% endblock %}
