{% for contributor in contributors %}
    <a href="{{ contributor.html_url }}" class="img-thumbnail" title="Thanks, {{ contributor.login }}!" target="_blank"><img
            src="{{ contributor.avatar_url }}" width="80" height="80" /></a>
{% endfor %}
