{% extends 'Front/layout.html.twig' %}

{% block container %}
    {{ parent() }}

    <div class="row">
        <div class="page-header">
            <h1>PuPHPet</h1>
        </div>

        <div class="span6">
            <h3>What is this?</h3>

            <p>
                PuPHPet is for rapid generation of Vagrant VMs provisioned by Puppet, specifically made for those that
                don't have the time or interest in learning the details.
            </p>

            <p>
                The idea came to me when I was struggling to get from no previous Vagrant/Puppet knowledge to simply
                having a running VM I could start developing on. Why should I need to learn the ins and outs when
                all I want to do is faceroll more code?
            </p>
        </div>

        <div class="span6">
            <h3>Who is it for?</h3>

            <p>
                This is aimed at PHP developers that do not have the time or inclination to learn a whole new system.
                You want to get started programming on an easily managed VM quickly, with as little fuss as possible.
            </p>

            <p>
                This is not meant to be used in production. The choices are limited by design, I will probably only
                ever focus on the official Vagrant Ubuntu boxes, and as of right now you cannot choose specific
                versions of packages to install, only the latest of each.
            </p>
        </div>
    </div>

    <form class="form-horizontal">
        <div class="row">
            <div class="page-header">
                <h1>Get Started!</h1>
            </div>

                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#vagrantBox" data-toggle="tab">Vagrant Box</a></li>
                        <li><a href="#serverBasics" data-toggle="tab">Server Basics</a></li>
                        <li><a href="#apache" data-toggle="tab">Apache Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="vagrantBox">
                            {% include 'Front/Tabs/vagrantBox.html.twig' %}
                        </div>
                        <div class="tab-pane" id="serverBasics">
                            {% include 'Front/Tabs/server.html.twig' %}
                        </div>
                        <div class="tab-pane" id="apache">
                            {% include 'Front/Tabs/apache.html.twig' %}
                        </div>
                    </div>
                </div>

        </div>

        <div class="row">
            <div class="span3 offset6"><a class="btn btn-warning btn-large" href="#">Reset</a></div>
            <div class="span3"><a class="btn btn-primary btn-large" href="#">Primary</a></div>
        </div>
    </form>
{% endblock %}
