{% extends 'Front/layout.html.twig' %}

{% block bodyClass %}index{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="container bs-docs-container">
        <div class="row">
            {% block sidemenu %}
                <div class="col col-lg-3 sidebar-container">
                    <div class="bs-sidebar">
                        <ul class="nav bs-sidenav">
                            <li>
                                <a href="#vagrant"><img class="svgIcon" src="/assets/img/noun-project/box.svg" />Vagrant</a>
                            </li>
                            <li>
                                <a href="#server"><img class="svgIcon" src="/assets/img/noun-project/bash.svg" />Server OS</a>
                            </li>
                            <li>
                                <a href="#webserver"><img class="svgIcon" src="/assets/img/noun-project/network.svg" />HTTP</a>
                            </li>
                            <li>
                                <a href="#php"><img class="svgIcon" src="/assets/img/noun-project/php.svg" />PHP</a>
                            </li>
                            <li>
                                <a href="#database"><img class="svgIcon" src="/assets/img/noun-project/database.svg" />Database</a>
                            </li>
                            <li>
                                <a href="#create"><img class="svgIcon" src="/assets/img/noun-project/checkerdflag.svg" />Create</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endblock %}

            <div class="col col-lg-9 content-container">
                <form class="form-horizontal" action="/create" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="bs-docs-section" id="vagrant">{% include 'Front/Tabs/vagrantBox.html.twig' %}</div>
                    <div class="bs-docs-section" id="server">{% include 'Front/Tabs/server.html.twig' %}</div>
                    <div class="bs-docs-section" id="webserver">{% include 'Front/Tabs/webserver.html.twig' %}</div>
                    <div class="bs-docs-section" id="php">{% include 'Front/Tabs/php.html.twig' %}</div>
                    <div class="bs-docs-section" id="database">{% include 'Front/Tabs/database.html.twig' %}</div>
                    <div class="bs-docs-section" id="create">{% include 'Front/Tabs/create.html.twig' %}</div>

                    <input type="hidden" name="webserver" value="apache" />
                    <input type="hidden" name="database" value="mysql" />
                </form>
            </div>
        </div>

        <a href="#" class="bs-top">Back to top</a>
    </div>
{% endblock %}
