<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
        <meta charset="utf-8" />
        <title>PuPHPet - Online GUI configurator for Puppet &amp; Vagrant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vagrant/Puppet GUI Configuration" />
        <meta name="author" content="Juan Treminio" />

        {% block css %}
            <link href="/assets/vendor/bootswatch/cerulean/bootstrap.min.css" rel="stylesheet" />
            <link href="/assets/vendor/select2/select2.css" rel="stylesheet"/>
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
            </style>
            <link href="/assets/vendor/select2-bootstrap-css/select2-bootstrap.css" rel="stylesheet" />
            <link href="/assets/css/style.css" rel="stylesheet" />
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="/assets/vendor/html5shiv/html5shiv.js"></script>
        <![endif]-->
    </head>
{% endblock %}

<body>
{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">PuPHPet</a>

                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li {% if currentPage is null or currentPage == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if currentPage == 'help' %}class="active"{% endif %}><a href="/help">Help!</a></li>
                        <li {% if currentPage == 'about' %}class="active"{% endif %}><a href="/about">About</a></li>
                        <li><a href="https://jtreminio.com/contact/" target="_blank">Contact</a></li>
                        <li><a href="https://github.com/jtreminio/puphpet" target="_blank">Fork Me</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% block footerJs %}
        <script src="/assets/vendor/jquery/jquery.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap-affix.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/assets/vendor/select2/select2.js"></script>
        <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="/assets/js/custom.js"></script>
    {% endblock %}
{% endblock %}
</body>
</html>
