<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
    <meta charset="utf-8">
    <title>PuPHPet - Online GUI configurator for Puppet &amp; Vagrant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vagrant/Puppet GUI Configuration" />
    <meta name="author" content="Juan Treminio @ https://jtreminio.com" />

    {% block css %}
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/docs.css" rel="stylesheet">
        <link href="/assets/css/pygments-manni.css" rel="stylesheet">
        <link href="/assets/js/select2/select2.css" rel="stylesheet"/>
        <link href="/assets/js/select2-bootstrap.css" rel="stylesheet" />
        <link href="/assets/css/style.css" rel="stylesheet" />
    {% endblock %}

    <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->
    </head>
{% endblock %}

<body data-spy="scroll" data-target=".bs-sidebar" class="{% block bodyClass %}{% endblock %}">

{% block topMenu %}
<div class="navbar navbar-fixed-top bs-docs-nav">
    <div class="container">
        <a href="/" class="navbar-brand">PuPHPet</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if currentPage == 'help' %}class="active"{% endif %}><a href="/help">Help!</a></li>
                <li {% if currentPage == 'about' %}class="active"{% endif %}><a href="/about">About</a></li>
                <li><a href="https://jtreminio.com/contact">Contact</a></li>
                <li><a href="https://github.com/puphpet/puphpet" target="_blank">Fork Me</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block headerText %}
<div class="bs-header">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 logo-container">
                <img src="/assets/img/logo.png" id="logo" />
                <div class="text-slogan">
                    <h1>PuPHPet</h1>
                    <p>A simple GUI to set up virtual machines for PHP development</p>
                </div>
            </div>

            <div class="col col-lg-2 carbon-container">
                <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "//engine.carbonads.com/z/50016/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    {% block container %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <div class="clearfix"></div>

    <footer class="bs-footer">
        <div class="bs-social">
            <ul class="bs-social-buttons">
                <li>
                    <iframe class="github-btn" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"
                            src="/github-btn?user=puphpet&repo=puphpet&type=watch&count=true"></iframe>
                </li>
                <li>
                    <iframe class="github-btn" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"
                            src="/github-btn?user=puphpet&repo=puphpet&type=fork&count=true"></iframe>
                </li>
            </ul>
        </div>

        <div class="row">
            <div id="contributors" class="col"></div>
        </div>
    </footer>

    {% block footerJs %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/holder/holder.js"></script>
        <script src="/assets/js/jquery.smooth-scroll.min.js"></script>
        <script src="/assets/js/select2/select2.js"></script>
        <script src="/assets/js/bootstrap-multiselect.js"></script>
        <script src="/assets/js/custom.js"></script>
        {% if not app.debug %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-29873536-2', 'puphpet.com');
                ga('send', 'pageview');
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
</body>
</html>
