<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
        <meta charset="utf-8" />
        <title>PuPHPet - Online GUI configurator for Puppet &amp; Vagrant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vagrant/Puppet GUI Configuration" />
        <meta name="author" content="Juan Treminio" />

        {% block css %}
            <link href="/assets/vendor/bootswatch/cerulean/bootstrap.min.css" rel="stylesheet" />
            <link href="/assets/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
            <link href="/assets/vendor/select2/select2.css" rel="stylesheet"/>
            <link href="/assets/vendor/select2-bootstrap/select2-bootstrap.css" rel="stylesheet" />
            <link href="/assets/css/style.css" rel="stylesheet" />
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="/assets/vendor/html5shiv/html5shiv.js"></script>
        <![endif]-->
    </head>
{% endblock %}

<body class="bodyPadded">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">PuPHPet</a>

            <div class="nav-collapse collapse" id="main-menu">
                <ul class="nav" id="main-menu-left">
                    <li {% if currentPage is null or currentPage == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if currentPage == 'help' %}class="active"{% endif %}><a href="/help">Help!</a></li>
                    <li {% if currentPage == 'about' %}class="active"{% endif %}><a href="/about">About</a></li>
                </ul>
                <ul class="nav pull-right" id="main-menu-right">
                    <li><a href="https://jtreminio.com/contact/" target="_blank">Contact</a></li>
                    <li><a href="https://github.com/jtreminio/puphpet" target="_blank">Fork Me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% block body %}
    {% block container %}
    {% endblock %}
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        PuPHPet
    </div>
</footer>
    {% block footerJs %}
        <script src="/assets/vendor/jquery/jquery.js"></script>
        <script src="/assets/vendor/jquery/jquery.smooth-scroll.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap-affix.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap-tab.js"></script>
        <script src="/assets/vendor/select2/select2.js"></script>
        <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-29873536-2', 'puphpet.com');
          ga('send', 'pageview');
        </script>
    {% endblock %}
{% endblock %}
</body>
</html>
