<input type="hidden" name="mailhog[install]" value="0" />

<div class="field-container">
    <div class="form-group">
        <label class="col-xs-12 radio-tile">
            <input type="checkbox" name="mailhog[install]" value="1"
                   class="invisible toggle-on-select"
                   {% if mailhog.install %}checked{% endif %}
                   data-vis-toggle-target="#mailhog-container" />
            <span class="content">
                <span class="header large">
                    <i class="icon"></i>
                    <span class="title">Install MailHog</span>
                </span>
                <span class="footer">
                    Web and API based SMTP testing
                </span>
            </span>
        </label>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="mailhog-container" class="{% if not mailhog.install %}hidden{% endif %}">
        <div class="form-group col-xs-12">
            <div class="help-text">
                <p>Minimum port number is <code>1000</code>.</p>
            </div>
            <label for="mailhog-settings-http_port">HTTP Port</label>
            <input type="number" id="mailhog-settings-http_port"
                   name="mailhog[settings][http_port]"
                   placeholder="1080" class="form-control"
                   value="{{ mailhog.settings.http_port }}" />
        </div>

        <div class="help-block col-xs-12">
            <p>MailHog will be available at
                <code>http://{SERVER_IP_ADDRESS}:{HTTP_PORT}</code></p>
            <p>It is highly recommended <strong>not</strong> installing
                MailHog on production servers.</p>
        </div>
    </div>

    <div class="clearfix"></div>

    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="#sqlite"><span aria-hidden="true">&larr;</span> SQLite</a></li>
            <li class="next">
                <a href="#beanstalkd">Beanstalkd <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
