install: 0

settings:
    sendfile: 0

modules:
    - proxy_fcgi
    - rewrite

vhosts:
    -
        servername: awesome.dev
        serveraliases:
            - www.awesome.dev
        docroot: /var/www/awesome
        port: 80
        setenv:
            - APP_ENV dev
        setenvif:
            - 'Authorization "(.*)" HTTP_AUTHORIZATION=$1'
        custom_fragment: ~
        directories:
            -
                provider: directory
                path: /var/www/awesome
                options:
                    - Indexes
                    - FollowSymlinks
                    - MultiViews
                allow_override:
                    - All
                require:
                    - all granted
                files_match:
                    -
                        provider: filesmatch
                        path: '\.php$'
                        sethandler: 'proxy:fcgi://127.0.0.1:9000'
                        custom_fragment: ''
                custom_fragment: ''
        ssl: 0
        ssl_cert: ~
        ssl_key: ~
        ssl_chain: ~
        ssl_certs_dir: ~
        ssl_protocol: ~
        ssl_cipher: ~
