{% import "PuphpetMainBundle:front:macros/popover.html.twig" as popover %}
<section id="solr">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Apache Solr</h3>
                </div>

                <div class="row install-checkbox-container">
                    <div class="col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="solr[install]"
                                   {% if solr.install %}checked{% endif %} value="1" /> Install Apache Solr
                            {% if not solr.install %}<input type="hidden" name="solr[install]" value="0" />{% endif %}
                        </label>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <p class="help-block">
                                Solr is the popular, blazing-fast, open source enterprise search platform built on
                                Apache Lucene<sup>&trade;</sup>.
                                <a href="http://lucene.apache.org/solr/" target="_blank">Learn about Apache Solr</a>.
                                <br />
                                <br />
                                Apache Solr will be installed and the service will start automatically. Java will
                                also be installed if not already present on the vagrant box.
                                Solr server URL to use in your application is http://localhost:8983/solr/default.
                                Core configuration files could be found at
                                <code>/var/lib/solr/default/conf/</code> in your Vagrant box.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


